system/__pycache__/system.cpython-34.pyc
system/__pycache__/__init__.cpython-34.pyc
system/__pycache__/BSFramwork.cpython-34.pyc
__pycache__/MicroMES.cpython-34.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/jzmes.iml
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
Model/Global.py
