<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批次管理</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link href="../static/css/process.css" rel="stylesheet">
    <link href="../static/css/platform.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript " src="../static/custom/jquery.min.js "></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <div class="container" style="margin:3px;">
        <table id="ttplan" class="easyui-datagrid" style="width:100%;height:300px;" title="批次计划明细" data-options="
            url:'/batchManager/SearchBatchZYPlan',
            method:'GET',
            rownumbers:true,
            singleSelect:true,
            autoRowHeight:false,
            pagination:true,
            striped:false,
            checkOnSelect:true,
            selectOnCheck:true,
            collapsible:true,
            pageSize:10">
            <thead>
                <tr>
                    <th data-options="field: 'checked',align: 'center', checkbox:'true'"></th>
                    <th data-options="field: 'PlanDate',align: 'center',">计划日期</th>
                    <th data-options="field: 'PlanNo',align: 'center' ">制药计划单号</th>
                    <th data-options="field: 'BatchID',align: 'center' ">批次号</th>
                    <th data-options="field: 'PUID',align: 'center' ">工艺段</th>
                    <th data-options="field: 'PlanType',align: 'center' ">计划类型</th>
                    <th data-options="field: 'BrandName',align: 'center' ">品名名称</th>
                    <th data-options="field: 'ERPOrderNo',align: 'center' ">ERP订单号</th>
                    <th data-options="field: 'PlanQuantity',align: 'center' ">计划重量</th>
                    <th data-options="field: 'ActQuantity',align: 'center' ">实际重量</th>
                    <th data-options="field: 'Unit',align: 'center' ">单位</th>
                    <th data-options="field: 'EnterTime',align: 'center' ">录入时间</th>
                    <th data-options="field: 'PlanBeginTime',align: 'center' ">计划开始时间</th>
                    <th data-options="field: 'PlanEndTime',align: 'center' ">计划完成时间</th>
                    <th data-options="field: 'ActBeginTime',align: 'center' ">实际开始时间</th>
                    <th data-options="field: 'ActEndTime',align: 'center' ">实际完成时间</th>
                    <th data-options="field: 'ZYPlanStatus',align: 'center' ">计划状态</th>
                    <th data-options="field: 'LockStatus',align: 'center' ">计划锁定状态</th>
                    <th data-options="field: 'INFStatus',align: 'center' ">接口处理状态</th>
                    <th data-options="field: 'WMSStatus',align: 'center' ">仓储送料状态</th>
                </tr>
            </thead>
        </table>
        <div id="tab" class="easyui-tabs" style="width:100%;height:250px;margin-top: 10px;">
            <div title="批次任务明细" data-options="closable:false"  style="padding:0px;display:none;">
                <table id="TasksTab" class="easyui-datagrid" style="width:100%;"  data-options="url:
                '/batchManager/SearchBatchZYTask', method: 'get', rownumbers:true, singleSelect:false, autoRowHeight:false, pagination:true, striped:true, checkOnSelect:false,
                selectOnCheck:false, collapsible:true, pageSize:10 " >
                <thead>
                    <tr>
                        <th data-options="field: 'PlanDate',align: 'center' ">计划日期</th>
                        <th data-options="field: 'TaskID',align: 'center' ">制药计划单号</th>
                        <th data-options="field: 'BatchID',align: 'center' ">批次号</th>
                        <th data-options="field: 'PlanSeq',align: 'center' ">顺序号</th>
                        <th data-options="field: 'PUID',align: 'center' ">工艺段</th>
                        <th data-options="field: 'PDUnitRouteName',align: 'center' ">工艺路线名称</th>
                        <th data-options="field: 'PlanType',align: 'center' ">计划类型</th>
                        <th data-options="field: 'BrandID',align: 'center' ">牌号编码</th>
                        <th data-options="field: 'BrandName',align: 'center' ">牌号名称</th>
                        <th data-options="field: 'MaterialID',align: 'center' ">物料ID</th>
                        <th data-options="field: 'MaterialName',align: 'center' ">物料名称名称</th>
                        <th data-options="field: 'PlanQuantity',align: 'center' ">计划重量</th>
                        <th data-options="field: 'ActQuantity',align: 'center' ">实际重量</th>
                        <th data-options="field: 'Unit',align: 'center' ">单位</th>
                        <th data-options="field: 'EnterTime',align: 'center' ">录入时间</th>
                        <th data-options="field: 'ActBeginTime',align: 'center' ">实际开始时间</th>
                        <th data-options="field: 'ActEndTime',align: 'center' ">实际完成时间</th>
                        <th data-options="field: 'SetRepeatCount',align: 'center' ">设定重复次数</th>
                        <th data-options="field: 'CurretnRepeatCount',align: 'center' ">当前重复次数</th>
                        <th data-options="field: 'ActTank',align: 'center' ">实际罐号</th>
                        <th data-options="field: 'TaskStatus',align: 'center' " formatter="formatterStatus">任务状态</th>
                        <th data-options="field: 'LockStatus',align: 'center' " formatter="formatterLockStatus">任务锁定状态</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div title="批次物料明细" data-options="closable:false" style="overflow:auto;padding:0px;display:none;">
                <table id="MaterialsTab" class="easyui-datagrid" style="width:100%;" data-options="url:
                '/ZYPlanGuid/CriticalMaterials', method: 'get', rownumbers:true, singleSelect:false, autoRowHeight:false, pagination:true, striped:true, checkOnSelect:false,
                selectOnCheck:false, collapsible:true, pageSize:10 " >
                <thead>
                    <tr>
                        <th data-options="field: 'PlanDate',align: 'center' ">计划日期</th>
                        <th data-options="field: 'TaskID',align: 'center' ">制药计划单号</th>
                        <th data-options="field: 'BatchID',align: 'center' ">批次号</th>
                        <th data-options="field: 'PlanSeq',align: 'center' ">顺序号</th>
                        <th data-options="field: 'PUID',align: 'center' ">工艺段</th>
                        <th data-options="field: 'PDUnitRouteName',align: 'center' ">工艺路线名称</th>
                        <th data-options="field: 'PlanType',align: 'center' ">计划类型</th>
                        <th data-options="field: 'BrandID',align: 'center' ">牌号编码</th>
                        <th data-options="field: 'BrandName',align: 'center' ">牌号名称</th>
                        <th data-options="field: 'PlanQuantity',align: 'center' ">计划重量</th>
                        <th data-options="field: 'ActQuantity',align: 'center' ">实际重量</th>
                        <th data-options="field: 'Unit',align: 'center' ">单位</th>
                        <th data-options="field: 'EnterTime',align: 'center' ">录入时间</th>
                        <th data-options="field: 'ActBeginTime',align: 'center' ">实际开始时间</th>
                        <th data-options="field: 'ActEndTime',align: 'center' ">实际完成时间</th>
                        <th data-options="field: 'SetRepeatCount',align: 'center' ">设定重复次数</th>
                        <th data-options="field: 'CurretnRepeatCount',align: 'center' ">当前重复次数</th>
                        <th data-options="field: 'ActTank',align: 'center' ">实际罐号</th>
                        <th data-options="field: 'TaskStatus',align: 'center' " formatter="formatterStatus">任务状态</th>
                        <th data-options="field: 'LockStatus',align: 'center' " formatter="formatterLockStatus">任务锁定状态</th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $("#TasksTab").datagrid({
                queryParams: {
                    ID: getUrlParam('ID'),
                    PName: getUrlParam('text')
                },
                onClickRow:function(rowIndex,rowData){
                    //传参到批次任务明细
                    $("#TasksTab").datagrid('load',{
                        ID:rowData.ID
                    })
                }
            })
        })
        //获取页面传参
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = decodeURI(window.location.search).substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        function formatterStatus(value, row, index){
            if (value == 10){
                return '新增计划'
            }else if(value == 20){
                return '审核计划'
            }else if(value == 21){
                return '下发计划'
            }else if(value == 40){
                return '撤回'
            }else if(value == 50){
                return '执行'
            }else if(value == 60){
                return '已完成'
            }else if(value == 70){
                return 'QA放行'
            }
        }
        function formatterLockStatus(value, row, index){
            if (value == 10){
                return '锁定'
            }else if(value == 0){
                return '解锁'
            }
        }
    </script>
</body>
</html>