<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批次管理</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link href="../static/css/process.css" rel="stylesheet">
    <link href="../static/css/platform.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <style>
        .colorBox {color:#fff;border-color:black;margin:0px;padding:5px 10px 5px 10px; text-align:center;display:inline;cursor: default;}
    </style>
    <script type="text/javascript " src="../static/custom/jquery.min.js "></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <div class="container" style="margin:3px;">
        <div style="margin:3px;">
            <div class="opt-buttons">
                <a href="#" class="easyui-linkbutton">批次计划申请</a>
                <a href="#" class="easyui-linkbutton">批生产开始</a>
                <a href="#" class="easyui-linkbutton">批生产结束</a>
                <a href="#" class="easyui-linkbutton">批次计划中止</a>
                <a href="#" class="easyui-linkbutton">切换工艺段</a>
                <a href="#" class="easyui-linkbutton">刷新</a>
            </div>
        </div>
        <div style="margin:3px;">
            <table class="kv-table">
                <tbody>
                    <tr>
                        <td class="kv-label" style="white-space:nowrap;">当前工作日</td>
                        <td class="kv-content">
                            <input id="currentWorkdate" type="text" class="easyui-datebox" style="height: 28px;width: 150px;" data-options="required:true,showSeconds:false,editable:false" autocomplete="off" placeholder="">
                        </td>
                        <td class="kv-label" style="white-space:nowrap;">工艺段名称</td>
                        <td class="kv-content">
                            <select name="PUID" id="PUID" type="text" style="height: 28px;width: 150px;" autocomplete="off" placeholder="">
                                <option value="">请选择</option>
                                {% for id in Product_unit_ID %}
                                    <option value="{{ id['ID'] }}">{{ id['text'] }}</option>
                                {% endfor %}
                            </select>
                        </td>
{#                        <td class="kv-label" style="white-space:nowrap;">调度模式</td>#}
{#                        <td class="kv-content">#}
{#                            <input type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="">#}
{#                        </td>#}
{#                        <td class="kv-label" style="white-space:nowrap;">控制模式</td>#}
{#                        <td class="kv-content">#}
{#                            <input type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="">#}
{#                        </td>#}
                        <td class="kv-label">
                            <a href="#" class="easyui-linkbutton" id="btnSearch">搜索</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="kv-table">
                <tbody>
                    <tr>
                        <td class="kv-label">计划状态色卡</td>
                        <td class="kv-content" style="width:90%">
                            <div class="colorBox pp1" style="background-color:#007bff;">任务编制</div>
                            <div class="colorBox pp2" style="background-color:#17a2b8;">任务下达</div>
                            <div class="colorBox pp3" style="background-color:#009688">任务新建</div>
                            <div class="colorBox pp4" style="background-color:#01aaed;">任务确认</div>
                            <div class="colorBox pp5" style="background-color:#2F4056;">任务执行</div>
                            <div class="colorBox pp6" style="background-color:#28a745;">任务完成</div>
                            <div class="colorBox pp7" style="background-color:#ffc107;">任务暂停</div>
                            <div class="colorBox pp8" style="background-color:#dc3545;">任务错误</div>
                            <div class="colorBox pp9" style="background-color:#6c757d;">任务中止</div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table id="tt" class="easyui-datagrid" style="width:100%;height:300px;" title="批次计划信息" data-options="url:'/batchManager/SearchBatchManager',
                method:'GET',
                rownumbers:true,
                singleSelect:true,
                autoRowHeight:false,
                pagination:true,
                striped:false,
                checkOnSelect:true,
                selectOnCheck:true,
                collapsible:true,
                toolbar:'#tb',
                pageSize:10">
            <thead>
                <tr>
                    <th data-options="field: 'checked',align: 'center', checkbox:'true'"></th>
                    <th data-options="field: 'PlanDate',align: 'center',">计划日期</th>
                    <th data-options="field: 'PlanNo',align: 'center' ">制药计划单号</th>
                    <th data-options="field: 'BatchID',align: 'center' ">批次号</th>
                    <th data-options="field: 'PlanSeq',align: 'center' ">顺序号</th>
                    <th data-options="field: 'PUID',align: 'center' ">工艺段</th>
                    <th data-options="field: 'PlanType',align: 'center' ">计划类型</th>
                    <th data-options="field: 'BrandID',align: 'center' ">品名</th>
                    <th data-options="field: 'BrandName',align: 'center' ">品名名称</th>
                    <th data-options="field: 'ERPOrderNo',align: 'center' ">ERP订单号</th>
                    <th data-options="field: 'PlanQuantity',align: 'center' ">计划重量</th>
                    <th data-options="field: 'ActQuantity',align: 'center' ">实际重量</th>
                    <th data-options="field: 'Unit',align: 'center' ">单位</th>
                    <th data-options="field: 'EnterTime',align: 'center' ">录入时间</th>
                    <th data-options="field: 'PlanBeginTime',align: 'center' ">计划开始时间</th>
                    <th data-options="field: 'PlanEndTime',align: 'center' ">计划结束时间</th>
                    <th data-options="field: 'ActBeginTime',align: 'center' ">实际开始时间</th>
                    <th data-options="field: 'ActEndTime',align: 'center' ">实际完成时间</th>
                    <th data-options="field: 'TaskStatus',align: 'center' ">任务状态</th>
                    <th data-options="field: 'LockStatus',align: 'center' ">任务锁定状态</th>
                    <th data-options="field: 'INFStatus',align: 'center' ">接口处理状态</th>
                    <th data-options="field: 'WMSStatus',align: 'center' ">仓储送料状态</th>
                </tr>
            </thead>
        </table>

        <div id="tab" class="easyui-tabs" style="width:100%;height:250px;">
            <div title="批次任务明细" data-options="closable:false"  style="padding:0px;display:none;">
                <table id="ttTasks" class="easyui-datagrid" style="width:100%;"  data-options="url:
                '/ZYPlanGuid/CriticalTasks', method: 'get', rownumbers:true, singleSelect:false, autoRowHeight:false, pagination:true, striped:true, checkOnSelect:false,
                selectOnCheck:false, collapsible:true, toolbar: '#tb', pageSize:10 " >
                <thead>
                    <tr>
                        <th data-options="field: 'PlanDate',align: 'center' ">计划日期</th>
                        <th data-options="field: 'TaskID',align: 'center' ">制药计划单号</th>
                        <th data-options="field: 'BatchID',align: 'center' ">批次号</th>
                        <th data-options="field: 'PlanSeq',align: 'center' ">顺序号</th>
                        <th data-options="field: 'PUID',align: 'center' ">工艺段</th>
                        <th data-options="field: 'PDUnitRouteName',align: 'center' ">工艺路线名称</th>
                        <th data-options="field: 'PlanType',align: 'center' ">计划类型</th>
                        <th data-options="field: 'BrandID',align: 'center' ">牌号编码</th>
                        <th data-options="field: 'BrandName',align: 'center' ">牌号名称</th>
                        <th data-options="field: 'MaterialID',align: 'center' ">物料ID</th>
                        <th data-options="field: 'MaterialName',align: 'center' ">物料名称名称</th>
                        <th data-options="field: 'PlanQuantity',align: 'center' ">计划重量</th>
                        <th data-options="field: 'ActQuantity',align: 'center' ">实际重量</th>
                        <th data-options="field: 'Unit',align: 'center' ">单位</th>
                        <th data-options="field: 'EnterTime',align: 'center' ">录入时间</th>
                        <th data-options="field: 'ActBeginTime',align: 'center' ">实际开始时间</th>
                        <th data-options="field: 'ActEndTime',align: 'center' ">实际完成时间</th>
                        <th data-options="field: 'SetRepeatCount',align: 'center' ">设定重复次数</th>
                        <th data-options="field: 'CurretnRepeatCount',align: 'center' ">当前重复次数</th>
                        <th data-options="field: 'ActTank',align: 'center' ">实际罐号</th>
                        <th data-options="field: 'TaskStatus',align: 'center' ">任务状态</th>
                        <th data-options="field: 'LockStatus',align: 'center' ">任务锁定状态</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div title="批次物料明细" data-options="closable:false" style="overflow:auto;padding:0px;display:none;">
                <table id="ttMaterials" class="easyui-datagrid" style="width:100%;" data-options="url:
                '/ZYPlanGuid/CriticalMaterials', method: 'get', rownumbers:true, singleSelect:false, autoRowHeight:false, pagination:true, striped:true, checkOnSelect:false,
                selectOnCheck:false, collapsible:true, toolbar: '#tb', pageSize:10 " >
                <thead>
                    <tr>
                        <th data-options="field: 'PlanDate',align: 'center' ">计划日期</th>
                        <th data-options="field: 'TaskID',align: 'center' ">制药计划单号</th>
                        <th data-options="field: 'BatchID',align: 'center' ">批次号</th>
                        <th data-options="field: 'PlanSeq',align: 'center' ">顺序号</th>
                        <th data-options="field: 'PUID',align: 'center' ">工艺段</th>
                        <th data-options="field: 'PDUnitRouteName',align: 'center' ">工艺路线名称</th>
                        <th data-options="field: 'PlanType',align: 'center' ">计划类型</th>
                        <th data-options="field: 'BrandID',align: 'center' ">牌号编码</th>
                        <th data-options="field: 'BrandName',align: 'center' ">牌号名称</th>
                        <th data-options="field: 'PlanQuantity',align: 'center' ">计划重量</th>
                        <th data-options="field: 'ActQuantity',align: 'center' ">实际重量</th>
                        <th data-options="field: 'Unit',align: 'center' ">单位</th>
                        <th data-options="field: 'EnterTime',align: 'center' ">录入时间</th>
                        <th data-options="field: 'ActBeginTime',align: 'center' ">实际开始时间</th>
                        <th data-options="field: 'ActEndTime',align: 'center' ">实际完成时间</th>
                        <th data-options="field: 'SetRepeatCount',align: 'center' ">设定重复次数</th>
                        <th data-options="field: 'CurretnRepeatCount',align: 'center' ">当前重复次数</th>
                        <th data-options="field: 'ActTank',align: 'center' ">实际罐号</th>
                        <th data-options="field: 'TaskStatus',align: 'center' ">任务状态</th>
                        <th data-options="field: 'LockStatus',align: 'center' ">任务锁定状态</th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //当前日期
        function getCurentDateStr() {
            var now = new Date();
            var year = now.getFullYear();       //年
            var month = now.getMonth() + 1;     //月
            var day = now.getDate();            //日
            var clock = year + "-";
            if (month < 10) clock += "0";
            clock += month + "-";
            if (day < 10) clock += "0";
            clock += day;
            return clock;
        }
        $(function(){
            //设置默认当前日期
            $('#currentWorkdate').datebox('setValue', getCurentDateStr());
            $('#currentWorkdate').datebox('calendar').calendar({
                validator: function (date) {
                    var now = new Date();
                    var d1 = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                    return date <= d1;
                }
            })
            //每10秒自执行
            setInterval(function () {
                $('#tt').datagrid('load').datagrid('loaded')
            }, 10000)
            $('#tt').datagrid({
                queryParams: {
                    currentWorkdate: $("#currentWorkdate").datebox('getValue'),
                    PUID: ''
                },
                rowStyler:function(index,row){
                    if (row.TaskStatus=='任务编制'){
                        return 'background-color:#007bff; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务下达'){
                        return 'background-color:#17a2b8; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务新建'){
                        return 'background-color:#009688; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务确认'){
                        return 'background-color:#01aaed; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务执行'){
                        return 'background-color:#2F4056; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务完成'){
                        return 'background-color:#28a745; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务暂停'){
                        return 'background-color:#ffc107; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务错误'){
                        return 'background-color:#dc3545; color:white;font-weight:bold;';
                    }
                    if (row.TaskStatus=='任务中止'){
                        return 'background-color:#6c757d; color:white;font-weight:bold;';
                    }
                },
                onClickRow:function(rowIndex,rowData){
                    //传参到批次任务明细
                    $("#ttTasks").datagrid('load',{
                        ABatchID:rowData.BatchID
                    })
                    //传参到批次物料明细
                    $("#ttMaterials").datagrid('load',{
                        ABatchID:rowData.BatchID
                    })
                    //色卡状态变化
                    if(rowData.TaskStatus == '任务编制'){
                        $('.pp1').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务编制</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp1').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务下达'){
                        $('.pp2').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务下达</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp2').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务新建'){
                        $('.pp3').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务新建</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp3').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务确认'){
                        $('.pp4').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务确认</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp4').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务执行'){
                        $('.pp5').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务执行</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp5').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务完成'){
                        $('.pp6').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务完成</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp6').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务暂停'){
                        $('.pp7').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务暂停</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp7').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务错误'){
                        $('.pp8').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务错误</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp8').mouseenter().siblings().tooltip('destroy')
                    }else if(rowData.TaskStatus == '任务中止'){
                        $('.pp9').tooltip({
                            position: 'bottom',
                            content: '<span style="color:#fff">您当前选择的是任务中止</span>',
                            onShow: function(){
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                })
                            }
                        });
                        $('.pp9').mouseenter().siblings().tooltip('destroy')
                    }
                }
            });
            //点击搜索 筛选表格数据
            $("#btnSearch").on('click',function(){
                $('#tt').datagrid('load',{
                    currentWorkdate: $("#currentWorkdate").datebox('getValue'),
                    PUID: $("#PUID").find("option:selected").val()
                })
            })
        })
    </script>
</body>
</html>