<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备保养记录</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <style>
        .table tbody tr td{
            vertical-align: middle;
            text-align: center;
        }
        .table tbody tr td.forbidden{
            background: #eee;
        }
    </style>
    <script>
        $(function(){
            $('#selectMonth').datetimepicker({
                format: 'yyyy-mm',
                startView: 4,
		        minView: 3,
                autoclose: true,
                todayHighlight : true   //当天高亮显示
            });
            $("#selectMonth").datetimepicker("setDate", new Date());


            //保存保养记录
            $("#save").on('click',function(){
                var allClear = []
                var allWiper = []
                var allConfirm = []
                $("input[name=clear]").each(function(){
                    var allstate = $(this).prop("checked")
                    if(allstate == true){
                        allstate = "1"
                    }else{
                        allstate = "0"
                    }
                    allClear.push(allstate)
                })
                allClear = JSON.stringify(allClear)
                $("input[name=wipe]").each(function(){
                    var allstate = $(this).prop("checked")
                    if(allstate == true){
                        allstate =  "1"
                    }else{
                        allstate =  "0"
                    }
                    allWiper.push(allstate)
                })
                allWiper = JSON.stringify(allWiper)
                $("input[name=confirm]").each(function(){
                    var allstate = $(this).prop("checked")
                    if(allstate == true){
                        allstate =  "1"
                    }else{
                        allstate =  "0"
                    }
                    allConfirm.push(allstate)
                })
                allConfirm = JSON.stringify(allConfirm)
                dateLimit()
                var EQPName = '["' + $("#EQPName").val() + '"]'
                var EQPModel = '["' + $("#EQPModel").val() + '"]'
                var selectMonth = '["' + $("#selectMonth").data("datetimepicker").getDate() + '"]'
                var EQPNumber = '["' + $("#EQPNumber").val() + '"]'
                var PersonLiable = '["' + $("#personLiable").val() + '"]'
                var SuperVisor = '["' + $("#supervisor").val() + '"]'
                var lubrication = '["' + $(".lubrication").prop("checked") + '"]'
                $.ajax({
                    url:'/EquipmentMaintenance/DataStore',
                    type:'get',
                    data:{
                        name:EQPName,
                        type:EQPModel,
                        date:selectMonth,
                        number:EQPNumber,
                        PersonLiable:PersonLiable,
                        SuperVisor:SuperVisor,
                        clear:allClear,
                        wipe:allWiper,
                        lubrication:lubrication,
                        confirm:allConfirm
                    },
                    beforeSend:function(){
                        $("#loadingModal").modal('show');
                    },
                    dataType: "text",
                    traditional:true,
                    success:function(data){
                        $("#loadingModal").modal('hide');
                        if(data == "OK"){
                            window.location.reload()
                        }else{
                            console.log(data)
                            alert("未知错误，请稍后重试！")
                        }
                    },
                    error:function(data,res){
                        $("#loadingModal").modal('hide');
                        alert("请求失败，请稍后重试")
                    }
                })
            })
            //查询保养记录
            $("#seachRecord").on('click',function () {
                //清空输入框和复选框
                $("#EQPNumber").val("")
                $("#personLiable").val("")
                $("#supervisor").val("")
                $("input[name=clear],input[name=wipe],input[name=lubrication],input[name=confirm]").each(function(){
                    $(this).prop("checked",false)
                })

                //获取时间
                var selectDate = $("#selectMonth").data("datetimepicker").getDate()
                selectDate = myformatter(selectDate)//选择的时间转换为 格式2018-12
                dateLimit()
                $.ajax({
                    url:'/EquipmentMaintenance/Search',
                    type:'get',
                    data:{
                        name:$("#EQPName").val(),
                        type:$("#EQPModel").val(),
                        date:selectDate
                    },
                    beforeSend:function(){
                        $("#loadingModal").modal('show');
                    },
                    success:function(data){
                        $("#loadingModal").modal('hide');
                        data = JSON.parse(data)
                        console.log(data)
                        for(var key in data){
                            if(key == "clear" || key == "wipe" || key == "confirm"){
                                for(var i = 0;i < data[key].length;i++){
                                    $("input[name="+ key +"]").eq(i).prop("checked",data[key][i])
                                }
                            }else if(key == "lubrication"){
                                $(".lubrication").prop("checked",data[key])
                            }else{
                                adddata(key,data[key])
                            }
                        }
                    },
                    error:function(data){
                        $("#loadingModal").modal('hide');
                        alert("请求失败，请稍后重试")
                        console.log(data)
                    }
                })
            })
            function dateLimit(){
                var nowDate = new Date()
                var myDate = myformatter(nowDate);//当前时间 格式2018-12
                var myDate1 = myDate.replace("-","/") //当前时间转换为 格式2018/12
                var selectDate = $("#selectMonth").data("datetimepicker").getDate()
                selectDate = myformatter(selectDate)//选择的时间转换为 格式2018-12
                selectDate1 = selectDate.replace("-","/").replace("-","/")//选择的时间转换为 格式2018/12
                $(".clear").each(function(i){
                    $(this).attr("disabled",false)
                    if(myDate1 == selectDate1){ //判断选择的是否是当月
                        if(i + 1 > nowDate.getDate()){ //判断当日是否大于复选框的对应的日期,大于就将复选框设为禁用
                            $(this).attr("disabled",true)
                        }
                    }else if(myDate1 < selectDate1){
                        $(this).attr("disabled",true)
                    }
                })
                $(".wipe").each(function(i){
                    $(this).attr("disabled",false)
                    if(myDate1 == selectDate1){
                        if(i + 1 > nowDate.getDate()){
                            $(this).attr("disabled",true)
                        }
                    }else if(myDate1 < selectDate1){
                        $(this).attr("disabled",true)
                    }
                })
                $(".confirm").each(function(i){
                    $(this).attr("disabled",false)
                    if(myDate1 == selectDate1){
                        if(i + 1 > nowDate.getDate()){
                            $(this).attr("disabled",true)
                        }
                    }else if(myDate1 < selectDate1){
                        $(this).attr("disabled",true)
                    }
                })
            }
            //根据key匹配id  加入数据
            function adddata(ids,res){
                $("#" + ids).val(res)
            }
            function adddataJson(ids,res){
                for (var i = 0; i < res.length; i++) {
                    $("." + ids).prop("checked",res[i])
                }
            }
            //时间转换
            function myformatter(date){
                var y = date.getFullYear();
                var m = date.getMonth()+1;
                var d = date.getDate();
                return y+'-'+(m<10?('0'+m):m);
            }
        })
    </script>
</head>
<body>
    <div class="modal" id="loadingModal" data-backdrop="static" data-keyboard="false">
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="progress progress-striped active" style="margin-bottom: 0;">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <h5>正在加载...</h5>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <div class="form-inline">
                <div class="form-group clearfix">
                    <label for="" class="control-label">设备名称：</label>
                    <input type="text" class="form-control" id="EQPName">
                    <label for="" class="control-label">设备型号：</label>
                    <input type="text" class="form-control" id="EQPModel">
                    <label for="" class="control-label">选择时间：</label>
                    <input type="text" class="form-control" id="selectMonth">
                    <button id="save" class="btn btn-primary">保存新增/修改的记录</button>
                    <button class="btn btn-primary" id="seachRecord">查询保养记录</button>
                </div>
            </div>
        </div>
    </div>
    <div class="well-lg">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>设备编号</td>
                    <td>
                        <input type="text" class="form-control" id="EQPNumber">
                    </td>
                    <td>责任车间</td>
                    <td class="text-center">提取车间</td>
                    <td>保养责任人</td>
                    <td><input type="text" class="form-control" id="personLiable"></td>
                    <td>督导人</td>
                    <td><input type="text" class="form-control" id="supervisor"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="width: 150px;">保养内容</td>
                    <td colspan="2" class="text-center">清洁</td>
                    <td>润滑</td>
                    <td rowspan="2" class="text-center">保养确认</td>
                </tr>
                <tr>
                    <td>日期</td>
                    <td>周围环境（清洁）</td>
                    <td>机外表面（擦拭）</td>
                    <td>电机加油</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="lubrication" class="lubrication"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>27</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>28</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>29</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
                <tr>
                    <td>31</td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="clear" class="clear"> 保养 / 未保养</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="wipe" class="wipe"> 保养 / 未保养</label></td>
                    <td class="forbidden"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" name="confirm" class="confirm"> 确认 / 未确认</label></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>