<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备说明书管理</title>
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script>
        $(function(){
            toolbar = {
                search:function(){
                    $('#tab').datagrid('load',{
                        Name: $("input[name=search]").val()
                    });
                },
                create:function(){
                    $("#fileClassDialog").dialog('open').dialog('setTitle','导入Excel表');
                },
                fileSave:function(){
                    var fileObj = $("#file").prop("files")[0]
                    var form = new FormData();
                    form.append("file", fileObj);
                    $.ajax({
                        url:'/EquipmentManagementManual/ManualUpload',
                        type:"post",
                        data:form,
                        cache:false,
                        processData: false,// 告诉jQuery不要去处理发送的数据
                        contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                        success:function(data){
                            if(data = "OK"){
                                $.messager.show({
                                    title: '提示',
                                    msg: '上传成功',
                                    timeout:1000,
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#fileClassDialog").dialog('close');
                                $('#tab').datagrid('reload');
                            }else{
                                $.messager.alert('上传失败！', data, 'warning');
                            }
                        },
                        error:function(data){
                            alert("上传失败")
                        }
                    })
                },
                delete:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                            if (flag) {
                                for (var i = 0; i < rows.length; i++) {
                                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                var a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/EquipmentManagementManual/ManualDelete',
                                    method: 'POST',
                                    data: a,
                                    success: function (data) {
                                        if(data == "OK"){
                                            $.messager.show({
                                                title: '提示',
                                                msg: '删除成功',
                                                timeout:1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#tab").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要删除的记录！', 'info');
                    }
                },
                download:function(){
                    var rows = $('#tab').datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                    } else if (rows.length == 1) {
                        var row = $('#tab').datagrid('getSelected');
                        if (row) {
                            $.ajax({
                                url: '/EquipmentManagementManual/ManualDownload',
                                method: 'get',
                                data: {
                                    Name:row.Name
                                },
                                success: function (data) {
                                    if(data){
                                        window.open(data);
                                    }
                                }
                            });
                        };
                    } else if (rows.length == 0) {
                        $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
                    }
                },
                refresh:function(){
                    $('#tab').datagrid('reload');
                }
            }
            function createKeyIDObj(keyID){
                return {
                    ID:keyID
                }
            }
        })
    </script>
</head>
<body>
    <div class="" style="padding: 10px;">
        <div id="Toolbar" style="padding:0 10px;">
            说明书名称:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="toolbar.search()">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="toolbar.create()">导入</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="toolbar.delete()">删除</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="toolbar.download()">下载</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="toolbar.refresh()">刷新</a>
        </div>
        <div id="fileClassDialog" class="easyui-dialog" style="width:400px;height:300px;padding:10px;"
             data-options="closed:'true',buttons:'#fileClassDialogButtons',modal:true">
            <form id="fileClassDialogForm" method="post" class="dialog-form" enctype="multipart/form-data">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">文件名</td>
                            <td class="kv-content">
                                <input class="" type="file" name="file" id="file" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="fileClassDialogButtons">
                    <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-save'" onclick="toolbar.fileSave()">保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#fileClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
        <table class="easyui-datagrid" id="tab" title="" style="width:100%;" data-options="
            queryParams: {
                Name: ''
            },
            url:'/EquipmentManagementManual/ManualShow',
            rownumbers:true,
            singleSelect:false,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            toolbar:'#Toolbar',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'Name',width:150,align:'center'">说明书名称</th>
                    <th data-options="field:'Author',width:120,align:'center'">上传人</th>
                    <th data-options="field:'UploadTime',width:150,align:'center'">上传时间</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>