<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备运行数据</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <style>
        .panel-body{overflow: hidden;}
    </style>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script>
        $(function(){
            $("#beginTime").datebox({
                onShowPanel: function () {//显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                    span.trigger('click'); //触发click事件弹出月份层
                    if (!tds)
                        setTimeout(function() { //延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                            tds = p.find('div.calendar-menu-month-inner td');
                            tds.click(function(e) {
                                e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                                var year = /\d{4}/.exec(span.html())[0] //得到年份
                                    ,month = parseInt($(this).attr('abbr'), 10); //月份 之前是这样的month = parseInt($(this).attr('abbr'), 10) + 1;
                                $('#beginTime').datebox('hidePanel') //隐藏日期对象
                                    .datebox('setValue', year + '-' + month); //设置日期的值
                            });
                        }, 0);
                },
                parser: function (s) {//配置parser，返回选择的日期
                    if (!s) return new Date();
                    var arr = s.split('-');
                    return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
                },
                formatter: function (d) {
                    return d.getFullYear() + '-' +(d.getMonth()+1);
                }//配置formatter，只返回年月 之前是这样的d.getFullYear() + '-' +(d.getMonth());
            });
            var p = $('#beginTime').datebox('panel'), //日期选择对象
            tds = false, //日期选择对象中月份
            span = p.find('span.calendar-text'); //显示月份层的触发控件
            var curr_time = new Date();
            $("#beginTime").datebox("setValue", myformatter(curr_time));//设置前当月

            var EQPName = ""
            $('#LeftTree').tree({
                url:"/quipmentRunPUIDParent",
                method: 'get',
                animate:true,
                loadFilter:function(data){
                    return data
                },
                onClick: function (node) {
                    if($('#LeftTree').tree('isLeaf',node.target)){
                        EQPName = node.text
                        var beginTime = $('#beginTime').datebox('getValue')
                        toJson(EQPName,beginTime)
                    }

                }
            })
            $("#searchDate").on("click",function(){
                var beginTime = $('#beginTime').datebox('getValue')
                toJson(EQPName,beginTime)
            })
        })
        function toJson(name,date){
            var myChart = echarts.init(document.getElementById("main"))
            if(name == ""){
                myChart.hideLoading();
            }else {
                myChart.showLoading();
                $.ajax({
                    url: "/EquipmentManage/runDataChart",
                    type: "get",
                    data: {
                        equip: name,
                        date: date
                    },
                    dataType: "json",
                    traditional:true,
                    success: function (data) {
                        console.log(data)
                        if (data[0].input != "NO" || data[0].output != "NO" || data[0].sampling_quantity != "NO") {
                            var input = ''
                            var output = ''
                            var sampling_quantity = ''
                            for(var i = 0;i < data.length;i++){
                                input = data[i].input
                                output = data[i].output
                                sampling_quantity = data[i].sampling_quantity
                            }
                            myChart.hideLoading();
                            myChart.setOption(option = {
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'shadow'
                                    }
                                },
                                legend: {
                                    data: ['投入量', '产出量', '得率']
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    data: []
                                },
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '重量',
                                        min: 0,
                                        interval: 500,
                                        axisLabel: {
                                            formatter: '{value} kg'
                                        }
                                    }, {
                                        type: 'value',
                                        name: '百分比',
                                        min: 0,
                                        max: 100,
                                        interval: 10,
                                        axisLabel: {
                                            formatter: '{value} %'
                                        }
                                    }
                                ],
                                series: [{
                                    name: "投入量",
                                    type: 'bar',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    itemStyle:{
                                        normal:{
                                            color:'#90ed7d'
                                        }
                                    },
                                    data: input
                                }, {
                                    name: "产出量",
                                    type: 'bar',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    itemStyle:{
                                        normal:{
                                            color:'#f7a35c'
                                        }
                                    },
                                    data: output
                                }, {
                                    name: "得率",
                                    type: 'bar',
                                    yAxisIndex: 1,
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{c} %'
                                        }
                                    },
                                    itemStyle:{
                                        normal:{
                                            color:'#7cb5ec'
                                        }
                                    },
                                    data: sampling_quantity
                                }]
                            });
                            myChart.setOption(option);
                        } else {
                            $.messager.alert({
                                title: '提示',
                                msg: data[0].batch + "批次暂无完整数据，请查看其它批次。",
                                icon: 'info',
                                width: 300,
                                top: 200,
                                left: 500
                            })
                            myChart.hideLoading();
                        }
                    }

                })
            }
        }
        function myformatter(date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            //var d = 1;
            return y + '-' + (m < 10 ? ('0' + m) : m);//+ '-' + (d < 10 ? ('0' + d) : d);
        }
    </script>
</head>
<body>
    <div class="left-tree" style="width: 15%;float: left;vertical-align: top;border: 1px solid #ccc;margin: 1%;padding: 1%;">
        <ul id="LeftTree" class="easyui-tree"></ul>
    </div>
    <div id="container" style="width: 80%;float: left;vertical-align: top;">
        <div style="padding:10px 0px 5px 10px;">
            <a>  设备运行日期:  </a>
            <input class="easyui-datebox" id="beginTime" style="width:166px;height:35px;line-height:35px;">
            <a id="searchDate" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">选择时间</a>
        </div>
        <div id="tt" class="easyui-tabs" style="width:100%;height:600px;margin-top:10px; scrolling:'false'">
            <div title="设备运行数据-统计图">
                <div id="main" style="width: 1000px; height: 560px; margin: 10px auto;"></div>
            </div>
        </div>
    </div>
</body>
</html>