<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备运行记录</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script>
        $(function(){
            $("#beginTime").datebox({
                onShowPanel: function () {//显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                    span.trigger('click'); //触发click事件弹出月份层
                    if (!tds)
                        setTimeout(function() { //延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                            tds = p.find('div.calendar-menu-month-inner td');
                            tds.click(function(e) {
                                e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                                var year = /\d{4}/.exec(span.html())[0] //得到年份
                                    ,month = parseInt($(this).attr('abbr'), 10); //月份 之前是这样的month = parseInt($(this).attr('abbr'), 10) + 1;
                                $('#beginTime').datebox('hidePanel') //隐藏日期对象
                                    .datebox('setValue', year + '-' + month); //设置日期的值
                            });
                        }, 0);
                },
                parser: function (s) {//配置parser，返回选择的日期
                    if (!s) return new Date();
                    var arr = s.split('-');
                    return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
                },
                formatter: function (d) {
                    return d.getFullYear() + '-' +(d.getMonth()+1);
                }//配置formatter，只返回年月 之前是这样的d.getFullYear() + '-' +(d.getMonth());
            });
            var p = $('#beginTime').datebox('panel'), //日期选择对象
            tds = false, //日期选择对象中月份
            span = p.find('span.calendar-text'); //显示月份层的触发控件
            var curr_time = new Date();
            $("#beginTime").datebox("setValue", myformatter(curr_time));//设置前当月

            var EQPName = ""
            $('#LeftTree').tree({
                url:"/quipmentRunPUIDParent",
                method: 'get',
                animate:true,
                loadFilter:function(data){
                    return data
                },
                onClick: function (node) {
                    EQPName = node.text
                    var beginTime = $('#beginTime').datebox('getValue')
                    $("#tab").datagrid('load',{
                    InputDate:beginTime,
                    EQPName:EQPName
                })
                }
            })
            toolbar = {
                create:function(){
                    $("#equimentsClassDialog").dialog('open').dialog('setTitle','新增运行记录');
                    $('#ID').val();
                    $('#InputDate').val();
                    $('#Classes').val();
                    $('#RunDate').val();
                    $('#ClearDate').val();
                    $('#FailureDate').val();
                    $('#OperatePeople').val();
                    $('#BrandName1').val();
                    $('#BatchID1').val();
                    $('#BrandName2').val();
                    $('#BatchID2').val();
                },
                update:function(){
                    var rows = $('#tab').datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                    } else if (rows.length == 1) {
                        var row = $('#tab').datagrid('getSelected');
                        if (row) {
                            $("#equimentsClassDialog").dialog('open').dialog('setTitle','修改记录');
                            $('#ID').val(row.ID);
                            $('#InputDate').val(row.InputDate);
                            $('#Classes').val(row.Classes);
                            $('#RunDate').val(row.RunDate);
                            $('#ClearDate').val(row.ClearDate);
                            $('#FailureDate').val(row.FailureDate);
                            $('#OperatePeople').val(row.OperatePeople);
                            $('#BrandName1').val(row.BrandName1);
                            $('#BatchID1').val(row.BatchID1);
                            $('#BrandName2').val(row.BrandName2);
                            $('#BatchID2').val(row.BatchID2);
                        };
                    } else if (rows.length == 0) {
                        $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
                    }
                },
                save:function(){
                    var strID = $('#ID').val();
                    var urlAddr = ''
                    var hintinfo = ''
                    if(Bee.StringUtils.isEmpty($('#InputDate').val())){
                        $.messager.alert('提示', '日期不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#Classes').val())){
                        $.messager.alert('提示', '班次不能为空！', 'info');
                        return false;
                    }
                    if (strID.length >= 1){
                        urlAddr = '/equipmentRunRecordUpdate'
                        hintinfo = "修改记录"
                    }
                    else {
                        urlAddr = '/equipmentRunRecordCreate'
                        hintinfo = "新增记录"
                    }
                    $.ajax({
                        url:urlAddr,
                        type:"post",
                        data:{
                            ID:$('#ID').val(),
                            EquipmentRunCountRecordID:getUrlParam('ID'),
                            InputDate:$('#InputDate').val(),
                            Classes:$('#Classes').val(),
                            RunDate:$('#RunDate').val(),
                            ClearDate:$('#ClearDate').val(),
                            FailureDate:$('#FailureDate').val(),
                            OperatePeople:$('#OperatePeople').val(),
                            BrandName1:$('#BrandName1').val(),
                            BatchID1:$('#BatchID1').val(),
                            BrandName2:$('#BrandName2').val(),
                            BatchID2:$('#BatchID2').val()
                        },
                        success:function(data){
                            $.messager.progress('close');
                            if(data == "OK"){
                                $.messager.show({
                                    title: '提示',
                                    msg: hintinfo  + '成功',
                                    timeout:1000,
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#equimentsClassDialog").dialog('close');
                                $('#tab').datagrid('reload');
                            } else {
                                $.messager.alert('请求失败！', '未知错误导致失败，请重试！', 'warning');
                            }
                        },
                        error: function(data){
                           console.log(data.responseText)
                           alert(hintinfo+ "异常，请刷新后重试...");
                        },
                    })
                },
                delete:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                            if (flag) {
                                for (var i = 0; i < rows.length; i++) {
                                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                var a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/equipmentRunRecordDelete',
                                    method: 'POST',
                                    data: a,
                                    success: function (data) {
                                        if(data == "OK"){
                                            $.messager.progress('close');
                                            $("#tab").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要删除的记录！', 'info');
                    }
                },
                refresh:function(){
                    $('#tab').datagrid('reload');
                }
            }
            $("#searchRecord").on('click',function(){
                var beginTime = $('#beginTime').datebox('getValue')
                $("#tab").datagrid('load',{
                    InputDate:beginTime,
                    EQPName:EQPName
                })
            })
            //datagrid表格右键操作
            $("#tab").datagrid({
                queryParams: {
                    InputDate:$('#beginTime').datebox('getValue'),
                    EQPName:EQPName
                },
                onRowContextMenu: function (e, rowIndex, rowData) { //右键时触发事件
                    //三个参数：e里面的内容很多，真心不明白，rowIndex就是当前点击时所在行的索引，rowData当前行的数据
                    e.preventDefault(); //阻止浏览器捕获右键事件
                    $(this).datagrid("clearSelections"); //取消所有选中项
                    $(this).datagrid("selectRow", rowIndex); //根据索引选中该行
                    $('#contextmenu').menu('show', {
                        //显示右键菜单
                        left: e.pageX,//在鼠标点击处显示菜单
                        top: e.pageY
                    });
                    e.preventDefault();  //阻止浏览器自带的右键菜单弹出
                }
            });
        })
        function createKeyIDObj(keyID){
            return {
                ID:keyID
            }
        }
        function myformatter(date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            //var d = 1;
            return y + '-' + (m < 10 ? ('0' + m) : m);//+ '-' + (d < 10 ? ('0' + d) : d);
        }
    </script>
</head>
<body>
    <div class="left-tree" style="width: 15%;float: left;vertical-align: top;border: 1px solid #ccc;margin: 1%;padding: 1%;">
        <ul id="LeftTree" class="easyui-tree"></ul>
    </div>
    <div id="container" style="width: 80%;float: left;vertical-align: top;">
        <div style="padding:10px 0px 5px 10px;">
	    <a>  选择时间:  </a>
        <input class="easyui-datebox" id="beginTime" style="width:166px;height:35px;line-height:35px;">
        <a id="searchRecord" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询设备运行记录</a>
	</div>
        <div id="Toolbar" style="padding:0 10px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="toolbar.create()">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="toolbar.update()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="toolbar.delete()">删除</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="toolbar.refresh()">刷新</a>
        </div>
        <div id="equimentsClassDialog" class="easyui-dialog" style="width:400px;height:560px;padding:10px;"
             data-options="closed:'true',buttons:'#equimentsClassDialogButtons',modal:true">
            <form id="equimentsClassDialogForm" method="post" class="dialog-form">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">id</td>
                            <td class="kv-content">
                                <input name="ID" id="ID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">日期</td>
                            <td class="kv-content">
                                <input name="InputDate" id="InputDate" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">班次</td>
                            <td class="kv-content">
                                <input name="Classes" id="Classes" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">运行时间（h）</td>
                            <td class="kv-content">
                                <input name="RunDate" id="RunDate" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">清场时间（h）</td>
                            <td class="kv-content">
                                <input name="ClearDate" id="ClearDate" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">故障时间（h）</td>
                            <td class="kv-content">
                                <input name="FailureDate" id="FailureDate" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">操作人</td>
                            <td class="kv-content">
                                <input name="OperatePeople" id="OperatePeople" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">产品名称</td>
                            <td class="kv-content">
                                <input name="BrandName1" id="BrandName1" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">产品批号</td>
                            <td class="kv-content">
                                <input name="BatchID1" id="BatchID1" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">产品名称</td>
                            <td class="kv-content">
                                <input name="BrandName2" id="BrandName2" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">产品批号</td>
                            <td class="kv-content">
                                <input name="BatchID2" id="BatchID2" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="equimentsClassDialogButtons">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveAdd" onclick="toolbar.save()" >保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#equimentsClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
        <table class="easyui-datagrid" id="tab" title="设备运行记录" style="width:100%;" data-options="
            url:'/equipmentRunSearch',
            rownumbers:true,
            singleSelect:false,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            toolbar:'#Toolbar',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'InputDate',width:150,align:'center'">日期</th>
                    <th data-options="field:'Classes',width:150,align:'center'">班次</th>
                    <th data-options="field:'RunDate',width:150,align:'center'">运行时间</th>
                    <th data-options="field:'ClearDate',width:150,align:'center'">清场时间</th>
                    <th data-options="field:'FailureDate',width:150,align:'center'">故障时间</th>
                    <th data-options="field:'OperatePeople',width:150,align:'center'">操作人</th>
                    <th data-options="field:'BrandName1',width:150,align:'center'">产品名称</th>
                    <th data-options="field:'BatchID1',width:150,align:'center'">产品批号</th>
                    <th data-options="field:'BrandName2',width:150,align:'center'">产品名称</th>
                    <th data-options="field:'BatchID2',width:150,align:'center'">产品批号</th>
                </tr>
            </thead>
        </table>
        <!-- 右键菜单 -->
        <div id="contextmenu" class="easyui-menu" style="width:120px;">
            <div data-options="iconCls:'icon-edit'" onclick="toolbar.update();">编辑</div>
            <div data-options="iconCls:'icon-remove'" onclick="toolbar.delete();">删除</div>
        </div>
    </div>
</body>
</html>