<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备故障管理</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script>
        $(function(){
            $("#tab").datagrid({
                url:'/EquipmentFailureReportingSearch',
                queryParams: {
                    EQPName: ''
                }
            })
            function createKeyIDObj(keyID){
                    return {
                        ID:keyID
                    }
                }
            toolbar = {
                search:function(){
                    $('#tab').datagrid('load',{
                        EQPName:$("#search").val()
                    });
                },
                create:function(){
                    $("#equimentsClassDialog").dialog('open').dialog('setTitle','新增故障记录');
                    $('#ID').val();
                    $('#PUIDName option[value=""]').prop("selected", 'selected')
                    $('#Shift option[value=""]').prop("selected", 'selected')
                    $("#EQPName").val()
                    $("#FailureReportingDesc").val()
                },
                update:function(){
                    var rows = $('#tab').datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                    } else if (rows.length == 1) {
                        var row = $('#tab').datagrid('getSelected');
                        if (row) {
                            $("#equimentsClassDialog").dialog('open').dialog('setTitle','修改记录');
                            $('#ID').val(row.ID);
                            $('#PUIDName option:contains('+row.PUIDName+')').prop("selected", 'selected');
                            $('#Shift option:contains('+row.Shift+')').prop("selected", 'selected');
                            $("#EQPName").val(row.EQPName)
                            $("#FailureReportingDesc").val(row.FailureReportingDesc)
                        };
                    } else if (rows.length == 0) {
                        $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
                    }
                },
                save:function(){
                    var strID = $('#ID').val();
                    var urlAddr = ''
                    var hintinfo = ''
                    if(Bee.StringUtils.isEmpty($('#PUIDName').find("option:selected").val())){
                        $.messager.alert('提示', '工序不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#Shift').find("option:selected").val())){
                        $.messager.alert('提示', '早晚班不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#EQPName').val())){
                        $.messager.alert('提示', '设备名称不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#FailureReportingDesc').val())){
                        $.messager.alert('提示', '故障描述不能为空！', 'info');
                        return false;
                    }
                    if (strID.length >= 1){
                        urlAddr = '/EquipmentFailureReportingUpdate'
                        hintinfo = "修改记录"
                    }
                    else {
                        urlAddr = '/EquipmentFailureReportingCreate'
                        hintinfo = "新增记录"
                    }
                    $.ajax({
                        url:urlAddr,
                        type:"post",
                        data:{
                            ID:$('#ID').val(),
                            PUIDName:$('#PUIDName').find("option:selected").val(),
                            Shift:$('#Shift').find("option:selected").val(),
                            EQPName:$('#EQPName').val(),
                            FailureReportingDesc:$('#FailureReportingDesc').val()
                        },
                        success:function(data){
                            $.messager.progress('close');
                            if(data == "OK"){
                                $.messager.show({
                                    title: '提示',
                                    msg: hintinfo  + '成功',
                                    timeout:1000,
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#equimentsClassDialog").dialog('close');
                                $('#tab').datagrid('reload');
                            } else {
                                $.messager.alert('请求失败！', '未知错误导致失败，请重试！', 'warning');
                            }
                        },
                        error: function(data){
                           console.log(data.responseText)
                           alert(hintinfo+ "异常，请刷新后重试...");
                        },
                    })
                },
                delete:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                            if (flag) {
                                for (var i = 0; i < rows.length; i++) {
                                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                var a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/EquipmentFailureReportingDelete',
                                    method: 'POST',
                                    data: a,
                                    success: function (data) {
                                        if(data == "OK"){
                                            $.messager.progress('close');
                                            $("#tab").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要删除的记录！', 'info');
                    }
                },
                Receipt:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '是否要对此设备进行维修？', function (flag) {
                            if (flag) {
                                for (var i = 0; i < rows.length; i++) {
                                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                var a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/EquipmentFailureReportingHandle',
                                    method: 'POST',
                                    data: a,
                                    success: function (data) {
                                        if(data == "OK"){
                                            $.messager.progress('close');
                                            $("#tab").datagrid('reload');
                                        }else{
                                            $.messager.alert('提示', data, 'info');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要处理的记录！', 'info');
                    }
                },
                ReceiptOK:function(){
                    var rows = $('#tab').datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '只能选定一条数据！', 'warning');
                    } else if (rows.length == 1) {
                        var row = $('#tab').datagrid('getSelected');
                        if (row) {
                            $("#serviceClassDialog").dialog('open').dialog('setTitle','完成维修');
                            $('#aID').val(row.ID)
                            $("#AnalysisFailure").val()
                            $("#Precautions").val()
                            $("#UnAffectingProduction").val()
                            $("#AffectingProduction").val()
                            $("#Repairman").val()
                            $("#ReplacementOfSpareParts").val()
                        };
                    } else if (rows.length == 0) {
                        $.messager.alert('警告操作！', '请至少选定一条数据进行完成！', 'warning');
                    }
                },
                service:function(){
                    $.ajax({
                        url:"/EquipmentFailureReportingConfirm",
                        type:"post",
                        data:{
                            ID:$('#aID').val(),
                            AnalysisFailure:$('#ActualBeginDate').val(),
                            Precautions:$('#Precautions').val(),
                            UnAffectingProduction:$('#UnAffectingProduction').val(),
                            AffectingProduction:$('#AffectingProduction').val(),
                            Repairman:$('#Repairman').val(),
                            ReplacementOfSpareParts:$('#ReplacementOfSpareParts').val()
                        },
                        success:function(data){
                            $.messager.progress('close');
                            if(data == "OK"){
                                $.messager.show({
                                    title: '提示',
                                    msg: '维修完成',
                                    timeout:1000,
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#serviceClassDialog").dialog('close');
                                $('#tab').datagrid('reload');
                            } else {
                                $.messager.alert('请求失败！', data, 'warning');
                            }
                        },
                        error: function(data){
                           console.log(data.responseText)
                           alert("异常，请刷新后重试...");
                        },
                    })
                },
                refresh:function(){
                    $('#tab').datagrid('reload');
                }
            }
        })
    </script>
</head>
<body>
    <div class="content" style="padding: 10px;">
        <div id="Toolbar" style="padding:0 10px;">
            设备名称:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" id="search" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="toolbar.search();">查询</a>
            {% if rolename == "操作人" or rolename == "系统管理员"%}
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="toolbar.create()">报修</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="toolbar.update()">编辑</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="toolbar.delete()">删除</a>
            {% endif %}
            {% if rolename == "设备部技术人员" or rolename == "系统管理员" %}
                <a href="#" class="easyui-linkbutton" iconCls="icon-filter" onclick="toolbar.Receipt()">开始维修</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="toolbar.ReceiptOK()">维修完成</a>
            {% endif %}
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="toolbar.refresh()">刷新</a>
        </div>
        <div id="equimentsClassDialog" class="easyui-dialog" style="width:400px;height:360px;padding:10px;"
             data-options="closed:'true',buttons:'#equimentsClassDialogButtons',modal:true">
            <form id="equimentsClassDialogForm" method="post" class="dialog-form">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">id</td>
                            <td class="kv-content">
                                <input name="ID" id="ID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">工序</td>
                            <td class="kv-content">
                                <select name="PUIDName" id="PUIDName" type="text" style="width:157px;" autocomplete="off" placeholder="">
                                    <option value="">请选择</option>
                                    <option value="前处理">前处理</option>
                                    <option value="吊篮输送">吊篮输送</option>
                                    <option value="吊篮提取罐">吊篮提取罐</option>
                                    <option value="碟片离心机">碟片离心机</option>
                                    <option value="MVR">MVR</option>
                                    <option value="喷雾塔">喷雾塔</option>
                                    <option value="醇沉系统">醇沉系统</option>
                                    <option value="称量包装机">称量包装机</option>
                                    <option value="除渣机">除渣机</option>
                                    <option value="粉碎机">粉碎机</option>
                                    <option value="投料系统">投料系统</option>
                                    <option value="空调系统">空调系统</option>
                                    <option value="配电系统">配电系统</option>
                                    <option value="纯水系统">纯水系统</option>
                                    <option value="锅炉">锅炉</option>
                                    <option value="其他辅助设备">其他辅助设备</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">早晚班</td>
                            <td class="kv-content">
                                <select name="Shift" id="Shift" type="text" style="width:157px;" autocomplete="off" placeholder="">
                                    <option value="">请选择</option>
                                    <option value="早班">早班</option>
                                    <option value="晚班">晚班</option>
                                    <option value="全天">全天</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">设备名称</td>
                            <td class="kv-content">
                                <input name="EQPName" id="EQPName" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">故障描述</td>
                            <td class="kv-content">
                                <input name="FailureReportingDesc" required="true" id="FailureReportingDesc" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="equimentsClassDialogButtons">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveAdd" onclick="toolbar.save()" >保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#equimentsClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
        <div id="serviceClassDialog" class="easyui-dialog" style="width:400px;height:300px;padding:10px;"
             data-options="closed:'true',buttons:'#serviceClassDialogButtons',modal:true">
            <form id="serviceClassDialogForm" method="post" class="dialog-form">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">id</td>
                            <td class="kv-content">
                                <input name="aID" id="aID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">原因分析</td>
                            <td class="kv-content">
                                <input name="AnalysisFailure" id="AnalysisFailure" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">解决措施</td>
                            <td class="kv-content">
                                <input name="Precautions" id="Precautions" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">不影响生产（分钟）</td>
                            <td class="kv-content">
                                <input name="UnAffectingProduction" id="UnAffectingProduction" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">影响生产（分钟）</td>
                            <td class="kv-content">
                                <input name="AffectingProduction" id="AffectingProduction" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">维修人</td>
                            <td class="kv-content">
                                <input name="Repairman" id="Repairman" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">备件更换情况</td>
                            <td class="kv-content">
                                <input name="ReplacementOfSpareParts" id="ReplacementOfSpareParts" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="serviceClassDialogButtons">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="toolbar.service()">保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#serviceClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
        <table class="easyui-datagrid" id="tab" title="" style="width:100%;" data-options="
            rownumbers:true,
            singleSelect:false,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            toolbar:'#Toolbar',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'ReportingNum',width:150,align:'center'">设备故障报修计划单号</th>
                    <th data-options="field:'PUIDName',width:150,align:'center'">工序</th>
                    <th data-options="field:'Shift',width:150,align:'center'">早晚班</th>
                    <th data-options="field:'EQPName',width:150,align:'center'">设备名称</th>
                    <th data-options="field:'FailureReportingDesc',width:150,align:'center'">故障描述</th>
                    <th data-options="field:'AnalysisFailure',width:150,align:'center'">原因分析</th>
                    <th data-options="field:'Precautions',width:150,align:'center'">解决措施</th>
                    <th data-options="field:'UnAffectingProduction',width:150,align:'center'">不影响生产（分钟）</th>
                    <th data-options="field:'AffectingProduction',width:150,align:'center'">影响生产（分钟）</th>
                    <th data-options="field:'Repairman',width:150,align:'center'">维修人</th>
                    <th data-options="field:'ReplacementOfSpareParts',width:150,align:'center'">备件更换情况</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>