<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备运行采集数据</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script>
        $(function(){
            var brand = ""
            var unit = ""
            $('#LeftTree').tree({
                url:"/EquipmentTimeStatistics/DataTree",
                method: 'get',
                animate:true,
                loadFilter:function(data){
                    return data
                },
                onClick: function (node) {
                    if($('#LeftTree').tree('isLeaf',node.target)){
                        brand = node.Brand
                        unit = node.text
                        var select_time = $('#beginTime').datebox('getValue')
                        toJson(brand,unit,getPeriodTime(new Date(select_time))[0],getPeriodTime(new Date(select_time))[1])
                    }

                }
             })
            $("#beginTime").datebox({
                onSelect: function(date){
                    $("#weekTime").html(getPeriodTime(date)[0]+" 至 "+ getPeriodTime(date)[1])
                    toJson(brand,unit,getPeriodTime(date)[0],getPeriodTime(date)[1])
                }
            })
            $('#beginTime').datebox("setValue", myformatter(new Date()))
            $("#weekTime").html(getPeriodTime(new Date())[0]+" 至 "+ getPeriodTime(new Date())[1])
        })
        function toJson(brand,unit,startDate,endDate){
            var myChart = echarts.init(document.getElementById("main"))
            if(unit == ""){
                myChart.hideLoading();
            }else {
                myChart.showLoading();
                $.ajax({
                    url: "/EquipmentTimeStatistics/GetData",
                    type: "post",
                    data: {
                        brand: brand,
                        unit: unit,
                        startDate: startDate,
                        endDate:endDate
                    },
                    dataType: "json",
                    traditional:true,
                    success: function (data) {
                        if (data !=  "NO") {
                            myChart.hideLoading();
                            myChart.setOption(option = {
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'shadow'
                                    }
                                },
                                legend: {
                                    data: ['运行时间', '故障时间', '停机时间']
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    data: data.equip_codes
                                },
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '时间',
                                        min: 0,
                                        axisLabel: {
                                            formatter: '{value} 分钟'
                                        }
                                    }
                                ],
                                series: [{
                                    name: "运行时间",
                                    type: 'bar',
                                    itemStyle:{
                                        normal:{
                                            color:'#90ed7d'
                                        }
                                    },
                                    data: data.equip_run_time
                                },{
                                    name: "故障时间",
                                    type: 'bar',
                                    itemStyle:{
                                        normal:{
                                            color:'#f15c80'
                                        }
                                    },
                                    data: data.equip_failure_time
                                },{
                                    name: "停机时间",
                                    type: 'bar',
                                    itemStyle:{
                                        normal:{
                                            color:'#858585'
                                        }
                                    },
                                    data: data.equip_downtime
                                }]
                            });
                            myChart.setOption(option);
                        } else {
                            $.messager.alert({
                                title: '提示',
                                msg: "暂无数据",
                                icon: 'info',
                                width: 300,
                                top: 200,
                                left: 500
                            })
                            myChart.hideLoading();
                        }
                    },
                    error:function(data){
                        $.messager.alert({
                            title: '提示',
                            msg: "请求失败",
                            icon: 'info',
                            width: 300,
                            top: 200,
                            left: 500
                        })
                        myChart.hideLoading();
                    }

                })
            }
        }
        //获取指定日期的周一和周天
        function getPeriodTime(date){
            var arr = myformatter(date).split("-")
            //月份-1 因为月份从0开始 构造一个Date对象
            var date = new Date(arr[0],arr[1]-1,arr[2]);
            var dateOfWeek = date.getDay();//返回当前日期的在当前周的某一天（0～6--周日到周一）
            var dateOfWeekInt = parseInt(dateOfWeek,10);//转换为整型

            if(dateOfWeekInt==0){//如果是周日
                dateOfWeekInt=7;
            }
            var aa = 7-dateOfWeekInt;//当前于周末相差的天数
            var temp2 = parseInt(arr[2],10);//按10进制转换，以免遇到08和09的时候转换成0
            var sunDay = temp2+aa;//当前日期的周日的日期
            var monDay = sunDay-6//当前日期的周一的日期
            var startDate = new Date(arr[0],arr[1]-1,monDay);
            var endDate = new Date(arr[0],arr[1]-1,sunDay);
            var sm = parseInt(startDate.getMonth())+1;//月份+1 因为月份从0开始
            var em = parseInt(endDate.getMonth())+1;
            var start = startDate.getFullYear()+"-"+sm+"-"+startDate.getDate()
            var end = endDate.getFullYear()+"-"+em+"-"+endDate.getDate()
            var array = new Array()
            array.push(start)
            array.push(end)

            return array
        }
        //时间格式拼接
        function myformatter(date){
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            var d = date.getDate();
            return y + "-" + getNow(m) + "-" + getNow(d);
        }
        function getNow(s) {
            return s < 10 ? '0' + s: s;
        }
    </script>
</head>
<body>
    <div class="left-tree" style="width: 15%;float: left;vertical-align: top;border: 1px solid #ccc;margin: 1%;padding: 1%;">
        <ul id="LeftTree" class="easyui-tree"></ul>
    </div>
    <div id="container" style="width: 80%;float: left;vertical-align: top;">
        <div style="padding:10px 0px 5px 10px;">
            <a>  选择日期:  </a>
            <input class="easyui-datebox" id="beginTime" editable="fasle" style="width:166px;height:35px;line-height:35px;">
            <a>  数据范围周期:  </a>
            <a id="weekTime"></a>
        </div>
        <div id="tt" class="easyui-tabs" style="width:100%;height:600px;margin-top:10px; scrolling:'false'">
            <div title="设备运行数据">
                <div id="main" style="width: 1000px; height: 560px; margin: 10px auto;"></div>
            </div>
        </div>
    </div>
</body>
</html>