<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP物料信息</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <style>
        .ERPList .panel-header{
            background: #0D5661;
        }
        .ERPList .panel-title{
            color: #fff;
        }
    </style>
</head>
<body>
    <div style="padding: 10px;">
        <div>
            <!--选择起止时间和参数：
            <input id="startDate" type="text" class="easyui-datebox">
            -
            <input id="endDate" type="text" class="easyui-datebox">
            <select id="MailType" class="easyui-combobox" name="dept" style="width:200px;">
                <option value="Z001">原辅料</option>
                <option value="Z002">包材</option>
                <option value="Z003">半成品</option>
                <option value="Z004">成品-江中</option>
                <option value="Z005">五金备件</option>
                <option value="Z006">低值易耗品</option>
                <option value="Z007">贸易成品</option>
                <option value="Z008">无价值物料</option>
                <option value="Z009">成品-济生桑海</option>
            </select>
            <a href="#" class="easyui-linkbutton" id="synchronization" data-options="iconCls:'icon-redo'">同步到系统</a>-->
        </div>
        <div id="Toolbar" style="padding:0 10px;">
            订单号:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="searchAUFNR" style="height:28px;" autocomplete="off" placeholder="">
            批次号:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="searchCHARG" style="height:28px;" autocomplete="off" placeholder="">
            品名:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="searchMAKTX" style="height:28px;" autocomplete="off" placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="CollectToolbar.search();">查询</a>
        </div>
        <div style="margin-bottom: 20px;">
            <table class="easyui-datagrid" id="tab" title="SAP计划列表（点击一行订单获取物料信息）" style="width:100%;" data-options="
                queryParams:{
                    AUFNR:'',
                    CHARG:'',
                    MAKTX:'',
                },
                rownumbers:true,
                singleSelect:false,
                autoRowHeight:false,
                pagination:true,
                pageSize:10,
                toolbar:'#Toolbar',
                url:'/SapBatchInfoSearch',
                method:'get'">
                <thead>
                    <tr>
                        <th data-options="field:'RID',align:'center'">MES请求唯一编码</th>
                        <th data-options="field:'AUFNR',align:'center'">订单号</th>
                        <th data-options="field:'DAUAT',align:'center'">订单类型</th>
                        <th data-options="field:'DWERK',align:'center'">工厂</th>
                        <th data-options="field:'CHARG',align:'center'">批次编号</th>
                        <th data-options="field:'MATNR',align:'center'">产品编码</th>
                        <th data-options="field:'MAKTX',align:'center'">产品名称</th>
                        <th data-options="field:'GAMNG',align:'center'">计划生产数量</th>
                        <th data-options="field:'UNIT' ,align:'center'">单位</th>
                        <th data-options="field:'VERID',align:'center'">生产版本</th>
                        <th data-options="field:'RSNUM',align:'center'">预留编号</th>
                        <th data-options="field:'ROUTN',align:'center'">工艺路线编号</th>
                        <th data-options="field:'GSTRP',align:'center'">计划开始日期</th>
                        <th data-options="field:'GLTRP',align:'center'">计划结束日期</th>
                        <th data-options="field:'STATE',align:'center'">状态</th>
                        <th data-options="field:'PLNNR',align:'center'">配方组</th>
                        <th data-options="field:'PLNAL',align:'center'">配方组计数器</th>
                        <th data-options="field:'KTEXT',align:'center'">配方描述</th>
                        <th data-options="field:'GESSTICHPR',align:'center'">取样量</th>
                        <th data-options="field:'QBASE',align:'center'">检验依据</th>
                        <th data-options="field:'Status',align:'center'">报工状态</th>
                        <th data-options="field:'MatilStatus',align:'center'">投料返回状态</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="toolbar">
            <!--<a href="#" class="easyui-linkbutton" id="synchronizationToWMS" data-options="iconCls:'icon-redo'">同步物料到WMS</a>
            <a href="#" class="easyui-linkbutton" id="synchronizationToBL" data-options="iconCls:'icon-redo'">同步物料到备料段</a>-->
            <a href="#" class="easyui-linkbutton" id="add" data-options="iconCls:'icon-add'">添加物料信息</a>
            <a href="#" class="easyui-linkbutton" id="update" data-options="iconCls:'icon-edit'">投料消耗确认</a>
            <a href="#" class="easyui-linkbutton" id="Sap_Matailre" data-options="iconCls:'icon-ok'">发送到SAP</a>
        </div>
        <table class="easyui-datagrid" id="selfTab" title="SAP物料列表" style="width:100%;" data-options="
            queryParams:{
                AUFNR:''
            },
            loadMsg:false,
            rownumbers:true,
            toolbar:'#toolbar',
            singleSelect:false,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            url:'/SapMatailInfoSearch',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'RID',align:'center'">MES请求唯一编码</th>
                    <th data-options="field:'AUFNR',align:'center'">订单号</th>
                    <th data-options="field:'RSNUM',align:'center'">预留编号</th>
                    <th data-options="field:'RSPOS',align:'center'">预留项目号</th>
                    <th data-options="field:'VORNR',align:'center'">阶段</th>
                    <th data-options="field:'SEQNO',align:'center'">次序</th>
                    <th data-options="field:'MATNR',align:'center'">物料编号</th>
                    <th data-options="field:'MAKTX',align:'center'">物料描述</th>
                    <th data-options="field:'BDMNG',align:'center'">物料数量</th>
                    <th data-options="field:'MEINS',align:'center'">物料单位</th>
                    <th data-options="field:'BWART',align:'center'">移动类型</th>
                    <th data-options="field:'CHARG',align:'center'">批次编号</th>
                    <th data-options="field:'WERKS',align:'center'">工厂</th>
                    <th data-options="field:'LGORT',align:'center'">存储地点</th>
                    <th data-options="field:'WEIGH',align:'center'">称量标记</th>
                    <th data-options="field:'Status',align:'center'">状态</th>
                    <th data-options="field:'Opertation',align:'center'">操作日期</th>
                    <th data-options="field:'BUDAT',align:'center'">过账日期</th>
                </tr>
            </thead>
        </table>
        <div id="ZYPlanClassDialog" class="easyui-dialog" style="width:560px;height:560px;padding:10px;"
             data-options="closed:'true',buttons:'#ZYPlanClassDialogButtons',modal:true">
            <form id="ZYPlanClassForm" method="post" class="dialog-form">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">ID</td>
                            <td class="kv-content">
                                <input  name="iID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">物料数量</td>
                            <td class="kv-content">
                                <input name="BDMNG" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">批次编号</td>
                            <td class="kv-content">
                                <input name="CHARG" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">操作日期</td>
                            <td class="kv-content">
                                <input id="Opertation" name="Opertation" type="text" class="easyui-datetimebox" data-options="required:true,showSeconds:true,editable:false" autocomplete="off" placeholder=>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">过账日期</td>
                            <td class="kv-content">
                                <input id="BUDAT" name="BUDAT" type="text" class="easyui-datetimebox" data-options="required:true,showSeconds:true,editable:false" autocomplete="off" placeholder=>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="ZYPlanClassDialogButtons" >
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveAdd" value="submit" >保存</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveUpdate" value="submit" >保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#ZYPlanClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function(){
            $("#synchronization").on('click',function(){
                $.messager.confirm('确定操作', '确认要同步到系统吗？', function (flag) {
                    if (flag) {
                        $.ajax({
                            url: '/SAP_MailInfos',
                            method: 'GET',
                            data:{
                                StartTime:$('#startDate').datebox('getValue'),
                                EndTime:$('#endDate').datebox('getValue'),
                                Mtart:$('#MailType').datebox('getValue'),
                            },
                            success: function (data) {
                                if (data == "OK") {
                                    $.messager.show({
                                        title: '提示',
                                        timeout: 1000,
                                        msg: '同步成功',
                                        style: {
                                            right: '',
                                            top: document.body.scrollTop + document.documentElement.scrollTop,
                                            bottom: ''
                                        }
                                    });
                                    $("#selfTab").datagrid('reload')
                                } else {
                                    $.messager.alert('提示', data, 'info');
                                }
                            },
                            error: function () {
                                alert("请求失败，请稍后重试！")
                            }
                        });
                    }
                })
            })
            $("#add").on('click',function(){
                var rows = $("#selfTab").datagrid('getSelections');
                if (rows.length > 1) {
                    $.messager.alert('警告操作！', '添加同一物料信息只能选定一条数据！', 'warning');
                } else if (rows.length == 1) {
                    var row = $("#selfTab").datagrid('getSelected');
                    if (row) {
                        $("#ZYPlanClassDialog").dialog('open').dialog('setTitle', '添加相同物料信息');
                        $("#saveAdd").show()
                        $("#saveUpdate").hide()
                        $('input[name="iID"]').attr("disabled", "disabled");
                        $('input[name="iID"]').val(row.ID);
                        $('input[name="BDMNG"]').val(row.BDMNG);
                        $('input[name="CHARG"]').val(row.CHARG);
                        $("#Opertation").datetimebox("setValue",row.Opertation)
                        $("#BUDAT").datetimebox("setValue",row.BUDAT)
                    }
                } else if (rows.length == 0) {
                    $.messager.alert('警告操作！', '请至少选定一条数据进行添加！', 'warning');
                }
            })
            $("#saveAdd").on('click',function(){
                var entity = {
                    ID:$('input[name="iID"]').val(),
                    BDMNG:$('input[name="BDMNG"]').val(),
                    CHARG:$('input[name="CHARG"]').val(),
                    Opertation:$("#Opertation").datetimebox("getValue"),
                    BUDAT:$("#BUDAT").datetimebox("getValue"),
                };
                 $.ajax({
                    url:"/SapMatailInfoAdd",
                    data:entity,
                    type:"post",
                    success:function(res){
                        if(res === '"OK"'){
                            $.messager.show({
                                title: '提示',
                                timeout: 1000,
                                msg: '添加成功',
                                style: {
                                    right: '',
                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                    bottom: ''
                                }
                            });
                            $('#ZYPlanClassDialog').dialog('close')
                            $("#selfTab").datagrid('reload');
                        }
                    },
                    error:function(){
                        alert("请求错误，请刷新后重试！")
                    }
                })
            })
            $("#update").on('click',function(){
                var rows = $("#selfTab").datagrid('getSelections');
                if (rows.length > 1) {
                    $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                } else if (rows.length == 1) {
                    var row = $("#selfTab").datagrid('getSelected');
                    if (row) {
                        $("#ZYPlanClassDialog").dialog('open').dialog('setTitle', '编辑');
                        $("#saveUpdate").show()
                        $("#saveAdd").hide()
                        $('input[name="iID"]').attr("disabled", "disabled");
                        $('input[name="iID"]').val(row.ID);
                        $('input[name="BDMNG"]').val(row.BDMNG);
                        $('input[name="CHARG"]').val(row.CHARG);
                        $("#Opertation").datetimebox("setValue",row.Opertation)
                        $("#BUDAT").datetimebox("setValue",row.BUDAT)
                    };
                } else if (rows.length == 0) {
                    $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
                }
            })
            $("#saveUpdate").on('click',function(){
                var entity = {
                    ID:$('input[name="iID"]').val(),
                    BDMNG:$('input[name="BDMNG"]').val(),
                    CHARG:$('input[name="CHARG"]').val(),
                    Opertation:$("#Opertation").datetimebox("getValue"),
                    BUDAT:$("#BUDAT").datetimebox("getValue"),
                };
                 $.ajax({
                    url:"/SapMatailInfoUpdate",
                    data:entity,
                    type:"post",
                    success:function(res){
                        if(res === '"OK"'){
                            $.messager.show({
                                title: '提示',
                                timeout: 1000,
                                msg: '修改成功',
                                style: {
                                    right: '',
                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                    bottom: ''
                                }
                            });
                            $('#ZYPlanClassDialog').dialog('close')
                            $("#selfTab").datagrid('reload');
                        }
                    },
                    error:function(){
                        alert("请求错误，请刷新后重试！")
                    }
                })
            })
            $("#synchronizationToWMS").on('click',function(){
                var rows = $("#selfTab").datagrid('getSelections');
                if (rows.length > 0) {
                    var jsonarray = [];
                    $.messager.confirm('确定操作', '确认要同步到WMS吗？', function (flag) {
                        if (flag) {
                            for (var i = 0; i < rows.length; i++) {
                                var obj=createKeyIDObj(parseInt(rows[i].ID));
                                jsonarray.push(obj);
                            }
                            var a = JSON.stringify(jsonarray);
                            $.ajax({
                                url: '/WMS_SendSAPMatil',
                                method: 'GET',
                                data: a,
                                success: function (data) {
                                    if (data == "OK") {
                                        $.messager.progress('close');
                                        $.messager.show({
                                            title: '提示',
                                            timeout: 1000,
                                            msg: '同步成功',
                                            style: {
                                                right: '',
                                                top: document.body.scrollTop + document.documentElement.scrollTop,
                                                bottom: ''
                                            }
                                        });
                                        $("#selfTab").datagrid('reload');
                                    } else {
                                        $.messager.alert('提示', data, 'info');
                                    }
                                },
                                error: function () {
                                    alert("请求失败，请稍后重试！")
                                }
                            });
                        }
                    })
                }else{
                    $.messager.alert('提示', "请选择要同步的物料", 'info');
                }
            })
            $("#synchronizationToBL").on('click',function(){
                var rows = $("#selfTab").datagrid('getSelections');
                if (rows.length > 0) {
                    var jsonarray = [];
                    $.messager.confirm('确定操作', '您确认要同步到备料段吗？', function (flag) {
                        if (flag) {
                            for (var i = 0; i < rows.length; i++) {
                                var obj=createKeyIDObj(parseInt(rows[i].ID));
                                jsonarray.push(obj);
                            }
                            var a = JSON.stringify(jsonarray);
                            $.ajax({
                                url: '/SAPtoWMSMailBL',
                                method: 'GET',
                                data: a,
                                success: function (data) {
                                    if (data == "OK") {
                                        $.messager.progress('close');
                                        $.messager.show({
                                            title: '提示',
                                            timeout: 1000,
                                            msg: '同步成功',
                                            style: {
                                                right: '',
                                                top: document.body.scrollTop + document.documentElement.scrollTop,
                                                bottom: ''
                                            }
                                        });
                                        $("#selfTab").datagrid('reload');
                                    } else {
                                        $.messager.alert('提示', data, 'info');
                                    }
                                },
                                error: function () {
                                    alert("请求失败，请稍后重试！")
                                }
                            });
                        }
                    })
                }else{
                    $.messager.alert('提示', "请选择要同步的物料", 'info');
                }
            })
            $("#Sap_Matailre").on('click',function(){
                var rows = $("#selfTab").datagrid('getSelections');
                if (rows.length > 0) {
                    var jsonarray = [];
                    $.messager.confirm('确定操作', '您确认要发送到SAP吗？', function (flag) {
                        if (flag) {
                            for (var i = 0; i < rows.length; i++) {
                                jsonarray.push(rows[i].ID);
                            }
                            var a = JSON.stringify(jsonarray);
                            $.ajax({
                                url: '/Sap_Matailre',
                                method: 'post',
                                data: {
                                    IDS:a
                                },
                                dataType:'json',
                                success: function (data) {
                                    if (data == "OK") {
                                        $.messager.progress('close');
                                        $.messager.show({
                                            title: '提示',
                                            timeout: 1000,
                                            msg: '发送成功',
                                            style: {
                                                right: '',
                                                top: document.body.scrollTop + document.documentElement.scrollTop,
                                                bottom: ''
                                            }
                                        });
                                        $("#selfTab").datagrid('reload');
                                    } else {
                                        $.messager.alert('提示', data, 'info');
                                    }
                                },
                                error: function () {
                                    alert("请求失败，请稍后重试！")
                                }
                            });
                        }
                    })
                }else{
                    $.messager.alert('提示', "请选择要同步的物料", 'info');
                }
            })
            $("#tab").datagrid({
                onClickRow: function (index, row) {
                    $("#selfTab").datagrid('load',{
                        AUFNR:row.AUFNR
                    });
                }
            });
            $.extend($.fn.datagrid.defaults.editors, {
                text: {
                    init: function(container, options){
                        var input = $('<input type="text" class="datagrid-editable-input">').appendTo(container);
                        return input;
                    },
                    destroy: function(target){
                        $(target).remove();
                    },
                    getValue: function(target){
                        return $(target).val();
                    },
                    setValue: function(target, value){
                        $(target).val(value);
                    },
                    resize: function(target, width){
                        $(target)._outerWidth(width);
                    }
                }
            });
        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
    </script>
</body>
</html>
