<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP计划信息</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <style>
        .ERPList .panel-header{
            background: #0D5661;
        }
        .ERPList .panel-title{
            color: #fff;
        }
    </style>
</head>
<body>
    <div style="padding: 10px;">
        <div class="ERPList">
            <table class="easyui-datagrid" id="ERPTab" title="ERP物料列表" style="width:100%;" data-options="
                loadMsg:false,
                rownumbers:true,
                singleSelect:true,
                autoRowHeight:false,
                pagination:true,
                pageSize:10,
                url:'/erp_model/ERP_productinfoSearch',
                method:'get'">
                <thead>
                    <tr>
                        <th data-options="field:'product_code',width:200,align:'center'">计划单号</th>
                        <th data-options="field:'product_name',width:250,align:'center'">计划名称</th>
                        <th data-options="field:'product_unit',width:200,align:'center'">计划单位</th>
                        <th data-options="field:'product_type',width:200,align:'center'">计划类型</th>
                    </tr>
                </thead>
            </table>
        </div>
        <a href="#" class="easyui-linkbutton" id="synchronization" data-options="iconCls:'icon-redo'" style="margin-top: 20px">同步</a>
        <table class="easyui-datagrid" id="selfTab" title="系统物料列表" style="width:100%;" data-options="
            loadMsg:false,
            rownumbers:true,
            singleSelect:true,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            url:'/erp_model/productinfoSearch',
            method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'product_code',width:200,align:'center'">计划单号</th>
                    <th data-options="field:'product_name',width:250,align:'center'">计划名称</th>
                    <th data-options="field:'product_unit',width:200,align:'center'">计划单位</th>
                    <th data-options="field:'product_type',width:200,align:'center'">计划类型</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(function(){
            $("#synchronization").on('click',function(){
                $.ajax({
                    url: '/erp_model/ERP_productinfoSynchro',
                    method: 'GET',
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.show({
                                title: '提示',
                                timeout: 1000,
                                msg: '同步成功',
                                style: {
                                    right: '',
                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                    bottom: ''
                                }
                            });
                            $("#selfTab").datagrid('load')
                        }else{
                            $.messager.alert('提示', data, 'info');
                        }
                    },
                    error: function () {
                        alert("请求失败，请稍后重试！")
                    }
                 });
            })
        })
    </script>
</body>
</html>