<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP物料信息</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <style>
        .ERPList .panel-header{
            background: #0D5661;
        }
        .ERPList .panel-title{
            color: #fff;
        }
    </style>
</head>
<body>
    <div style="padding: 10px;">
        <div class="ERPList">
            <table class="easyui-datagrid" id="ERPTab" title="ERP物料列表" style="width:100%;" data-options="
                loadMsg:false,
                rownumbers:true,
                autoRowHeight:false,
                pagination:true,
                pageSize:10,
                url:'/erp_model/ERP_productinfoSearch',
                method:'get'">
                <thead>
                    <tr>
                        <th data-options="field:'product_code',width:200,align:'center'">物料编码</th>
                        <th data-options="field:'product_name',width:250,align:'center'">物料名称</th>
                        <th data-options="field:'product_unit',width:200,align:'center'">计量单位</th>
                        <th data-options="field:'product_type',width:200,align:'center'">物料类型</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="margin-top: 20px">
            <a href="#" class="easyui-linkbutton" id="synchronization" data-options="iconCls:'icon-redo'">同步到系统</a>
            <a href="#" class="easyui-linkbutton" id="synchronizationToWMS" data-options="iconCls:'icon-redo'">同步物料到WMS</a>
            <a href="#" class="easyui-linkbutton" id="synchronizationToBL" data-options="iconCls:'icon-ok'">同步物料到备料段</a>
        </div>
        <div id="WMSClassDialog" class="easyui-dialog" style="width:400px;height:200px;padding:10px;"
             data-options="closed:'true',buttons:'#WMSClassDialogButtons',modal:true">
            <form id="WMSClassForm" method="post" class="dialog-form">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">物料编码</td>
                            <td class="kv-content">
                                <input name="product_code" id="product_code" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="WMSClassDialogButtons" >
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="save" >保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#WMSClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
        <table class="easyui-datagrid" id="selfTab" title="系统物料列表" style="width:100%;" data-options="
            loadMsg:false,
            rownumbers:true,
            singleSelect:false,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            url:'/erp_model/productinfoSearch',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'product_code',width:200,align:'center'">物料编码</th>
                    <th data-options="field:'product_name',width:250,align:'center'">物料名称</th>
                    <th data-options="field:'product_unit',width:200,align:'center'">计量单位</th>
                    <th data-options="field:'product_type',width:200,align:'center'">物料类型</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(function(){
            $("#synchronization").on('click',function(){
                $.messager.confirm('确定操作', '您确认要同步到系统吗？', function (flag) {
                    if (flag) {
                        $.ajax({
                            url: '/erp_model/ERP_productinfoSynchro',
                            method: 'GET',
                            success: function (data) {
                                if (data == "OK") {
                                    $.messager.show({
                                        title: '提示',
                                        timeout: 1000,
                                        msg: '同步成功',
                                        style: {
                                            right: '',
                                            top: document.body.scrollTop + document.documentElement.scrollTop,
                                            bottom: ''
                                        }
                                    });
                                    $("#selfTab").datagrid('reload')
                                } else {
                                    $.messager.alert('提示', data, 'info');
                                }
                            },
                            error: function () {
                                alert("请求失败，请稍后重试！")
                            }
                        });
                    }
                })
            })
            var ToWMSurl = ""
            $("#synchronizationToWMS").on('click',function(){
                $("#WMSClassDialog").dialog('open').dialog('setTitle','请输入物料编码');
                $("#product_code").val("")
                ToWMSurl = '/WMS_SendSAPMatil'
            })
            $("#synchronizationToBL").on('click',function(){
                $("#WMSClassDialog").dialog('open').dialog('setTitle','请输入物料编码');
                $("#product_code").val("")
                ToWMSurl = '/SAPtoWMSMailBL'
            })
            $("#save").on('click',function(){
                var rows = $("#selfTab").datagrid('getSelections');
                var jsonarray=[];
                for (var i = 0; i < rows.length; i++) {
                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                    jsonarray.push(obj);
                }
                var a = JSON.stringify(jsonarray);
                $.ajax({
                    url: '',
                    method: 'GET',
                    data: {
                        product_code: $("#product_code").val(),
                        ids:a
                    },
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.show({
                                title: '提示',
                                timeout: 1000,
                                msg: '同步成功',
                                style: {
                                    right: '',
                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                    bottom: ''
                                }
                            });
                            $('#WMSClassDialog').dialog('close');
                        } else {
                            $.messager.alert('提示', data, 'info');
                        }
                    },
                    error: function () {
                        alert("请求失败，请稍后重试！")
                    }
                });
            })
            $.extend($.fn.datagrid.defaults.editors, {
                text: {
                    init: function(container, options){
                        var input = $('<input type="text" class="datagrid-editable-input">').appendTo(container);
                        return input;
                    },
                    destroy: function(target){
                        $(target).remove();
                    },
                    getValue: function(target){
                        return $(target).val();
                    },
                    setValue: function(target, value){
                        $(target).val(value);
                    },
                    resize: function(target, width){
                        $(target)._outerWidth(width);
                    }
                }
            });
        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
    </script>
</body>
</html>
