<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP计划信息</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/step.css">
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="../static/js/bsStep.js"></script>
    <script type="text/javascript" src="../static/js/less.js"></script>
    <style>
        .pad-per{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .ERPList .panel-header{
            background: #0D5661;
        }
        .ERPList .panel-title{
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="pad-per">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified step step-round" data-step="1">
                <li>
                    <a href="/ERP_productplan">ERP计划信息</a>
                </li>
                <li>
                    <a href="/plantCalendarYield">设置得率</a>
                </li>
                <li>
                    <a href="/plantCalendarSafeStock">设置安全库存</a>
                </li>
                <li>
                    <a href="/plantCalendarbatchNumber">设置每日生产批数</a>
                </li>
                <li>
                    <a href="/plantCalendar">工厂日历</a>
                </li>
                <li>
                    <a href="/calendarScheduling">日历排产</a>
                </li>
                <li>
                    <a href="/plantCalendarResult">排产结果</a>
                </li>
            </ul>
            <div class="ERPList">
                <table class="easyui-datagrid" id="ERPTab" title="ERP计划列表" style="width:100%;" data-options="
                    loadMsg:false,
                    rownumbers:true,
                    singleSelect:true,
                    autoRowHeight:false,
                    pagination:true,
                    pageSize:10,
                    url:'/erp_model/ERP_productplanSearch',
                    method:'get'">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'product_code',width:200,align:'center'">计划单号</th>
                            <th data-options="field:'product_name',width:100,align:'center'">计划名称</th>
                            <th data-options="field:'plan_quantity',width:100,align:'center'">计划重量</th>
                            <th data-options="field:'plan_type',width:100,align:'center'">计划类型</th>
                            <th data-options="field:'create_time',width:150,align:'center'">创建时间</th>
                            <th data-options="field:'transform_time',width:150,align:'center'">更换时间</th>
                            <th data-options="field:'transform_flag',width:100,align:'center'">更换标志</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <a href="#" class="easyui-linkbutton" id="synchronization" data-options="iconCls:'icon-redo'" style="margin-top: 20px">同步</a>
            <div id="Toolbar" style="padding:0 10px;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="Toolbar.add()">添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="Toolbar.updata()">编辑</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="Toolbar.delete()">删除</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="Toolbar.reload()">刷新</a>
            </div>
            <table class="easyui-datagrid" id="selfTab" title="系统计划列表" style="width:100%;" data-options="
                loadMsg:false,
                rownumbers:true,
                singleSelect:false,
                autoRowHeight:false,
                pagination:true,
                pageSize:10,
                toolbar:'#Toolbar',
                url:'/erp_model/productplanSearch',
                method:'get'">
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th>
                        <th data-options="field:'product_code',width:200,align:'center'">计划单号</th>
                        <th data-options="field:'product_name',width:100,align:'center'">计划名称</th>
                        <th data-options="field:'plan_quantity',width:100,align:'center'">计划重量</th>
                        <th data-options="field:'plan_type',width:100,align:'center'">计划类型</th>
                        <th data-options="field:'create_time',width:150,align:'center'">创建时间</th>
                        <th data-options="field:'transform_time',width:150,align:'center'">更换时间</th>
                        <th data-options="field:'transform_flag',width:100,align:'center'">更换标志</th>
                    </tr>
                </thead>
            </table>
            <div id="planDialog" class="easyui-dialog" style="width:400px;height:400px;padding:10px;"
                 data-options="closed:'true',buttons:'#planDialogButtons',modal:true">
                <form id="planForm" method="post" class="dialog-form">
                    <table class="kv-table">
                        <tbody>
                            <tr>
                                <td class="kv-label">计划ID</td>
                                <td class="kv-content">
                                    <input name="plan_id" id="plan_id" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">产品(即物料)编码</td>
                                <td class="kv-content">
                                    <input name="product_code" id="product_code" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">产品(即物料)名称</td>
                                <td class="kv-content">
                                    <input name="product_name" id="product_name" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">计划数量</td>
                                <td class="kv-content">
                                    <input name="plan_quantity" id="plan_quantity" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">计划类型 'M' 月计划</td>
                                <td class="kv-content">
                                    <select name="plan_type" id="plan_type" type="text" style="width:157px;" autocomplete="off" placeholder="">
                                        <option value="">请选择</option>
                                        <option value="HALB">半成品</option>
                                        <option value="FERT">成品</option>
                                        <option value="ROH">原料</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">插入时间</td>
                                <td class="kv-content">
                                    <input name="create_time" id="create_time" required="true" editable="fasle" type="text" class="easyui-datetimebox" autocomplete="off" placeholder=""  disabled="disabled" >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="planDialogButtons" >
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveAdd" onclick="Toolbar.save()" >保存</a>
                        <a href="#" class="easyui-linkbutton" onclick="$('#planDialog').dialog('close')">关闭</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="modal-footer">
                <a href="/plantCalendarYield" class="btn btn-primary">下一步</a>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            bsStep();

            $("#synchronization").on('click',function(){
                var row = $("#ERPTab").datagrid('getSelected');
                if (row) {
                    console.log(row)
                    $.ajax({
                        url: '/erp_model/ERP_productplanSynchro',
                        type: 'GET',
                        data:{
                            plan_id:row.plan_id
                        },
                        success: function (data) {
                            if (data == "OK") {
                                $.messager.show({
                                    title: '提示',
                                    timeout: 1000,
                                    msg: '同步成功',
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#selfTab").datagrid('load')
                            }else{
                                $.messager.alert('提示', data, 'info');
                            }
                        },
                        error: function () {
                            alert("请求失败，请稍后重试！")
                        }
                     });
                }
            })
            Toolbar = {
                add:function(){
                    $("#planDialog").dialog('open').dialog('setTitle','添加计划');
                    $("#plan_id").val('')
                    $("#product_code").val('')
                    $("#product_name").val('')
                    $("#plan_quantity").val('')
                    $("#plan_type option[value='']").prop("selected", 'selected');
                    $("#create_time").datetimebox("setValue", myformatter(new Date()))
                },
                updata:function(){
                    var rows = $("#selfTab").datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                    }else if(rows.length == 1) {
                        var row = $("#selfTab").datagrid('getSelected');
                        if (row) {
                            $("#planDialog").dialog('open').dialog('setTitle', '修改计划');
                            $("#plan_id").val(row.plan_id)
                            $("#product_code").val(row.product_code)
                            $("#product_name").val(row.product_name)
                            $("#plan_quantity").val(row.plan_quantity)
                            $('#plan_type option:contains('+row.plan_type+')').prop("selected", 'selected');
                            $("#create_time").datetimebox("setValue", row.create_time)
                        }
                    } else if (rows.length == 0) {
                        $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
                    }
                },
                save:function(){
                    var strID = $('input[name="plan_id"]').val();
                    var urlAddr = ""
                    var stmp = $('input[name="product_code"]').val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：产品(即物料)编码不能为空！');
                       return false;
                    }
                    stmp = $('input[name="product_name"]').val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：产品(即物料)名称不能为空！');
                       return false;
                    }
                    stmp = $('input[name="plan_quantity"]').val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：计划数量不能为空！');
                       return false;
                    }
                    stmp = $('#plan_type').find("option:selected").val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：计划类型 \'M\' 月计划不能为空！');
                       return false;
                    }
                    if (strID.length >= 1){
                        urlAddr = '/erp_model/product_planUpdate'
                    }
                    else {
                        urlAddr = '/erp_model/product_planCreate'
                    }
                    $.ajax({
                        url: urlAddr,
                        method: 'POST',
                        traditional: true,
                        data: {
                            product_code:$('#product_code').val(),
                            product_name:$('#product_name').val(),
                            plan_quantity:$('#plan_quantity').val(),
                            plan_type:$('#plan_type').find("option:selected").val(),
                            create_time:$('#create_time').datetimebox('getValue')
                        },
                        cache: false,
                        error: function(data){
                           console.log(data.responseText)
                        },
                        success: function (data,response,status) {
                            $.messager.progress('close');
                            if(data == "OK"){
                                $.messager.show({
                                    title: '提示',
                                    msg: '操作成功',
                                    timeout:1000,
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#planDialog").dialog('close');
                                $("#selfTab").datagrid('reload');
                            } else {
                                $.messager.alert('失败！', '未知错误导致失败，请重试！', 'warning');
                            }
                        }
                    });
                },
                delete:function(){
                    var rows = $("#selfTab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                            if (flag) {
                                var PrimaryKey = "id";
                                var a = "";
                                for (var i = 0; i < rows.length; i++) {
                                    var obj=createKeyIDObj(parseInt(rows[i].plan_id));
                                    jsonarray.push(obj);
                                }
                                a = JSON.stringify(jsonarray);
                                console.log(a)
                                $.ajax({
                                    url: '/erp_model/product_planDelete',
                                    method: 'POST',
                                    traditional: true,
                                    data: a,
                                    success: function (data) {
                                        $.messager.progress('close');
                                        if(data = "OK"){
                                            $.messager.show({
                                                title: '提示',
                                                msg: '删除成功',
                                                timeout:1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#selfTab").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要删除的记录！', 'info');
                    }
                },
                reload:function(){
                    $("#selfTab").datagrid('reload');
                }
            }

        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
        function myformatter(date){
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            var d = date.getDate();
            var h = date.getHours();
            var minutes = date.getMinutes();
            var s = date.getSeconds();
            return y + '-' + (m<10?('0'+m):m) + '-' + (d<10?('0'+d):d) + ' ' + (h<10?('0'+h):h) + ':' + (minutes<10?('0'+minutes):minutes) + ':' + (s<10?('0'+s):s);
        }
    </script>
</body>
</html>