<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发送WMS</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
</head>
<body>
    <div class="col-sm-12">
        <div class="modal-body">
            <div id="toolbar">
                <a href="#" class="btn btn-primary" id="send">发送WMS</a>
                <a href="#" class="btn btn-success" id="getLib">获取库存</a>
            </div>
        </div>
        <table class="table table-bordered" id="tab">
            <thead>
                <tr>
                    <th data-checkbox="true"></th>
                    <th data-field="BatchID">批次号</th>
                    <th data-field="BrandName">品名</th>
                    <th data-field="PUIDName">工艺段</th>
                    <th data-field="ExcuteStatus">执行状态</th>
                    <th data-field="OperationPeople">操作人</th>
                    <th data-field="Description">描述</th>
                    <th data-field="OperationDate">操作时间</th>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" id="selfTab"></table>
    </div>
    <script>
        $(function(){
            $('#tab').bootstrapTable({
                url: '/ZYPlanWMSSelect',
                method: 'get',
                toolbar: '#toolbar',
                contentType: "application/x-www-form-urlencoded",
	            pagination: true,
                pageNumber:1,
	            pageSize: 5,
	            pageList: [5, 10, 15, 20],
                sidePagination: "server",
                paginationLoop:false,
                paginationPreText:'上一页',
                paginationNextText:'下一页',
                singleSelect:false,
                clickToSelect:true,
	            locale: "zh-CN",
	            striped: true,
                onCheck:function(row,$element){
                    console.log(row)
                    $('#selfTab').bootstrapTable({
                        url: '/WMS_ReceiveDetail',
                        method: 'get',
                        contentType: "application/x-www-form-urlencoded",
                        pagination: true,
                        pageNumber: 1,
                        pageSize: 5,
                        pageList: [5, 10, 15, 20],
                        sidePagination: "server",
                        paginationLoop: false,
                        paginationPreText: '上一页',
                        paginationNextText: '下一页',
                        singleSelect: false,
                        clickToSelect: true,
                        locale: "zh-CN",
                        striped: true,
                        columns:[{
                            field:'BatchNo',
                            title:'批次号'
                        },{
                            field:'BillNo',
                            title:'计划单号'
                        },{
                            field:'Num',
                            title:'总数量'
                        },{
                            field:'mid',
                            title:'物料编码'
                        },{
                            field:'MatName',
                            title:'物料名称'
                        },{
                            field:'btype',
                            title:'单据类型'
                        },{
                            field:'StoreDef_id',
                            title:'库房号'
                        }]
                    })
                }
            });
            $("#send").on('click',function(){
                var rows = $("#tab").bootstrapTable('getSelections')
                if (rows.length > 0) {
                    var jsonarray=[];
                    bootbox.confirm('您要发送所选的记录吗？', function (flag) {
                        if (flag) {
                            for (var i = 0; i < rows.length; i++) {
                                var obj=createKeyIDObj(parseInt(rows[i].id));
                                jsonarray.push(obj);
                            }
                            var a = JSON.stringify(jsonarray);
                            $.ajax({
                                url: '/WMS_SendPlan',
                                method: 'post',
                                traditional: true,
                                data: a,
                                dataType: 'json',
                                success: function (data) {
                                    if (data == "OK") {
                                        bootbox.alert("发送成功！")
                                        $("#selfTab").datagrid('load')
                                    }else{
                                        bootbox.alert(data)
                                    }
                                }
                            });
                        }
                    });
                } else {
                    bootbox.alert("请选择要发送的记录")
                }
            })
            //获取页面传参
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = decodeURI(window.location.search).substr(1).match(reg); //匹配目标参数
                if (r != null) return unescape(r[2]); return null; //返回参数值
            }
            function createKeyIDObj(keyID){
                return {
                    id:keyID
                }
            }
        })
    </script>
</body>
</html>