<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empower</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script>
        $(function(){
            $("#loadingModal").modal('show');
            $('#LeftTree').tree({
                url:'/impowerSelect',
                method: 'get',
                animate:true,
                loadFilter:function(data){
                    return data
                },
                onLoadSuccess:function(data){
                    $("#loadingModal").modal('hide');
                },
                onClick: function (node) {
                    if($('#LeftTree').tree('isLeaf',node.target)){
                        var parentText = $('#LeftTree').tree('getParent', node.target)
                        var projectName = parentText.text + '\\' + node.text
                        $("#tab").bootstrapTable({
                            method : 'get',
                            url:'/impowerSelectData',
                            striped : true,
                            pageNumber : 1, //初始化加载第一页
                            pagination : true,//是否分页
                            sidePagination : 'client',//server:服务器端分页|client：前端分页
                            pageSize : 10,//单页记录数
                            pageList : [10, 20, 30, 40, 50 ],//可选择单页记录数
                            singleSelect:true, //单选
                            clickToSelect: true, //点击行选中复选框
                            queryParams: {
                                projectName: projectName
                            },
                            columns: [{
                                checkbox: true
                            },{
                                field: 'SampleName',
                                title: '样品名称'
                            }, {
                                field: 'SampleBottle',
                                title: '样品瓶'
                            }, {
                                field: 'Sampling',
                                title: '进样'
                            }, {
                                field: 'SampleType',
                                title: '样品类型'
                            }, {
                                field: 'ProcessingChannel',
                                title: '处理通道说明'
                            }, {
                                field: 'CollectionDate',
                                title: '采集日期'
                            }, {
                                field: 'OperationDate',
                                title: '处理日期'
                            }, {
                                field: 'ProcessingMethod',
                                title: '处理方法'
                            }, {
                                field: 'ResultID',
                                title: '结果ID'
                            }],
                            onCheck:function(rowData,rowIndex){
                                getNewData(projectName,rowData.SampleName,rowData.SampleBottle,rowData.Sampling)

                                $("#peakItemTab").bootstrapTable({
                                    method : 'get',
                                    url:'/impowerSelectData',
                                    striped : true,
                                    pageNumber : 1, //初始化加载第一页
                                    pagination : true,//是否分页
                                    sidePagination : 'client',//server:服务器端分页|client：前端分页
                                    pageSize : 5,//单页记录数
                                    pageList : [5, 10, 20, 30, 40, 50 ],//可选择单页记录数
                                    queryParams: {
                                        SampleName: rowData.SampleName,
                                        SampleBottle: rowData.SampleBottle,
                                        Sampling: rowData.Sampling
                                    },
                                    columns: [{
                                        field: 'Name',
                                        title: '名称'
                                    }, {
                                        field: 'RetentionTime',
                                        title: '保留时间'
                                    }, {
                                        field: 'Area',
                                        title: '面积'
                                    }, {
                                        field: 'PercentileArea',
                                        title: '%面积'
                                    }, {
                                        field: 'Height',
                                        title: '高度'
                                    }],
                                    onLoadSuccess:function(data){
                                        console.log(data)
                                    }
                                })
                            }
                         })
                    }
                }
            })
            function getNewData(projectName,SampleName,SampleBottle,Sampling){
                var myChart = echarts.init(document.getElementById("chart"))
                myChart.showLoading();
                $.ajax({
                    url: '/impowerIniDataSelect',
                    type: 'get',
                    data: {
                        projectName: projectName,
                        SampleName:SampleName,
                        SampleBottle:SampleBottle,
                        Sampling:Sampling
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log(data)
                        myChart.hideLoading();
                        myChart.setOption(option = {
                            tooltip: {
                                trigger: 'item',
                                formatter : function (params) {
                                    console.log(params)
                                    return
                                 }
                            },
                            toolbox: {
                                feature: {
                                    mark : {show: true},
                                    dataView: {show: true, readOnly: false},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            dataZoom: {
                                show: true,
                                start : 0
                            },
                            xAxis: {
                                type : 'value',
                                splitNumber:10
                            },
                            yAxis: {
                                type : 'value',
                                axisLabel: {
                                    formatter: '{value} AU'
                                }
                            },
                            series: [{
                                name: "AU",
                                type: 'line',
                                showAllSymbol: true,
                                smooth:true,
                                data: data.x
                            }]
                        });
                        myChart.setOption(option);
                    }
                })
            }
        })
    </script>
</head>
<body style="padding: 15px;">
    <div class="modal" id="loadingModal" data-backdrop="static" data-keyboard="false">
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="progress progress-striped active" style="margin-bottom: 0;">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <h5>正在加载...</h5>
        </div>
    </div>
    <div class="easyui-layout" style="width:100%;height:510px;">
        <div data-options="region:'west',split:true" title="项目" style="width:25%">
            <div class="left-tree" style="padding: 15px;">
                <ul id="LeftTree" class="easyui-tree"></ul>
            </div>
        </div>
        <div data-options="region:'center',title:'结果'">
            <table class="table table-bordered" id="tab"></table>
        </div>
	</div>
    <div class="easyui-layout" style="width:100%;height:350px;margin-top: 15px;">
        <div data-options="region:'center',title:'峰值图'">
            <div id="chart" style="width: 960px; height: 285px; margin: 10px"></div>
        </div>
        <div data-options="region:'east',split:true" title="峰值数据" style="width:25%">
            <table class="table table-bordered" id="peakItemTab"></table>
        </div>
	</div>
</body>
</html>