<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>组织结构</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/echarts-all.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body>
    <div id="example" style="width: 100%;height: 800px;"></div>

    <script type="text/javascript">
        var domMain = document.getElementById('example')
        var myChart = echarts.init(domMain, 'macarons');
        myChart.showLoading()
        $.ajax({
             type : "get",
             async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
             url : "/organizationMap/selectAll",
             data : {},
             dataType : "json",
             success : function(result) {
                 if (result) {
                     myChart.hideLoading(); //隐藏加载动画
                     myChart.setOption({  //加载数据图表
                         title : {
                            text: '江中集团',
                            subtext: '组织结构树形图'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{b}: {c}"
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : false,
                        series : [
                            {
                                name:'树图',
                                type:'tree',
                                orient: 'horizontal',  //树的方向
                                rootLocation: {x: '100', y: '60%'}, // 根节点位置  {x: 'center',y: 10}
                                nodePadding: 1, //节点间距
                                layerPadding:150,
                                symbol: 'rectangle',
                                symbolSize: [70,25],
                                borderColor:'black',
                                roam:true,
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            position: 'inside',
                                            textStyle: {
                                                color: '#ffffff',
                                                fontSize: 12
                                            }
                                        },
                                        lineStyle: {
                                            color: '#17a572',
                                            width: 1,
                                            type: 'curve' // 'curve'|'broken'|'solid'|'dotted'|'dashed'
                                        }
                                    },
                                    emphasis: {
                                        color: '#0e546d',
                                        label: {
                                            show: true
                                        }
                                    }
                                },
                                data: result
                            }
                        ]
                     });
                 }
            },
             error : function(errorMsg) {
                 //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
             }
        })
    </script>
</body>
</html>
