<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>组织结构</title>
    <link href="../static/css/base.css" rel="stylesheet">

</head>
<body>
    <div id="example" style="width: 800px;height: 500px;"></div>
    <a href="javascript:;" onclick="refresh(true)">刷新</a>
    <script src="../static/js/echarts-all.js"></script>
    <script type="text/javascript">
        var domMain = document.getElementById('example')
        var myChart = echarts.init(domMain, 'macarons');
            option = {
                title : {
                    text: '江中集团',
                    subtext: '组织结构树形图'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{b}: {c}"
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : false,
                series : [
                    {
                        name:'树图',
                        type:'tree',
                        orient: 'horizontal',  //树的方向
                        rootLocation: {x: 100, y: '50%'}, // 根节点位置  {x: 'center',y: 10}
                        nodePadding: 20, //节点间距
                        layerPadding:150,
                        symbol: 'rectangle',
                        symbolSize: [100,40],
                        borderColor:'black',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    position: 'inside',
                                    textStyle: {
                                        color: '#ffffff',
                                        fontSize: 12
                                    }
                                },
                                lineStyle: {
                                    color: '#000',
                                    width: 1,
                                    type: 'broken' // 'curve'|'broken'|'solid'|'dotted'|'dashed'
                                }
                            },
                            emphasis: {
                                color: '#0e546d',
                                label: {
                                    show: true
                                }
                            }
                        },
                        data: [{
                                name: '组织名称',
                                value: 6,
                                children: [
                                    {
                                        name: '小米',
                                        value: 40,
                                        children: [
                                            {
                                                name: '小米1',
                                                value: '3',
                                            },
                                            {
                                                name: '小米2',
                                                value: 4,
                                            }
                                        ]
                                    },
                                    {
                                        name: '苹果',
                                        value: 4,
                                    }
                                ]
                            }]
                    }
                ]
            };
        myChart.setOption(option);
        function focusGraphic() {
            if (needRefresh) {
                myChart.showLoading();
                setTimeout(refresh, 1000);
            }
        }
        function refresh(isBtnRefresh){
            if (isBtnRefresh) {
                needRefresh = true;
                focusGraphic();
                return;
            }
            needRefresh = false;
            if (myChart && myChart.dispose) {
                myChart.dispose();
            }
            myChart = echarts.init(domMain);
            window.onresize = myChart.resize;
            myChart.setOption(option, true)
        }
    </script>
</body>
</html>
