<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>江中制药MES系统</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <style>
        #submit-btn{
            display: inline-block;
            text-decoration: none;
            height: 48px;
            line-height: 48px;
            text-align: center;
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            margin-left: 34px;
            background-color: #1da02b;
            margin-right: 9px;
            width: 300px;
            outline: none;
            border:0;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" src="../static/custom/jquery.min.js"></script>
</head> 
<body class="white">
	<div class="login-hd">
		<div class="left-bg"></div>
		<div class="right-bg"></div>
		<div class="hd-inner">
            <img src="../static/images/jzjt_logo.png" style="height:70px;vertical-align: middle;" alt="logo">
			<span class="split"></span>
			<span class="sys-name">MES制造执行系统</span>
		</div>
	</div>
	<div class="login-bd">
		<div class="bd-inner">
			<div class="inner-wrap">
				<div class="lg-zone">
					<div class="lg-box">
						<div class="lg-label"><h4>用户登录</h4></div>
						<form action="/login" id="loginForm" method="post">
							<div class="lg-username input-item clearfix">
								<i class="glyphicon glyphicon-user"></i>
								<input type="text" name="WorkNumber" placeholder="账号">
							</div>
							<div class="lg-password input-item clearfix">
								<i class="glyphicon glyphicon-lock"></i>
								<input type="password" name="password" placeholder="请输入密码">
							</div>
							<div style="height: 20px;">
								<span class="" style="margin-left: 34px;color: red;">{{ error }}</span>
							</div>
							<div class="enter">
                                <input type="submit" id="submit-btn" value="登录">
							</div>
						</form>
						<div class="line line-y"></div>
						<div class="line line-g"></div>
					</div>
				</div>
				<div class="lg-poster"></div>
			</div>
		</div>
	</div>
	<div class="login-ft">
		<div class="ft-inner">
			<div class="about-us">
				<a href="javascript:;">关于我们</a>
				<a href="javascript:;">法律声明</a>
				<a href="javascript:;">服务条款</a>
				<a href="javascript:;">联系方式</a>
			</div>
			<div class="address">地址：&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2015&nbsp;-&nbsp;2017&nbsp;&nbsp;版权所有</div>
			<div class="other-info">建议使用IE9及以上版本浏览器</div>
		</div>
	</div>
</body> 
</html>