<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>江中制药MES系统</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/platform.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
</head>
<body>
    <div class="">
        <div id="pf-hd">
            <div class="pf-logo">
                <img src="../static/images/jzjt_logo.png" style="width:100px;height: auto;position: relative;top: -25px;" alt="logo">
                <span class="split" style="vertical-align: top"></span>
{#                <img src="../static/images/wenxiong.png" style="width:70px;height: auto;position: relative;top: -25px;" alt="logo">#}
                <span class="system-name" style="vertical-align: top">MES制造执行系统</span>
            </div>
            <div class="pf-user">
                <div class="pf-user-photo">
                    <img src="../static/jzmes_images/Customer_Male_Light.png" alt="">
                </div>
                <h4 class="pf-user-name ellipsis" id="userName">{{ current_user['Name']}}</h4>
                <i class="glyphicon glyphicon-menu-down xiala"></i>
                <div class="pf-user-panel">
                    <ul class="pf-user-opt">
                        <li class="seeUserInfo">
                            <a href="javascript:;">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="pf-opt-name">用户信息</span>
                            </a>
                        </li>
                        <li class="pf-logout">
                            <a href="/logout">
                                <i class="glyphicon glyphicon-off"></i>
                                <span class="pf-opt-name">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="pf-bd">
            <div id="pf-sider">
                <h2 class="pf-model-name">
                    <!-- <span class="iconfont">&#xe64a;</span>-->
                    <span class="pf-name">导航菜单</span>
                    <span class="toggle-icon"></span>
                </h2>

                <ul class="sider-nav">
                {% if isIn(['2', '3', '4','5'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-facetime-video sider-nav-icon"></span>
                            <span class="sider-nav-title">生产监控</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '2' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('前处理段监控','/PreprocessingSectionMonitor')">前处理段监控</a>
                                </li>
                            {% endif %}
                            {% if '3' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('运输段监控','/TransportMonitor')">运输段监控</a>
                                </li>
                            {% endif %}
                            {% if '5' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('产品生产线监控','/processMonitorLine')">产品生产线监控</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="javascript:;">
                        <span class="glyphicon glyphicon-calendar sider-nav-icon"></span>
                        <span class="sider-nav-title">SAP数据管理</span>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                    <ul class="sider-nav-s">
                        <li>
                            <a href="#" onclick="addTab('SAP计划信息','/SapBatchInfo')">SAP计划信息</a>
                        </li>
                        <li>
                            <a href="#" onclick="addTab('SAP工序报工管理','/tosapBrandUnitInfo')">SAP工序报工管理</a>
                        </li>
                        <li>
                            <a href="#" onclick="addTab('SAP物料信息','/ERP_productinfo')">SAP物料信息</a>
                        </li>
                    </ul>
                </li>
                {% if isIn(['25', '26', '27', '28', '29', '30'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-tasks sider-nav-icon"></span>
                            <span class="sider-nav-title">生产计划调度管理</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '25' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('生产管理','/ZYPlanManage')">生产管理</a>
                                </li>
                            {% endif %}
                            <!--<li>
                                <a href="#" onclick="addTab('ERP原料采购订单','/StapleProductsPage')">ERP原料采购订单</a>
                            </li>-->
                            {% if '26' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('计划明细','/ZYPlan')">计划明细</a>
                                </li>
                            {% endif %}
                            {% if '27' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('制药任务','ZYTask')">制药任务</a>
                                </li>
                            {% endif %}
                            {% if '28' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('调度日计划','SchedulePlan')">调度日计划</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['32', '33', '34', '35', '36', '37'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-list-alt sider-nav-icon"></span>
                            <span class="sider-nav-title">生产建模管理</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '32' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('产品定义','ProductRule')">产品定义</a>
                                </li>
                            {% endif %}
                            {% if '33' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('产品段定义','ProductUnit')">产品段定义</a>
                                </li>
                            {% endif %}
                            {% if '34' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('产品段任务配置','ProductControlTask')">产品段任务配置</a>
                                </li>
                            {% endif %}
                            {% if '35' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('工艺参数配置','ProductParameter')">工艺参数配置</a>
                                </li>
                            {% endif %}
                            {% if '36' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('物料BOM','MaterialBOM')">物料BOM</a>
                                </li>
                            {% endif %}
                            {% if '37' in session.get('menus') %}
                                 <li>
                                    <a href="#" onClick="addTab('工艺路线','ProductUnitRoute')">工艺路线</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['39', '40', '41', '42'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-edit sider-nav-icon"></span>
                            <span class="sider-nav-title">生产数据管理</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '39' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('电子批记录','/ElectronicBatchRecord')">电子批记录</a>
                                </li>
                            {% endif %}
                            {% if '40' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('批物料平衡统计','/BatchMaterielBalanceStatistic')">批物料平衡统计</a>
                                </li>
                            {% endif %}
{#                            {% if '96' in session.get('menus') %}#}
                                <li>
                                    <a href="#" onClick="addTab('批物料追溯','/ProductDataManage/BatchMaterialTracing')">批物料追溯</a>
                                </li>
{#                            {% endif %}#}
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="javascript:;">
                        <span class="glyphicon glyphicon-equalizer sider-nav-icon"></span>
                        <span class="sider-nav-title">工艺质量</span>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                    <ul class="sider-nav-s">
                        <li>
                            <a href="#" onClick="addTab('半成品确认流程','/ProcessqualityRawmaterial')">半成品确认流程</a>
                        </li>
                        <li>
                            <a href="#" onClick="addTab('原料确认流程','/ProcessqualityFinishedProduct')">原料确认流程</a>
                        </li>
                    </ul>
                </li>
                {% if isIn(['44', '45', '46', '47', '48', '49', '50', '96'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-stats sider-nav-icon"></span>
                            <span class="sider-nav-title">过程质量分析</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '44' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('过程连续数据','/ProcessContinuousData')">过程连续数据</a>
                                </li>
                            {% endif %}
                            {% if '94' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('投入产出数据','/QualityControl/YieldCompare.html')">投入产出数据</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#" onClick="addTab('Empower','/impowerSpage')">Empower</a>
                            </li>
                            <li>
                                <a href="#" onClick="addTab('折光仪数据','/refractometerRealTimeData')">折光仪数据</a>
                            </li>
                            <li>
                                <a href="#" onClick="addTab('近红外数据','/JHYdatahistorypage')">近红外数据</a>
                            </li>
                            <li>
                                <a href="#" onClick="addTab('微波数据','/WBDatapage')">微波数据</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['52', '53', '54', '55', '56', '57', '58','90','91'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-wrench sider-nav-icon"></span>
                            <span class="sider-nav-title">设备管理</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '52' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备信息','Equipment')">设备信息</a>
                                </li>
                            {% endif %}
                            {% if '91' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备备件管理','/equipmentspare')">设备备件管理</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#" onclick="addTab('仪器仪表数据管理','/cyclediagnosis')">仪器仪表数据管理</a>
                            </li>
                            <li>
                                <a href="#" onclick="addTab('仪器仪表检修管理','/cycleInstrumentsDispose')">仪器仪表检修管理</a>
                            </li>
                            {% if '90' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备故障管理','/equipmenttrouble')">设备故障管理</a>
                                </li>
                            {% endif %}
                            {% if '56' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备运行记录','/equipmentOperateRecord')">设备运行记录</a>
                                </li>
                            {% endif %}
                            {% if '55' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备检修计划管理','/equipmentMaintain')">设备检修计划管理</a>
                                </li>
                            {% endif %}
                            {% if '53' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备保养记录','/EMaintainEveryDay')">设备保养记录</a>
                                </li>
                            {% endif %}
                            {% if '95' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备运行数据(人工录入)','/EquipmentManage/runData')">设备运行数据(人工录入)</a>
                                </li>
                            {% endif %}
                            {% if '95' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备运行数据(系统采集)','/EquipmentTimeStatistics/Index')">设备运行数据(系统采集)</a>
                                </li>
                            {% endif %}
                            {% if '95' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备说明书管理','/EquipmentManagementManual/ManualIndex')">设备说明书管理</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['60', '61', '62', '63', '64', '65'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-grain sider-nav-icon"></span>
                            <span class="sider-nav-title">物料管理</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '60' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('物料类型','MaterialType')">物料类型</a>
                                </li>
                            {% endif %}
                            {% if '61' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('物料信息','Material')">物料信息</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['7', '8', '9', '10', '11', '12', '13', '14', '15'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-cog sider-nav-icon"></span>
                            <span class="sider-nav-title">系统管理</span>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '7' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('组织结构建模','organization')">组织结构</a>
                                </li>
                            {% endif %}
                            {% if '10' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('用户管理','userManager')">用户管理</a>
                                </li>
                            {% endif %}
                            {% if '11' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('角色管理','sysrole')">角色管理</a>
                                </li>
                            {% endif %}
                            {% if '12' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('权限分配','roleright')">权限分配</a>
                                </li>
                            {% endif %}
                            {% if '14' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('系统日志','syslogs')">系统日志</a>
                                </li>
                            {% endif %}
                            {% if '15' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('工厂日历','/plantCalendarResult?type=1')">工厂日历</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['67', '68'], session.get('menus')) %}
                    <li>
                        <a href="http://10.136.73.71:10087" target="_blank">
                            <span class="glyphicon glyphicon-oil sider-nav-icon"></span>
                            <span class="sider-nav-title">能源智能管理系统</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <div id="pf-page">
                <div id="tabs_menu" class="easyui-tabs1" style="width:100%;height:100%;">
                    <div title="首页">
                        <iframe class="page-iframe" src="workbench" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>
                    </div>
                </div>
            </div>
            <!--关闭tab选项菜单-->
            <div id="tab_rightmenu" class="easyui-menu" style="width:120px; display:none">
                <div name="tab_menu-tabcloseall" id="closeAll">
                    关闭全部标签
                </div>
                <div name="tab_menu-tabcloseother" id="closeOthor">
                    关闭其他标签
                </div>
            </div>
        </div>
        <div id="pf-ft">
            <div class="system-name">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span>MES制造执行系统&nbsp;v1.0</span>
            </div>
            <div class="copyright-name">
                <span>CopyRight&nbsp;2019&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="../static/custom/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.easyui-tabs1').tabs({
                tabHeight: 34,
                onContextMenu:function(e, title){
                    //在每个菜单选项中添加title值
                    var $divMenu = $("#tab_rightmenu div[id]");
                    $divMenu.each(function() {
                        $(this).attr("id", title);
                    });
                    //显示menu菜单
                    $('#tab_rightmenu').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                    e.preventDefault();
                }
            })
            //实例化menu点击触发事件
            $('#tab_rightmenu').menu({
                "onClick":function(item) {
                    closeTab(item.id,item.text);
                }
            });
            //关闭
            function closeTab(title, text) {
                if(text == '关闭全部标签') {
                    $(".tabs li").each(function(index, obj) {
                          //获取所有可关闭的选项卡
                          var tabTitle = $(".tabs-closable", this).text();
                          $("#tabs_menu").tabs("close", tabTitle);
                     });
                }
                if(text == '关闭其他标签') {
                    $(".tabs li").each(function(index, obj) {
                          //获取所有可关闭的选项卡
                          var tabTitle = $(".tabs-closable", this).text();
                          if(tabTitle != title) {
                            $("#tabs_menu").tabs("close", tabTitle);
                          }
                     });
                }
            }
            $(window).resize(function () {
                $('.tabs-panels').height($("#pf-page").height() - 46);
                $('.panel-body').height($("#pf-page").height() - 76)
            }).resize();
            var page = 0,
                pages = ($('.pf-nav').height() / 50) - 1;
            if (pages === 0) {
                $('.pf-nav-prev,.pf-nav-next').hide();
            }
            $(document).on('click', '.pf-nav-prev,.pf-nav-next', function () {
                if ($(this).hasClass('disabled')) return;
                if ($(this).hasClass('pf-nav-next')) {
                    page++;
                    $('.pf-nav').stop().animate({ 'margin-top': -50 * page }, 200);
                    if (page == pages) {
                        $(this).addClass('disabled');
                        $('.pf-nav-prev').removeClass('disabled');
                    } else {
                        $('.pf-nav-prev').removeClass('disabled');
                    }

                } else {
                    page--;
                    $('.pf-nav').stop().animate({ 'margin-top': -50 * page }, 200);
                    if (page == 0) {
                        $(this).addClass('disabled');
                        $('.pf-nav-next').removeClass('disabled');
                    } else {
                        $('.pf-nav-next').removeClass('disabled');
                    }

                }
            })
            $(".seeUserInfo").on('click',function(){
                var html= ''
                $.ajax({
                    url:'/MyUser/Select',
                    method: 'get',
                    data:{
                        id: '',
                        Name:$("#userName").html(),
                        page:"1",
                        rows:"1"
                    },
                    success:function(res){
                        res = JSON.parse(res)
                        html = '<table class="table table-bordered"><tr><td>用户名</td><td>' + res.rows[0].Name +'</td></tr>'+
                        '<tr><td>工号</td><td>'+ res.rows[0].WorkNumber +'</td></tr><tr><td>所属部门</td><td>'+ res.rows[0].OrganizationName +'</td></tr>'+
                        '<tr><td>所属角色</td><td>'+ res.rows[0].RoleName +'</td></tr>'+
                        '<tr><td>创建用户</td><td>'+ res.rows[0].Creater +'</td></tr>'+
                        '<tr><td>创建时间</td><td>'+ res.rows[0].CreateTime +'</td></tr>'+
                        '<tr><td>上次登录时间</td><td>'+ res.rows[0].LastLoginTime +'</td></tr></table>'
                        bootbox.alert(html)
                    },
                    error:function (data) {
                        bootbox.alert("请求失败")
                    }
                })
            })
        })
    </script>
    <script type="text/javascript">
        //按钮点击后添加选项卡
        function addTab(title, url) {
            if ($('.easyui-tabs1').tabs('exists', title)) {
                $('.easyui-tabs1').tabs('select', title);
            }
            else {
                var content = '<iframe class="page-iframe" src="' + url + '" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>';
                $('.easyui-tabs1').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }
    </script>
</body>
</html>
