<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>江中制药MES系统</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/platform.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
</head>
<body>
    <div class="container">
        <div id="pf-hd">
            <div class="pf-logo">
                <img src="../static/jzmes_images/jzjt_logo.png" alt="logo">
                <span class="split"></span>
                <span class="system-name">MES制造执行系统</span>
            </div>
                <div class="pf-user">
                    <div class="pf-user-photo">
                        <img src="../static/jzmes_images/Customer_Male_Light.png" alt="">
                    </div>
                    <h4 class="pf-user-name ellipsis">{{ current_user['Name']}}</h4>
                    <i class="iconfont xiala">&#xe607;</i>
                    <div class="pf-user-panel">
                        <ul class="pf-user-opt">
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe60d;</i>
                                    <span class="pf-opt-name">用户信息</span>
                                </a>
                            </li>
                            <li class="pf-logout">
                                <a href="/logout">
                                    <i class="iconfont">&#xe60e;</i>
                                    <span class="pf-opt-name">退出</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div id="pf-bd">
            <div id="pf-sider">
                <h2 class="pf-model-name">
                    <!-- <span class="iconfont">&#xe64a;</span>-->
                    <span class="pf-name">导航菜单</span>
                    <span class="toggle-icon"></span>
                </h2>

                <ul class="sider-nav">
                {% if isIn(['2', '3', '4', '5','7'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe611;</span>
                            <span class="sider-nav-title">生产监控</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '2' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('投料段生产监控','runstatus1.html')">投料段生产监控</a>
                                </li>
                            {% endif %}
                            {% if '3' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('提取段生产监控','processMonitorMap/index.html')">提取段生产监控</a>
                                </li>
                            {% endif %}
                            {% if '4' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('浓缩段生产监控','remain.html')">浓缩段生产监控</a>
                                </li>
                            {% endif %}
                            {% if '5' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('产品生产线监控','/processMonitorLine')">产品生产线监控</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['7', '8', '9', '10', '11', '12', '13', '14', '15'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe6ed;</span>
                            <span class="sider-nav-title">系统管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '7' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('组织结构建模','organization')">组织结构建模</a>
                                </li>
                            {% endif %}
                            {% if '8' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('组织结构','organizationMap')">组织结构</a>
                                </li>
                            {% endif %}
                            {% if '9' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('区域建模','Area')">区域建模</a>
                                </li>
                            {% endif %}
                            {% if '10' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('用户管理','userManager')">用户管理</a>
                                </li>
                            {% endif %}
                            {% if '11' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('角色管理','sysrole')">角色管理</a>
                                </li>
                            {% endif %}
                            {% if '12' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('权限分配','roleright')">权限分配</a>
                                </li>
                            {% endif %}
                            {% if '13' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('组织机构','Myorganization')">组织机构</a>
                                </li>
                            {% endif %}
                            {% if '14' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('系统日志','syslogs')">系统日志</a>
                                </li>
                            {% endif %}
                            {% if '15' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('工厂日历','')">工厂日历</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['17', '18', '19', '20', '21', '22', '23'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe6ea;</span>
                            <span class="sider-nav-title">生产建模</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '17' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('企业建模','Enterprise')">企业建模</a>
                                </li>
                            {% endif %}
                            {% if '18' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('工厂建模','Factory')">工厂建模</a>
                                </li>
                            {% endif %}
                            {% if '19' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('区域建模','Area')">区域建模</a>
                                </li>
                            {% endif %}
                            {% if '20' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('生产线建模','ProductLine')">生产线建模</a>
                                </li>
                            {% endif %}
                            {% if '21' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('工艺段建模','ProcessUnit')">工艺段建模</a>
                                </li>
                            {% endif %}
                            {% if '22' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备建模','Pequipment')">设备建模</a>
                                </li>
                            {% endif %}
                            {% if '23' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('单位维护','Unit')">单位维护</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37','83'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe6c3;</span>
                            <span class="sider-nav-title">生产计划调度管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '25' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('制药计划管理','/ZYPlanManage')">制药计划管理</a>
                                </li>
                            {% endif %}
                            {% if '25' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('计划执行进度','/PlanExecutionProgress')">计划执行进度</a>
                                </li>
                            {% endif %}
{#                            {% if '26' in session.get('menus') %}#}
{#                                <li>#}
{#                                    <a href="#" onclick="addTab('生产计划管理','/ZYPlanGuid/planmanager')">生产计划管理</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if '25' in session.get('menus') %}#}
{#                                <li>#}
{#                                    <a href="#" onclick="addTab('生产计划审核','/ZYPlanGuid/checkplanmanager')">生产计划审核</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if '25' in session.get('menus') %}#}
{#                                <li>#}
{#                                    <a href="#" onclick="addTab('中控计划确认','/MiddleControl/PlanConfirm')">中控计划确认</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if '25' in session.get('menus') %}#}
{#                                <li>#}
{#                                    <a href="#" onclick="addTab('中控计划复核','/MiddleControl/PlanConfirmChecked')">中控计划复核</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if '25' in session.get('menus') %}#}
{#                                <li>#}
{#                                    <a href="#" onclick="addTab('QA计划确认','QAPlanConfirm')">QA计划确认</a>#}
{#                                </li>#}
{#                            {% endif %}#}
                            {% if '25' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('计划明细','/ZYPlan')">计划明细</a>
                                </li>
                            {% endif %}
                            {% if '27' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('制药任务','ZYTask')">制药任务</a>
                                </li>
                            {% endif %}
{#                            {% if '83' in session.get('menus') %}#}
{#                                <li>#}
{#                                    <a href="#" onclick="addTab('任务确认','/taskConfirm ')">任务确认</a>#}
{#                                </li>#}
{#                            {% endif %}#}
                            {% if '28' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('调度日计划','SchedulePlan')">调度日计划</a>
                                </li>
                            {% endif %}
                            {% if '29' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('制药计划物料','ZYPlanMaterial')">制药计划物料</a>
                                </li>
                            {% endif %}
                            {% if '30' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('批次管理','batchmanager')">批次管理</a>
                                </li>
                            {% endif %}
                            {% if '31' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('查询全天计划','PlanManager')">查询全天计划</a>
                                </li>
                            {% endif %}
                            {% if '32' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('出入库操作','')">出入库操作</a>
                                </li>
                            {% endif %}
                            {% if '33' in session.get('menus') %}
                                <li>
                                    <a href="#">信息维护</a>
                                </li>
                            {% endif %}
                            {% if '34' in session.get('menus') %}
                                <li>
                                    <a href="#">作业任务排程</a>
                                </li>
                            {% endif %}
                            {% if '35' in session.get('menus') %}
                                <li>
                                    <a href="#">作业任务调度</a>
                                </li>
                            {% endif %}
                            {% if '36' in session.get('menus') %}
                                <li>
                                    <a href="#">作业任务执行</a>
                                </li>
                            {% endif %}
                            {% if '37' in session.get['menus'] %}
                                <li>
                                    <a href="#">生产路径管理</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['39', '40', '41', '42', '43', '44', '45', '46'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe65b;</span>
                            <span class="sider-nav-title">工艺管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '39' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('产品定义','ProductRule')">产品定义</a>
                                </li>
                            {% endif %}
                            {% if '40' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('产品段定义','ProductUnit')">产品段定义</a>
                                </li>
                            {% endif %}
                            {% if '41' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('产品段任务配置','ProductControlTask')">产品段任务配置</a>
                                </li>
                            {% endif %}
                            {% if '42' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('工艺参数配置','ProductParameter')">工艺参数配置</a>
                                </li>
                            {% endif %}
                            {% if '43' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('物料BOM','MaterialBOM')">物料BOM</a>
                                </li>
                            {% endif %}
                            {% if '44' in session.get('menus') %}
                                 <li>
                                    <a href="#" onClick="addTab('工艺路线','ProductUnitRoute')">工艺路线</a>
                                </li>
                            {% endif %}
                            {% if '45' in session.get('menus') %}
                                <li>
                                    <a href="#">配方管理</a>
                                </li>
                            {% endif %}
                            {% if '46' in session.get('menus') %}
                                <li>
                                    <a href="#">配方下达</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['48', '49', '50', '51', '52', '53'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe611;</span>
                            <span class="sider-nav-title">生产数据管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '48' in session.get('menus') %}
                                <li>
                                    <a href="#">电子批记录</a>
                                </li>
                            {% endif %}
                            {% if '49' in session.get('menus') %}
                                <li>
                                    <a href="#">批物料平衡统计</a>
                                </li>
                            {% endif %}
                            {% if '50' in session.get('menus') %}
                                <li>
                                    <a href="#">作业数据管理</a>
                                </li>
                            {% endif %}
                            {% if '51' in session.get('menus') %}
                                <li>
                                    <a href="#">产量数据管理</a>
                                </li>
                            {% endif %}
                            {% if '52' in session.get('menus') %}
                                <li>
                                    <a href="#">原/辅料数据管理</a>
                                </li>
                            {% endif %}
                            {% if '53' in session.get('menus') %}
                                <li>
                                    <a href="#">批次故障统计</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['55', '56', '57', '58', '59', '60', '61'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe64c;</span>
                            <span class="sider-nav-title">质量管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '55' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('过程连续数据','BatchData_Process.html')">过程连续数据</a>
                                </li>
                            {% endif %}
                            {% if '56' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('离散数据录入','BatchData_Scatter.html')">离散数据录入</a>
                                </li>
                            {% endif %}
                            {% if '57' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('统计-数据点','BatchStatistics_Point.html')">统计-数据点</a>
                                </li>
                            {% endif %}
                            {% if '58' in session.get('menus') %}
                                <li>
                                    <a href="#">质量标准管理</a>
                                </li>
                            {% endif %}
                            {% if '59' in session.get('menus') %}
                                <li>
                                    <a href="#">质量统计分析</a>
                                </li>
                            {% endif %}
                            {% if '60' in session.get('menus') %}
                                <li>
                                    <a href="#">质量考核统计过程控制</a>
                                </li>
                            {% endif %}
                            {% if '61' in session.get('menus') %}
                                <li>
                                    <a href="#">SPC控制</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['63', '64', '65', '66', '67', '68', '84'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe69e;</span>
                            <span class="sider-nav-title">设备管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '84' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('设备信息','Equipment')">设备信息</a>
                                </li>
                            {% endif %}
                            {% if '63' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('参数模型','product_device.html')">设备档案管理</a>
                                </li>
                            {% endif %}
                            {% if '64' in session.get('menus') %}
                                <li>
                                    <a href="#">设备备件查询</a>
                                </li>
                            {% endif %}
                            {% if '65' in session.get('menus') %}
                                <li>
                                    <a href="#">设备故障管理</a>
                                </li>
                            {% endif %}
                            {% if '66' in session.get('menus') %}
                                <li>
                                    <a href="#">设备运行分析</a>
                                </li>
                            {% endif %}
                            {% if '67' in session.get('menus') %}
                                <li>
                                    <a href="#">原/设备维护记录</a>
                                </li>
                            {% endif %}
                            {% if '68' in session.get('menus') %}
                                <li>
                                    <a href="#">设备润滑管理</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['70', '71', '72', '73', '74', '75'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe620;</span>
                            <span class="sider-nav-title">物料管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '70' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('物料类型','MaterialType')">物料类型</a>
                                </li>
                            {% endif %}
                            {% if '71' in session.get('menus') %}
                                <li>
                                    <a href="#" onClick="addTab('物料信息','Material')">物料信息</a>
                                </li>
                            {% endif %}
                            {% if '72' in session.get('menus') %}
                                <li>
                                    <a href="#">物料投料管理</a>
                                </li>
                            {% endif %}
                            {% if '73' in session.get('menus') %}
                                <li>
                                    <a href="#">在制品管理</a>
                                </li>
                            {% endif %}
                            {% if '74' in session.get('menus') %}
                                <li>
                                    <a href="#">物料追踪</a>
                                </li>
                            {% endif %}
                            {% if '75' in session.get['menus'] %}
                                <li>
                                    <a href="#">物料追溯</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['77', '78'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe65f;</span>
                            <span class="sider-nav-title">能耗管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '77' in session.get('menus') %}
                                <li>
                                    <a href="#">能耗数据采集配置</a>
                                </li>
                            {% endif %}
                            {% if '78' in session.get('menus') %}
                                <li>
                                    <a href="#">能耗数据分析</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['80', '81', '82'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe6ec;</span>
                            <span class="sider-nav-title">文档管理</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '80' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('文档分类维护','/document_classManager')">文档分类维护</a>
                                </li>
                            {% endif %}
                            {% if '81' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('文档管理','/document_Manager')">文档管理</a>
                                </li>
                            {% endif %}
                            {% if '82' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('文档查询','/document_query')">文档查询</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isIn(['86', '87', '88'], session.get('menus')) %}
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe6ec;</span>
                            <span class="sider-nav-title">服务配置</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                            {% if '86' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('实时数据服务配置','/RealTime_DataServerConfig')">实时数据服务配置</a>
                                </li>
                            {% endif %}
                            {% if '87' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('OPC服务配置','/OpcServer')">OPC服务配置</a>
                                </li>
                            {% endif %}
                            {% if '88' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('加载OPC-Tag','/OpcTag/load')">加载OPC-Tag</a>
                                </li>
                            {% endif %}
                            {% if '88' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('管理采集模板','/CollectParamsTemplate/config')">管理采集模板</a>
                                </li>
                            {% endif %}
                            {% if '88' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('配置采集模板','/CollectParams/config')">配置采集模板</a>
                                </li>
                            {% endif %}
                            {% if '88' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('配置采集策略','/Collectionstrategy/config')">配置采集策略</a>
                                </li>
                            {% endif %}
                            {% if '88' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('配置采集任务','/CollectTask/config')">配置采集任务</a>
                                </li>
                            {% endif %}
                            {% if '88' in session.get('menus') %}
                                <li>
                                    <a href="#" onclick="addTab('NodeID注释配置','/NodeIdNote/config')">NodeID注释配置</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                </ul>
            </div>
            <div id="pf-page">
                <div id="tabs_menu" class="easyui-tabs1" style="width:100%;height:100%;">
                    <div title="首页" style="padding:5px 5px 5px 10px;">
                        <iframe class="page-iframe" src="workbench" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>
                    </div>
                </div>
            </div>
            <!--关闭tab选项菜单-->
            <div id="tab_rightmenu" class="easyui-menu" style="width:120px; display:none">
                <div name="tab_menu-tabcloseall" id="closeAll">
                    关闭全部标签
                </div>
                <div name="tab_menu-tabcloseother" id="closeOthor">
                    关闭其他标签
                </div>
            </div>
        </div>

        <div id="pf-ft">
            <div class="system-name">
                <i class="iconfont">&#xe6fe;</i>
                <span>MES制造执行系统&nbsp;v1.0</span>
            </div>
            <div class="copyright-name">
                <span>CopyRight&nbsp;2017&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;</span>
                <!--<i class="iconfont" >&#xe6ff;</i>-->
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/custom/jquery.min.js"></script>
    <script type="text/javascript" src="../static/custom/jquery.easyui.min.js"></script>
    <!-- <script type="text/javascript" src="js/menu.js"></script> -->
    <script type="text/javascript" src="../static/js/main.js"></script>
    <!--[if IE 7]>
      <script type="text/javascript">
        $(window).resize(function(){
          $('#pf-bd').height($(window).height()-76);
        }).resize();

      </script>
    <![endif]-->


    <script type="text/javascript">
        $('.easyui-tabs1').tabs({
            tabHeight: 34,
            onContextMenu:function(e, title){
                //在每个菜单选项中添加title值
				var $divMenu = $("#tab_rightmenu div[id]");
				$divMenu.each(function() {
					$(this).attr("id", title);
				});
				//显示menu菜单
				$('#tab_rightmenu').menu('show', {
				    left: e.pageX,
					top: e.pageY
				});
				e.preventDefault();
            }
        })
        //实例化menu点击触发事件
		$('#tab_rightmenu').menu({
			"onClick":function(item) {
				closeTab(item.id,item.text);
			}
		});
        //关闭
        function closeTab(title, text) {
            if(text == '关闭全部标签') {
                $(".tabs li").each(function(index, obj) {
                      //获取所有可关闭的选项卡
                      var tabTitle = $(".tabs-closable", this).text();
                      $("#tabs_menu").tabs("close", tabTitle);
                 });
            }
            if(text == '关闭其他标签') {
                $(".tabs li").each(function(index, obj) {
                      //获取所有可关闭的选项卡
                      var tabTitle = $(".tabs-closable", this).text();
                      if(tabTitle != title) {
                        $("#tabs_menu").tabs("close", tabTitle);
                      }
                 });
            }
        }

        $(window).resize(function () {
            $('.tabs-panels').height($("#pf-page").height() - 46);
            $('.panel-body').height($("#pf-page").height() - 76)
        }).resize();

        var page = 0,
            pages = ($('.pf-nav').height() / 42) - 1;

        if (pages === 0) {
            $('.pf-nav-prev,.pf-nav-next').hide();
        }
        $(document).on('click', '.pf-nav-prev,.pf-nav-next', function () {


            if ($(this).hasClass('disabled')) return;
            if ($(this).hasClass('pf-nav-next')) {
                page++;
                $('.pf-nav').stop().animate({ 'margin-top': -42 * page }, 200);
                if (page == pages) {
                    $(this).addClass('disabled');
                    $('.pf-nav-prev').removeClass('disabled');
                } else {
                    $('.pf-nav-prev').removeClass('disabled');
                }

            } else {
                page--;
                $('.pf-nav').stop().animate({ 'margin-top': -42 * page }, 200);
                if (page == 0) {
                    $(this).addClass('disabled');
                    $('.pf-nav-next').removeClass('disabled');
                } else {
                    $('.pf-nav-next').removeClass('disabled');
                }

            }
        })

    // setTimeout(function(){
    //    $('.tabs-panels').height($("#pf-page").height()-46);
    //    $('.panel-body').height($("#pf-page").height()-76)
    // }, 200)
    </script>

    <script type="text/javascript">

        //按钮点击后添加选项卡
        function addTab(title, url) {
            if ($('.easyui-tabs1').tabs('exists', title)) {
                $('.easyui-tabs1').tabs('select', title);
            }
            else {
                var content = '<iframe class="page-iframe" src="' + url + '" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>';
                $('.easyui-tabs1').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }
    </script>
</body>
</html>
