<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加载OPC-Tag</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
</head>
<body>
    <div class="" style="padding: 1%;">
        <div class="easyui-layout" style="width:100%;height:350px;">
            <div data-options="region:'west',split:true" title="连接服务地址" style="width:20%;">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-content">
                               <select name="servername" id="servername" type="text" style="width:150px;" autocomplete="off" placeholder="">
                                    <option value="">请选择</option>
                                    {% for ser_info in server_names %}
                                        <option value="{{ ser_info['servername'] }}">{{ ser_info['servername'] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="kv-label" style="white-space:nowrap;">
                                <a href="#" class="easyui-linkbutton" id="btnConfirm">连接</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-content" colspan="2">
                                您选择的资源地址：<p id="InpURI"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-options="region:'center',title:'节点网格列表'">
                <table id="treegrid" class="easyui-treegrid">
                    <thead>
                        <tr>
                            <th data-options="field:'displayName',width:300">DisplayName</th>
                            <th data-options="field:'nodeID',width:200">NodeId</th>
                            <th data-options="field:'BrowseName',width:200">BrowseName</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div data-options="region:'east',split:true" title="所选节点" style="width:20%;">
                <table class="kv-table">
                <tbody>
                    <tr>
                        <td class="kv-label" style="white-space:nowrap;">
                            displayName
                        </td>
                        <td class="kv-content">

                        </td>
                    </tr>
                    <tr>
                        <td class="kv-label" style="white-space:nowrap;">
                            nodeID
                        </td>
                        <td class="kv-content">

                        </td>
                    </tr>
                    <tr>
                        <td class="kv-content" colspan="2">
                            <a href="#" class="easyui-linkbutton" id="btnConfirm">加载到数据库</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
<script>
    $(function(){
        $("#servername").bind('change',function(){
            $("#InpURI").html("")
            $.ajax({
                url:'/OpcServer/Tag',
                type:'get',
                data:{
                    ServerName:$(this).val()
                },
                success:function(data){
                    if(data){
                        $("#InpURI").html(data)
                    }
                }
            })

        })
        $("#btnConfirm").on('click',function(){
            if($("#servername").val() == ""){
                alert("请选择服务名称!")
            }else{
                $.ajax({
                    url:'/opcuaClient/link',
                    type:'post',
                    data:{
                        URI:$("#InpURI").html()
                    },
                    success:function(data){
                        if(data){
                            console.log(data)
                            $("#treegrid").treegrid({
                                idField:'nodeID',
                                treeField:'displayName',
                                data:data,
                                animate:true,
                                loadFilter:function(data){
                                    return data
                                },
                                onClick :function(node){

                                }
                            })
                        }else{
                            console.log("NO")
                        }
                    }
                })
            }
        })
    })
</script>
</body>
</html>