<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工厂日历</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fullcalendar.min.css">
    <link rel="stylesheet" href="../static/css/step.css">
    <script type="text/javascript" src="../static/js/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="../static/js/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../static/js/zh-cn.js"></script>
    <script type="text/javascript" src="../static/js/bsStep.js"></script>
    <script type="text/javascript" src="../static/js/less.js"></script>
    <style>
        .pad-per{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .step-round{
            margin-bottom: 20px;
        }
        #external-events {
            padding: 0 10px;
            background: #eee;
          }

          #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
          }

          #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
          }

          #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
          }

          #external-events p input {
            margin: 0;
            vertical-align: middle;
          }
    </style>
</head>
<body>
    <div class="pad-per">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified step step-round" data-step="4">
                <li>
                    <a href="/ERP_productplan">ERP计划信息</a>
                </li>
                <li>
                    <a href="/plantCalendarSafeStock">设置安全库存</a>
                </li>
                <li>
                    <a href="/plantCalendarbatchNumber">设置每日生产批数</a>
                </li>
                <li>
                    <a href="/plantCalendar">工厂日历</a>
                </li>
                <li>
                    <a href="/calendarScheduling">日历排产</a>
                </li>
                <li>
                    <a href="/plantCalendarResult">排产结果</a>
                </li>
            </ul>
            <div class="col-md-2 col-sm-2">
                <div id='external-events'>
                    <h4>可拖放的日程</h4>
                    <a class='fc-event' style="background: #00c3db;border: 1px solid #00c3db;">维保</a>
                    <a class='fc-event' style="background: #f7d013;border: 1px solid #f7d013;">休息</a>
                    <a class='fc-event' style="background: #e73b3b;border: 1px solid #e73b3b;">紧急</a>
                    {% for i in data %}
                        <a class='fc-event' style="background: #9FDABF;border: 1px solid #9FDABF;" value="{{ i['id'] }}">{{ i['text'] }}</a>
                    {% endfor %}
                    <p>
                        <input type='checkbox' id='drop-remove' />
                        <label for='drop-remove'>移出后删除</label>
                    </p>
                </div>
            </div>
            <div class="col-md-10 col-sm-10">
                <div id='calendar' style="width: 100%;"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="modal-footer">
                <a href="/calendarScheduling" class="btn btn-primary">下一步</a>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            bsStep();

            $('#external-events .fc-event').each(function() {
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: false // 拖动后不固定显示在日历上
                });
                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });
            //日历排产
            $('#calendar').fullCalendar({
                header:{
                    right: 'prev,next today',
                    center: 'title',
                    left: 'month,agendaWeek,agendaDay,listMonth'
                },
                locale:'zh-cn',
                editable: true, //支持拖动换位
                navLinks: true, //是否可以单击日/周名称来导航视图
                weekNumbers: true, //是否在日历中显示第几周
                droppable: true, // 允许将事件放在日历上
                height:560,
                //初始化数据
                events:function(start,end,timezone,callback){
                    var events = []
                    $.ajax({
                        url: '/systemManager_model/plantCalendarSchedulingSelect',
                        type: 'get',
                        success: function (data) {
                            data = JSON.parse(data)
                            var _id = ""
                            var _title = ""
                            var _start = ""
                            var _color = ""
                            for (var i=0;i<data.length;i++){
                                _id = data[i].ID
                                _title = data[i].title
                                _start = data[i].start
                                _color = data[i].color
                                events.push({
                                    ID:_id,
                                    title:_title,
                                    start:_start,
                                    color:_color
                                })
                            }
                            callback(events);
                        },
                        error: function () {
                            bootbox.alert("请求失败")
                        }
                     });
                 },
                drop: function(date, allDay) {
                    var title = $(this).html()
                    var color = ""
                    var urlStr = ''
                    if(title == "维保"){
                        color = "#00c3db"
                        urlStr = '/systemManager_model/plantCalendarSchedulingCreate'
                    }else if(title == "休息"){
                        color = "#f7d013"
                        urlStr = '/systemManager_model/plantCalendarSchedulingCreate'
                    }else if(title == "紧急"){
                        color = "#e73b3b"
                        urlStr = '/systemManager_model/plantCalendarSchedulingCreate'
                    }else{
                        color = "#9FDABF"
                        urlStr = '/systemManager_model/plantSchedulingAddBatch'
                    }
                    var startDate = myformatter(date._d)
                    if ($('#drop-remove').is(':checked')) {
                      $(this).remove();
                    }
                    $.ajax({
                        url: urlStr,
                        type: 'post',
                        data:{
                            title:title,
                            start:startDate,
                            color:color
                        },
                        success: function (data) {
                            if(data == "OK"){
                                $('#calendar').fullCalendar('refetchEvents');
                            }else{
                                bootbox.alert(data)
                            }
                        },
                        error: function () {
                            bootbox.alert("请求失败")
                        }
                     });
                 },
                //拖拽换位事件
                eventDrop:function(event,dayDelta,minuteDelta,allDay,revertFund){
                    var startDate = myformatter(event.start._d)
                    var urlStr = ""
                    var data = ""
                    if(event.title == "维保" || event.title == "休息" || event.title == "紧急"){
                        urlStr = '/systemManager_model/plantCalendarSchedulingUpdate'
                        data = {
                            ID:event.ID,
                            start:startDate
                        }
                    }else{
                        urlStr = '/SchedulingUpdate'
                        data = {
                            ID:event.ID,
                            SchedulingTime:startDate
                        }
                    }
                    $.ajax({
                        url: urlStr,
                        type: 'post',
                        data:data,
                        success: function (data) {
                            if(data == "OK"){
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                        },
                        error: function () {
                            bootbox.alert("修改时请求失败")
                        }
                     });
                },
                //点击日程事件进行删除
                eventClick:function(event){
                    var urlStr = ""
                    if(event.title == "维保" || event.title == "休息" || event.title == "紧急"){
                        urlStr = '/systemManager_model/plantCalendarSchedulingDelete'
                    }else{
                        urlStr = '/SchedulingDelete'
                    }
                    bootbox.setLocale("zh_CN");
                    bootbox.confirm({
                        size: "small",
                        message: "确认删除",
                        callback: function(result){ /* result is a boolean; true = OK, false = Cancel*/
                            if(result){
                                $.ajax({
                                    url: urlStr,
                                    type: 'post',
                                    data:{
                                        ID:event.ID
                                    },
                                    success: function (data) {
                                        if(data == "OK"){
                                            $('#calendar').fullCalendar('refetchEvents');
                                        }
                                    },
                                    error: function () {
                                        $("#loadingModal").modal('hide');
                                        bootbox.alert("删除时请求失败")
                                    }
                                 });
                            }
                        }
                    })
                },
                dayClick:function(date, allDay, jsEvent, view){
                    var startDate = myformatter(date._d)
                    $.ajax({
                        url: "/SchedulingMaterialSearch",
                        type: 'post',
                        data:{
                            SchedulingTime:startDate
                        },
                        success: function (data) {
                            bootbox.alert({
                                size: "small",
                                message: data,
                                buttons: {
                                    ok: {
                                        label: '知道了'
                                    }
                                }
                            })
                        },
                        error: function () {
                            $("#loadingModal").modal('hide');
                            bootbox.alert("获取物料时请求失败")
                        }
                     });
                }
            });
        })
        //时间格式拼接
        function myformatter(date){
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            var d = date.getDate();
            return y + "-" + getNow(m) + "-" + getNow(d);
        }
        function getNow(s) {
            return s < 10 ? '0' + s: s;
        }
    </script>
</body>
</html>