<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生产计划管理</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script>
        $(function(){
            function createKeyIDObj(keyID){
                return {
                    ID:keyID
                }
            }
            CollectToolbar = {
                search:function(){
                    $.ajax({
                        url: '/allPlanManagers/Search',
                        method: 'POST',
                        traditional: true,
                        data: {BatchID:$('input[name="search"]').val()},
                        dataType: 'json',
                        success: function (data) {
                            $.messager.progress('close');
                            if (data) {
                                $("#tab").datagrid('loadData', data);
                                $.messager.show({
                                    title: '提示',
                                    timeout: 1000,
                                    msg: '查询成功',
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                            }
                        }
                    })
                },
                create:function(){
                    $("#TemplateClassDialog").dialog('open').dialog('setTitle', '新增计划');
                    $('input[name="ID"]').attr("disabled", "disabled");
                    $('input[name="ID"]').val("");
                    $("#SchedulePlanCode").val("")
                    $("#BatchID").val("")
                    $("#PlanQuantity").val("")
                    $('#BrandName option[value=""]').prop("selected", 'selected');
                    $('#Unit option[value=""]').prop("selected", 'selected');
                    $("#PlanBeginTime").datetimebox("setValue", "")
                    $("#PlanEndTime").datetimebox("setValue", "")
                    $("#Type").val("")
                },
                update:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                    } else if (rows.length == 1) {
                        var row = $("#tab").datagrid('getSelected');
                        if(row){
                            $("#TemplateClassDialog").dialog('open').dialog('setTitle', '修改计划');
                            $('input[name="ID"]').val(row.ID);
                            $("#SchedulePlanCode").val(row.SchedulePlanCode)
                            $("#BatchID").val(row.BatchID)
                            $("#PlanQuantity").val(row.PlanQuantity)
                            $('#BrandName option:contains('+row.BrandName+')').prop("selected", 'selected');
                            $('#Unit option:contains('+row.Unit+')').prop("selected", 'selected');
                            $("#PlanBeginTime").datetimebox("setValue", row.PlanBeginTime )
                            $("#PlanEndTime").datetimebox("setValue", row.PlanEndTime )
                            $("#Type").val(row.Type)
                        }
                    }else if(rows.length == 0){
                        $.messager.alert('警告操作！', '请选定一条数据！', 'warning');
                    }
                },
                delete:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                            if (flag) {
                                var a = "";
                                for (var i = 0; i < rows.length; i++) {
                                    // ids.push(parseInt((rows[i].id)));
                                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                // a = JSON.stringify([{"ID":9},{"ID":10}])
                                a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/allPlanManagers/Delete',
                                    method: 'POST',
                                    traditional: true,
                                    // data: JSON.stringify(ids),
                                    data: {
                                        ID:a
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        $.messager.progress('close');

                                        if (data) {
                                            $("#tab").datagrid('loadData', data);
                                            $("#tab").datagrid('load');
                                            $.messager.show({
                                                title: '提示',
                                                timeout:1000,
                                                msg: '删除成功',
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要删除的记录！', 'info');
                    }
                },
                send:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var PrimaryKey = "ID";
                        var jsonarray=[];
                        var jsonstr = []
                        var a = "";
                        for (var i = 0; i < rows.length; i++) {
                            var obj=createKeyIDObj(parseInt(rows[i].ID));
                            jsonarray.push(obj);
                            var objstr = rows[i].PlanStatus
                            jsonstr.push(objstr)
                        }
                        a = JSON.stringify(jsonarray);
                        if($.inArray("10",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("20",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("30",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("31",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("32",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("40",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("50",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("60",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else if($.inArray("70",jsonstr) != -1){
                            $.messager.alert('提示', '只能下发已审核的数据，请重新选择！', 'info');
                        } else{
                            $.messager.confirm('确定操作', '确定要下发所选的记录吗？', function (flag) {
                                if (flag) {
                                    $.ajax({
                                        url: '/ZYPlanGuid/createZYPlanZYtask',
                                        method: 'GET',
                                        data: {
                                            ID:a
                                        },
                                        success: function (data) {
                                            $.messager.progress('close')
                                            if (data == "OK") {
                                                $.messager.show({
                                                    title: '提示',
                                                    timeout:1000,
                                                    msg: '下发成功',
                                                    style: {
                                                        right: '',
                                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                                        bottom: ''
                                                    }
                                                });
                                                $("#tab").datagrid('loaded');
                                                $("#tab").datagrid('load');
                                                $("#tab").datagrid('unselectAll');
                                            }
                                        },
                                        error:function(){
                                            alert("请求失败，请稍后重试！")
                                        }
                                    });
                                }
                            });
                        }
                    } else {
                        $.messager.alert('提示', '请选择要下发的记录！', 'info');
                    }
                },
                unsend:function(){
                    var rows = $("#tab").datagrid('getSelections');
                    if (rows.length > 0) {
                        var PrimaryKey = "ID";
                        var jsonarray=[];
                        var a = "";
                        for (var i = 0; i < rows.length; i++) {
                            var obj=createKeyIDObj(rows[i].BatchID);
                            jsonarray.push(obj);
                        }
                        a = JSON.stringify(jsonarray);
                        $.messager.confirm('确定操作', '确定要撤回所选的记录吗？', function (flag) {
                            if (flag) {
                                $.ajax({
                                    url: '/ZYPlanGuid/RecallPlan',
                                    method: 'GET',
                                    data: {
                                        ID:a
                                    },
                                    success: function (data) {
                                        $.messager.progress('close')
                                        if (data == "OK") {
                                            $.messager.show({
                                                title: '提示',
                                                timeout:1000,
                                                msg: '撤回成功',
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#tab").datagrid('loaded');
                                            $("#tab").datagrid('load');
                                            $("#tab").datagrid('unselectAll');
                                        }else{
                                            $.messager.alert('提示', data, 'info');
                                        }
                                    },
                                    error:function(){
                                        alert("请求失败，请稍后重试！")
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要撤回的记录！', 'info');
                    }
                },
                save:function(){
                    var strID = $('#ID').val();
                    var urlAddr = ""
                    var stmp = $('#BatchID').val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：批次号不能为空！');
                       return false;
                    }
                    stmp = $('#PlanQuantity').val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：计划重量不能为空！');
                       return false;
                    }
                    stmp = $('#BrandName').find("option:selected").val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：品名不能为空！');
                       return false;
                    }
                    stmp = $('#Unit').find("option:selected").val();
                    if(Bee.StringUtils.isEmpty(stmp)) {
                       alert('Warning：单位不能为空！');
                       return false;
                    }
                    if (strID.length >= 1){
                        urlAddr = '/allPlanManagers/' + 'Update'
                        hintinfo = "更新数据"
                    }
                    else {
                        urlAddr = '/allPlanManagers/' + 'Create'
                        hintinfo = "新增数据"
                    }
                    $.ajax({
                        url:"/ZYPlanGuid/isBatchNumber",
                        data:{ABatchID:$("#BatchID").val()},
                        type:"get",
                        success:function(res){
                            if(res == '"NO"'){
                                alert('Warning：批次号重复！请重新输入');
                                return false
                            }else if(res == '"OK"'){
                                $.ajax({
                                    url: urlAddr,
                                    method: 'POST',
                                    traditional: true,
                                    data: {
                                        ID:$('#ID').val(),
                                        SchedulePlanCode:$('#SchedulePlanCode').val(),
                                        BatchID:$('#BatchID').val(),
                                        PlanQuantity:$('#PlanQuantity').val(),
                                        BrandID:$('#BrandName').find("option:selected").val(),
                                        BrandName:$('#BrandName').find("option:selected").html(),
                                        Unit:$('#Unit').find("option:selected").html(),
                                        PlanBeginTime:$('#PlanBeginTime').datetimebox('getValue'),
                                        PlanEndTime:$('#PlanEndTime').datetimebox('getValue'),
                                        Type:$('#Type').val()
                                    },
                                    dataType: 'json',
                                    cache: false,
                                    error: function(data){
                                       alert(hintinfo+ "异常，请刷新后重试...");
                                    },
                                    success: function (data,response,status) {
                                        $.messager.progress('close');
                                        var obj1 = eval(data);
                                        if(obj1[0].status == "OK"){
                                            $.messager.show({
                                                title: '提示',
                                                msg: hintinfo + '成功',
                                                timeout:1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });

                                            $("#TemplateClassForm").form('reset');
                                            $("#TemplateClassDialog").dialog('close');
                                            $("#tab").datagrid('load');
                                        } else {
                                            $.messager.alert(obj1[0].status + '失败！', '未知错误导致失败，请重试！', 'warning');
                                        }
                                    }
                                });
                            }
                        },
                        error:function(){
                            alert("请求错误，请刷新后重试！")
                        }
                    })
                },
                refresh:function(){
                    $("#tab").datagrid('load')
                }
            }

            $("#tab").datagrid({
                //datagrid表格右键操作
                onRowContextMenu: function (e, rowIndex, rowData) { //右键时触发事件
                    //三个参数：e里面的内容很多，真心不明白，rowIndex就是当前点击时所在行的索引，rowData当前行的数据
                    e.preventDefault(); //阻止浏览器捕获右键事件
                    $(this).datagrid("clearSelections"); //取消所有选中项
                    $(this).datagrid("selectRow", rowIndex); //根据索引选中该行
                    $('#contextmenu').menu('show', {
                        //显示右键菜单
                        left: e.pageX,//在鼠标点击处显示菜单
                        top: e.pageY
                    });
                    e.preventDefault();  //阻止浏览器自带的右键菜单弹出
                }
            });
        })
        function formatterStatus(value, row, index){
            if (value == 10){
                return '新增计划'
            }else if(value == 11){
                return '审核计划'
            }else if(value == 20){
                return '下发计划'
            }else if(value == 30){
                return '中控确认生产前的准备'
            }else if(value == 31){
                return '中控复核生产前的准备'
            }else if(value == 40){
                return '任务确认'
            }else if(value == 32){
                return 'QA复核生产前的准备'
            }else if(value == 50){
                return '执行生产'
            }else if(value == 60){
                return '生产完成'
            }else if(value == 61){
                return '中控确认生产结束清场'
            }else if(value == 62){
                return '中控复核生产结束清场'
            }else if(value == 63){
                return 'QA复核清场'
            }else if(value == 70){
                return 'QA放行'
            }
        }
        function styleStatus(value,row,index) {
            if (value == 10){
                return 'background-color:#ffc107;'
            } else if (value == 20){
                return 'background-color:#28a745;'
            }
        }
    </script>
</head>
<body>
    <div class="content">
        <div id="Toolbar" style="padding:0 10px;">
            批次号:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="CollectToolbar.search();">查询</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="CollectToolbar.create();">添加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="CollectToolbar.update();">修改</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="CollectToolbar.delete();">删除</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="CollectToolbar.send();">计划下发</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="CollectToolbar.unsend();">计划撤回</a>
            <a href="#" class="easyui-linkbutton" id="reload" data-options="iconCls:'icon-reload'" onclick="CollectToolbar.refresh();">刷新</a>
        </div>
        <table class="easyui-datagrid" id="tab" title="" style="width:100%;" data-options="
            rownumbers:true,
            singleSelect:false,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            toolbar:'#Toolbar',
            url:'/allPlanManagers/Find',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'PlanStatus',width:100,align:'center'" formatter="formatterStatus" styler="styleStatus">计划状态</th>
                    <th data-options="field:'SchedulePlanCode',width:200,align:'center'">调度编号</th>
                    <th data-options="field:'BatchID',width:200,align:'center'">批次号</th>
                    <th data-options="field:'PlanQuantity',width:100,align:'center'">计划重量</th>
                    <th data-options="field:'BrandName',width:150,align:'center'">品名</th>
                    <th data-options="field:'Unit',width:100,align:'center'">单位</th>
                    <th data-options="field:'PlanBeginTime',width:200,align:'center'">计划开始时间</th>
                    <th data-options="field:'PlanEndTime',width:200,align:'center'">计划完成时间</th>
                    <th data-options="field:'Type',width:100,align:'center'">调度类型</th>
                </tr>
            </thead>
        </table>
        <div id="TemplateClassDialog" class="easyui-dialog" style="width:400px;height:500px;padding:10px;"
             data-options="closed:'true',buttons:'#userClassDialogButtons',modal:true">
            <form id="TemplateClassForm" method="post" class="dialog-form">
                <table class="kv-table">
                    <tbody>
                        <tr>
                            <td class="kv-label">id</td>
                            <td class="kv-content">
                                <input id="ID" name="ID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">调度编号</td>
                            <td class="kv-content">
                                <input id="SchedulePlanCode" name="SchedulePlanCode" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">批次号</td>
                            <td class="kv-content">
                                <input id="BatchID" name="BatchID" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">计划重量</td>
                            <td class="kv-content">
                                <input id="PlanQuantity" name="PlanQuantity" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">品名</td>
                            <td class="kv-content">
                                 <select name="BrandName" id="BrandName" type="text" style="width:157px;" autocomplete="off" placeholder="">
                                    <option value="">请选择</option>
                                    {% for id in Product_info %}
                                        <option value="{{ id['PRCode'] }}">{{ id['text'] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">单位</td>
                            <td class="kv-content">
                                 <select name="Unit" id="Unit" type="text" style="width:157px;" autocomplete="off" placeholder="">
                                    <option value="">请选择</option>
                                    {% for id in Unit %}
                                        <option value="{{ id['UnitCode'] }}">{{ id['text'] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">计划开始时间</td>
                            <td class="kv-content">
                                <input id="PlanBeginTime" name="PlanBeginTime" required="true" type="text" class="easyui-datetimebox" data-options="showSeconds:false,editable:false" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">计划完成时间</td>
                            <td class="kv-content">
                                <input id="PlanEndTime" name="PlanEndTime" required="true" type="text" class="easyui-datetimebox" data-options="showSeconds:false,editable:false" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-label">调度类型</td>
                            <td class="kv-content">
                                <input id="Type" name="Type" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="userClassDialogButtons" >
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="CollectToolbar.save()" >保存</a>
                    <a href="#" class="easyui-linkbutton" onclick="$('#TemplateClassDialog').dialog('close')">关闭</a>
                </div>
            </form>
        </div>
    </div>
    <!-- 右键菜单 -->
    <div id="contextmenu" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-reload'" onclick="CollectToolbar.refresh();">刷新</div>
        <div data-options="iconCls:'icon-add'" onclick="CollectToolbar.create();">新建</div>
        <div class="menu-sep"></div>

        <div data-options="iconCls:'icon-edit'" onclick="CollectToolbar.update();">编辑</div>
        <div data-options="iconCls:'icon-remove'" onclick="CollectToolbar.delete();">删除</div>
        <div data-options="iconCls:'icon-redo'" onclick="CollectToolbar.send();">下发</div>
        <div data-options="iconCls:'icon-undo'" onclick="CollectToolbar.unsend();">撤回</div>
    </div>
</body>
</html>