<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>半成品确认流程</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
</head>
<body>
    <div style="padding: 15px">
        <div id="BatchToolbar" style="padding:0 10px;">
            工单号:
            <input type="text" id="searchBatch" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
            placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="toolbar.searchBatch()">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="toolbar.recheck()">复核通过</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="toolbar.unrecheck()">复核不通过</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-back" onclick="toolbar.check()">审核通过</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-back" onclick="toolbar.uncheck()">审核不通过</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="toolbar.reloadBatch()">刷新</a>
        </div>
        <table class="easyui-datagrid" id="tabBatch" title="成品确认流程" style="width:100%;margin-bottom: 20px;" data-options="
            queryParams: {
                BillNo:''
            },
            loadMsg:false,
            rownumbers:true,
            singleSelect:true,
            autoRowHeight:false,
            pagination:true,
            pageSize:10,
            toolbar:'#BatchToolbar',
            url:'/PartiallyProductsSelect',
            method:'get'">
            <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'BatchID',width:200,align:'center'">批次号</th>
                    <th data-options="field:'BrandName',width:150,align:'center'">品名</th>
                    <th data-options="field:'TotalInvestment',width:150,align:'center'">药材总投料量</th>
                    <th data-options="field:'Produce',width:150,align:'center'">浸膏粉总重量</th>
                    <th data-options="field:'Sampling',width:150,align:'center'">取样量</th>
                    <th data-options="field:'Yield',width:150,align:'center'">得率</th>
                    <th data-options="field:'CheckedPeople',width:150,align:'center'">复核人</th>
                    <th data-options="field:'CheckedStatus',width:150,align:'center'">复核状态</th>
                    <th data-options="field:'Reviewer',width:150,align:'center'">审核人</th>
                    <th data-options="field:'ReviewStatus',width:150,align:'center'">审核状态</th>
                    <th data-options="field:'OperationDate',width:150,align:'center'">修改日期</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(function() {
            toolbar = {
                searchBatch: function () {
                    $("#tabBatch").datagrid('load', {
                        BillNo: $("#searchBatch").val()
                    })
                },
                recheck: function () {
                    var rows = $("#tabBatch").datagrid('getSelections');
                    if (rows.length == 1) {
                        $.messager.confirm('确定操作', '是否通过复核？', function (flag) {
                            if (flag) {
                                $.ajax({
                                    url: '/PartiallyProductsChecked',
                                    method: 'POST',
                                    data: {
                                        ID: rows[0].ID,
                                        CheckedStatus: "通过复核"
                                    },
                                    success: function (data) {
                                        if (data == "OK") {
                                            $.messager.show({
                                                title: '提示',
                                                msg: '确认成功',
                                                timeout: 1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#tabBatch").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请单选要确认的记录！', 'info');
                    }
                },
                unrecheck: function () {
                    var rows = $("#tabBatch").datagrid('getSelections');
                    if (rows.length == 1) {
                        $.messager.confirm('确定操作', '是否不通过复核？', function (flag) {
                            if (flag) {
                                $.ajax({
                                    url: '/WMStatusLoadConfirm',
                                    method: 'POST',
                                    data: {
                                        ID: rows[0].ID,
                                        CheckedStatus: "不通过复核"
                                    },
                                    success: function (data) {
                                        if (data == "OK") {
                                            $.messager.show({
                                                title: '提示',
                                                msg: '确认成功',
                                                timeout: 1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#tabBatch").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请单选要确认的记录！', 'info');
                    }
                },
                check: function () {
                    var rows = $("#tabBatch").datagrid('getSelections');
                    if (rows.length == 1) {
                        $.messager.confirm('确定操作', '是否通过审核？', function (flag) {
                            if (flag) {
                                $.ajax({
                                    url: '/WMStatusLoadConfirm',
                                    method: 'POST',
                                    data: {
                                        ID: rows[0].ID,
                                        ReviewStatus: "通过审核"
                                    },
                                    success: function (data) {
                                        if (data == "OK") {
                                            $.messager.show({
                                                title: '提示',
                                                msg: '确认成功',
                                                timeout: 1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#tabBatch").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请单选要确认的记录！', 'info');
                    }
                },
                check: function () {
                    var rows = $("#tabBatch").datagrid('getSelections');
                    if (rows.length == 1) {
                        $.messager.confirm('确定操作', '是否不通过审核？', function (flag) {
                            if (flag) {
                                $.ajax({
                                    url: '/WMStatusLoadConfirm',
                                    method: 'POST',
                                    data: {
                                        ID: rows[0].ID,
                                        ReviewStatus: "不通过审核"
                                    },
                                    success: function (data) {
                                        if (data == "OK") {
                                            $.messager.show({
                                                title: '提示',
                                                msg: '确认成功',
                                                timeout: 1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#tabBatch").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请单选要确认的记录！', 'info');
                    }
                },
                reloadBatch: function () {
                    $('#tabBatch').datagrid('reload');
                }
            }
        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
    </script>
</body>
</html>