<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原料确认流程</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
</head>
<body>
    <div class="col-md-12" style="padding-top: 15px;">
        <div id="toolbar">
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="Pass">合格确认</button>
            </div>
        </div>
        <table class="table table-bordered" id="tabBatch"></table>
    </div>
    <script>
        $(function() {
            $('#tabBatch').bootstrapTable({
                url: '/ZYPlanWMSSelect',
                method: 'get',
                queryParams:{
                    BillNo:""
                },
	            pagination: true,
                toolbar:"#toolbar",
                search: true,
                pageNumber:1,
	            pageSize: 10,
	            pageList: [10, 20, 30, 40, 50],
                sidePagination: "server",
                paginationLoop:false,
                paginationPreText:'上一页',
                paginationNextText:'下一页',
                singleSelect:false,
                clickToSelect:true,
	            locale: "zh-CN",
	            striped: true,
                columns: [{
                    checkbox: true
                },{
                    field: 'BillNo',
                    title: '单据号'
                },{
                    field: 'product_code',
                    title: '关联SAP的采购订单号'
                },{
                    field: 'btype',
                    title: '单据类型'
                },{
                    field: 'mid',
                    title: '物料编码'
                },{
                    field: 'Num',
                    title: '数量'
                },{
                    field: 'StoreDef_ID',
                    title: '库房编码'
                },{
                    field: 'Confirmer',
                    title: '合格确认人'
                },{
                    field: 'ConfirmStatus',
                    title: '合格状态'
                },{
                    field: 'CheckedPeople',
                    title: '复核人'
                },{
                    field: 'CheckedStatus',
                    title: '复核状态',
                    events: window.checkEvents = {
                        'click .check':function(e,value,row,index){
                            ispassFun("复核",row.ID)
                        }
                    },
                    formatter:checkFormatter
                },{
                    field: 'Reviewer',
                    title: '审核人'
                },{
                    field: 'ReviewStatus',
                    title: '审核状态',
                    events: window.checkEvents = {
                        'click .check':function(e,value,row,index){
                            ispassFun("复核",row.ID)
                        }
                    },
                    formatter:recheckFormatter
                },{
                    field: 'QAConfirm',
                    title: 'QA确认人'
                },{
                    field: 'QAConfirmStatus',
                    title: 'QA确认状态',
                    events: window.checkEvents = {
                        'click .check':function(e,value,row,index){
                            ispassFun("复核",row.ID)
                        }
                    },
                    formatter:QAcheckFormatter
                },{
                    field: 'OperationDate',
                    title: '修改日期'
                },{
                    field: 'IsRelevance',
                    title: '是否关联'
                }]
            });
            $("#Pass").on('click',function(){
                var rows = $('#tabBatch').bootstrapTable("getAllSelections")
                var idsArr = []
                $.each(rows,function(i,value){
                    idsArr.push(createKeyIDObj(rows[i].ID))
                })
                bootbox.dialog({
                    title: '选择是否合格',
                    message: "<p>点击下列按钮选择是否合格，修改后可在表格中查看状态。</p>",
                    size: 'large',
                    buttons: {
                        noclose: {
                            label: "不合格",
                            className: 'btn-warning',
                            callback: function(){
                                $.ajax({
                                    url: '/StapleProductsChecked',
                                    method: 'POST',
                                    data: {
                                        ID:idsArr,
                                        ConfirmStatus:"不合格"
                                    },
                                    success: function (data) {
                                        if(data == "OK"){
                                            bootbox.alert("操作成功");
                                            $('#tabBatch').bootstrapTable("refresh")
                                        }else{
                                            bootbox.alert(data);
                                        }
                                    }
                                })
                            }
                        },
                        ok: {
                            label: "合格",
                            className: 'btn-info',
                            callback: function(){
                                $.ajax({
                                    url: '/StapleProductsChecked',
                                    method: 'POST',
                                    data: {
                                        ID:idsArr,
                                        ConfirmStatus:"合格"
                                    },
                                    success: function (data) {
                                        if(data == "OK"){
                                            bootbox.alert("操作成功");
                                            $('#tabBatch').bootstrapTable("refresh")
                                        }else{
                                            bootbox.alert(data);
                                        }
                                    }
                                })
                            }
                        }
                    }
                });
            })
            function checkFormatter(value, row, index) {
                if(!value) {
                    return "<a href='JavaScript:;' class='check' title='复核'>" + "单击复核" + "</a>";
                }else{
                    return "<a href='JavaScript:;' class='check' title='复核'>" + value + "</a>";
                }
            }
            function recheckFormatter(value, row, index) {
                if(!value){
                    return "<a href='JavaScript:;' class='check' title='审核'>单击审核</a>";
                }else{
                    return "<a href='JavaScript:;' class='check' title='审核'>" + value + "</a>";
                }
            }
            function QAcheckFormatter(value, row, index) {
                if(!value) {
                    return "<a href='JavaScript:;' class='check' title='QA确认'>" + "单击QA确认" + "</a>";
                }else{
                    return "<a href='JavaScript:;' class='check' title='QA确认'>" + value + "</a>";
                }
            }
            function ispassFun(Status,ID){
                bootbox.dialog({
                    title: '选择是否通过',
                    message: "<p>点击下列按钮选择是否通过，修改后可在表格中查看状态。</p>",
                    size: 'large',
                    buttons: {
                        noclose: {
                            label: "不通过",
                            className: 'btn-warning',
                            callback: function(){
                                $.ajax({
                                    url: '/WMStatusLoadConfirm',
                                    method: 'POST',
                                    data: {
                                        ID:ID,
                                        CheckedStatus:Status+"不通过"
                                    },
                                    success: function (data) {
                                        if(data == "OK"){
                                            bootbox.alert(Status+"成功");
                                            $('#tabBatch').bootstrapTable("refresh")
                                        }else{
                                            bootbox.alert(data);
                                        }
                                    }
                                })
                            }
                        },
                        ok: {
                            label: "通过",
                            className: 'btn-info',
                            callback: function(){
                                $.ajax({
                                    url: '/WMStatusLoadConfirm',
                                    method: 'POST',
                                    data: {
                                        ID:ID,
                                        CheckedStatus:Status+"通过"
                                    },
                                    success: function (data) {
                                        if(data == "OK"){
                                            bootbox.alert(Status+"成功");
                                            $('#tabBatch').bootstrapTable("refresh")
                                        }else{
                                            bootbox.alert(data);
                                        }
                                    }
                                })
                            }
                        }
                    }
                });
            }
        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
    </script>
</body>
</html>
