<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物料追溯</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function(){
            $('#beginTimeDate,#endTimehDate').datetimepicker({
                format: 'yyyy-mm-dd',
                startView: 2,
		        minView: 2,
                autoclose: true
            });
            $("#beginTimeDate,#endTimehDate").datetimepicker("setDate", new Date());

            var brand = ""
            $("#seachBatch").on('click',function(){
                if($("#BatchName").find("option:selected").html() == "健胃消食片浸膏粉"){
                    brand = "A"
                }else if($("#BatchName").find("option:selected").html() == "肿节风浸膏"){
                    brand = "B"
                }
                $.ajax({
                    url:'/BatchMaterialTracing/GetData',
                    type:'get',
                    data:{
                        beginTime:$('#beginTimeDate').data("datetimepicker").getDate(),
                        endTime:$('#endTimehDate').data("datetimepicker").getDate(),
                        brand:$("#BatchName").find("option:selected").html()
                    },
                    success:function(data){
                        data = JSON.parse(data)
                        $("#batch").html("<option>请选择</option>")
                        for (var i = 0; i < data.batchs.length; i++) {
                            $("#batch").append("<option>"+ data.batchs[i] + "</option>")
                        }
                    }
                })
            })
            $("#batch").on('change',function(){
                $.ajax({
                    url:'/BatchMaterialTracing/BatchData',
                    type:'get',
                    data:{
                        batch:$(this).find("option:selected").html(),
                        brand:brand
                    },
                    beforeSend:function(XMLHttpRequest){
                        if(brand == "A"){
                            $("#loadingModal1").modal('show');
                        }else if(brand == "B"){
                            $("#loadingModal2").modal('show');
                        }
                    },
                    success:function(data){
                        $("#loadingModal1").modal('hide');
                        $("#loadingModal2").modal('hide');
                        data = JSON.parse(data)
                        for(var key in data){
                            adddata(key,data[key])
                        }
                    }
                })
            })
            function adddata(ids,res){
                $("#" + ids).html(res)
            }
        })
    </script>
</head>
<body>
    <div class="modal" id="loadingModal1">
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="progress progress-striped active" style="margin-bottom: 0;">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <h5>正在加载健胃消食片的物料信息。。。</h5>
        </div>
    </div>
    <div class="modal" id="loadingModal2">
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="progress progress-striped active" style="margin-bottom: 0;">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <h5>正在加载肿节风浸膏的物料信息。。。</h5>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <div class="form-inline">
                <div class="form-group clearfix">
                    <label for="" class="control-label">选择品名：</label>
                    <select id="BatchName" class="form-control">
                        {% for brand in brands %}
                            <option>{{ brand[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="" class="control-label"> 开始时间：</label>
                    <input type="text" class="form-control" id="beginTimeDate">
                    <label for="" class="control-label"> 结束时间：</label>
                    <input type="text" class="form-control" id="endTimehDate">
                    <button class="btn btn-primary" id="seachBatch"> 查询批次号</button>
                    <select id="batch" class="form-control">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</body>
</html>