<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投入产出数据</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <style>
        .panel-body{overflow: hidden;}
    </style>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script>
        $(function(){
            $("#beginTime").datebox("setValue", myformatter(new Date()))
            $("#endTime").datebox("setValue", myformatter(new Date()))
            $('#searchBatchBtn').on('click', function(){
                var result = ''
                $.ajax({
                    url: '/QualityControl/YieldCompare/getBatch',
                    type: 'post',
                    data: {
                        beginTime:$('#beginTime').datebox('getValue'),
                        endTime:$('#endTime').datebox('getValue')
                    },
                    success: function (data) {
                        if (data != "NO") {
                            $.messager.show({
                                title: '提示',
                                timeout: 500,
                                msg: '查询成功',
                                style: {
                                    right: '',
                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                    bottom: ''
                                }
                            });
                            result = JSON.parse(data)
                            $("#LeftTree").tree({
                                data:result
                            })

                        }else{
                            $.messager.alert('提示', '当前时间段暂无批次！', 'info');
                        }
                    }
                })
            });
            $("#LeftTree").tree({
                checkbox:true,
                animate:true,
                loadFilter:function(data){
                    return data;
                },
                onCheck:function(node,checked){
                    var jsonarray = []
                    var ckNodes = $('#LeftTree').tree("getChecked");
                    for (var i = 0; i < ckNodes.length; i++) {
                        jsonarray.push(ckNodes[i].text);
                    }
                    toJson(jsonarray)
                },
                onSelect:function(node){
                    if(node.checkState == "checked"){
                        $('#LeftTree').tree('uncheck', node.target);
                    }else if(node.checkState == "unchecked"){
                        $('#LeftTree').tree('check', node.target);
                    }

                }
            })
        })
        function toJson(batch){
            var myChart = echarts.init(document.getElementById("main"))
            if(batch.length == 0){
                myChart.hideLoading();
            }else {
                myChart.showLoading();
                $.ajax({
                    url: "/QualityControl/BatchDataCompare",
                    type: "post",
                    data: {
                        batch: batch
                    },
                    dataType: "json",
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log(data)
                        if (data[0].input != "NO" || data[0].output != "NO" || data[0].sampling_quantity != "NO") {
                            myChart.hideLoading();
                            myChart.setOption(option = {
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'cross',
                                        crossStyle: {
                                            color: '#999'
                                        }
                                    }
                                },
                                legend: {
                                    data: ['投入量', '产出量', '得率']
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: {
                                    name: "批次号",
                                    type: 'category',
                                    boundaryGap: false,
                                    data: batch
                                },
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '重量',
                                        min: 0,
                                        interval: 500,
                                        axisLabel: {
                                            formatter: '{value} kg'
                                        }
                                    }, {
                                        type: 'value',
                                        name: '百分比',
                                        min: 0,
                                        max: 100,
                                        interval: 10,
                                        axisLabel: {
                                            formatter: '{value} %'
                                        }
                                    }
                                ],
                                series: [{
                                    name: "投入量",
                                    type: 'bar',
                                    data: data.input
                                }, {
                                    name: "产出量",
                                    type: 'bar',
                                    data: data.output
                                }, {
                                    name: "得率",
                                    type: 'bar',
                                    data: data.sampling_quantity
                                }]
                            });
                            myChart.setOption(option);
                        } else {
                            $.messager.alert({
                                title: '提示',
                                msg: data[0].batch + "批次暂无完整数据，请查看其它批次。",
                                icon: 'info',
                                width: 300,
                                top: 200,
                                left: 500
                            })
                            myChart.hideLoading();
                        }
                    }

                })
            }
        }
        function myformatter(date){
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            var d = date.getDate();
            return y+'-'+(m<10?('0'+m):m)+'-'+( d<10?('0'+d):d);
        }
    </script>
</head>
<body>
    <div style="padding:10px 0px 5px 10px;">
	    <a>  起止日期:  </a>
        <input class="easyui-datebox" id="beginTime" data-options="required:true,showSeconds:false,editable:false" style="width:166px;height:35px;line-height:35px;">
        <input class="easyui-datebox" id="endTime" data-options="required:true,showSeconds:false,editable:false" style="width:166px;height:35px;line-height:35px;">
        <a id="searchBatchBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询批次号</a>
	</div>
    <div class="left-tree" style="width: 15%;float: left;vertical-align: top;border: 1px solid #ccc;margin: 1%;padding: 1%;">
        <ul id="LeftTree" class="easyui-tree"></ul>
    </div>
    <div id="container" style="width: 80%;float: left;vertical-align: top;">
        <div id="tt" class="easyui-tabs" style="width:100%;height:600px;margin-top:10px; scrolling:'false'">
            <div title="投入产出数据-统计图">
                <div id="main" style="width: 1000px; height: 560px; margin: 10px auto;"></div>
            </div>
        </div>
    </div>
</body>
</html>