<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折光仪实时数据</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
    <script>
        $(function(){
            $(".pull-right").on('click',function(){
                addTab("折光仪历史数据","/refractometerHistoryData")
            })

            //highchart 实时数据趋势图
            var ws = new WebSocket("ws://192.168.100.150:5003");
            websocket()
            function websocket(){
                ws.onopen = function(){
                    ws.send("hello");
                    console.log("数据发送中...");
                };
            }
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            var chart = Highcharts.chart("chartBox", {
                chart: {
                    type: 'spline',
                    marginRight: 10,
                    events: {
                        load: function () {
                            var series1 = this.series[0],
                                series2 = this.series[1],
                                chart = this;
                            ws.onmessage = function (evt){
                                var received_msg = evt.data;
                                received_msg = JSON.parse(received_msg)
                                var x = new Date(received_msg.realtime).getTime(),   // 返回时间
                                    y1 = parseInt(received_msg.ZGY_ZGL),
                                    y2 = parseInt(received_msg.ZGY_Temp);
                                series1.addPoint([x, y1], true, true);
                                series2.addPoint([x, y2], true, true);
                                $("#conc").html(received_msg.ZGY_ZGL)
                                $("#temp").html(received_msg.ZGY_Temp)
                            };
                            ws.onclose = function(){
                                console.log("连接已关闭...");
                                var dialog = bootbox.dialog({
                                    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>连接服务失败，即将重连...</p>',
                                    closeButton: false
                                });
                                dialog.init(function(){
                                    setTimeout(function(){
                                        dialog.modal('hide');
                                    }, 2000);
                                });
                                var socket = new WebSocket("ws://111.75.201.235:5003");
                                socket.onopen = function(){
                                    socket.send("hello");
                                    console.log("数据发送中...");
                                };
                                socket.onmessage = function (evt){
                                    var received_msg = evt.data;
                                    received_msg = JSON.parse(received_msg)
                                    var x = new Date(received_msg.realtime).getTime(),   // 返回时间
                                        y1 = parseInt(received_msg.ZGY_ZGL),
                                        y2 = parseInt(received_msg.ZGY_Temp);
                                    series1.addPoint([x, y1], true, true);
                                    series2.addPoint([x, y2], true, true);
                                    $("#conc").html(received_msg.ZGY_ZGL)
                                    $("#temp").html(received_msg.ZGY_Temp)
                                };
                                socket.onclose = function(){
                                    console.log("连接已关闭...");
                                };
                            };
                        }
                    }
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    plotLines: [{
                        color: '#f56589',
                        width: 2,
                        value: 5,
                        dashStyle: 'longdashdot',
                        id:"a"
                    },{
                        color: '#ffc107',
                        width: 2,
                        value: 10,
                        dashStyle: 'longdashdot',
                        id:"b"
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                credits: {
                    enabled: false//不显示LOGO
                },
                series: [{
                    name: '折光率',
                    data: (function () {
                        var data = [],
                            i;
                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: null,
                                y: 0
                            });
                        }
                        return data;
                    }())
                },{
                    name: '温度',
                    data: (function () {
                        var data = [],
                            i;
                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: null,
                                y: 0
                            });
                        }
                        return data;
                    }())
                }]
            });
            //上下限
            $("#tagTop").on('blur',function(){
                chart.yAxis[0].removePlotLine('a');
                chart.yAxis[0].addPlotLine({
                    color: '#f56589',
                    width: 2,
                    value: $(this).val(),
                    dashStyle: 'longdashdot',
                    id:"a"
                })
            })
            $("#tagBottom").on('blur',function(){
                chart.yAxis[0].removePlotLine('b');
                chart.yAxis[0].addPlotLine({
                    color: '#ffc107',
                    width: 2,
                    value: $(this).val(),
                    dashStyle: 'longdashdot',
                    id:"b"
                })
            })
            //按钮点击后添加选项卡
            function addTab(title, url) {
                if (parent.parent.$('.easyui-tabs1').tabs('exists', title)) {
                    parent.parent.$('.easyui-tabs1').tabs('select', title);
                }
                else {
                    var content = '<iframe class="page-iframe" src="' + url + '" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>';
                    parent.parent.$('.easyui-tabs1').tabs('add', {
                        title: title,
                        content: content,
                        closable: true
                    });
                }
            }
            //时间格式转换
            function Appendzero(obj){
                if(obj < 10){
                    return "0" + obj
                }else{
                    return obj
                }
            }
            function myformatter(date){
                var y = date.getFullYear();
                var m = date.getMonth()+1;
                var d = date.getDate();
                var h = date.getHours()
                var minutes = date.getMinutes()
                var s = date.getSeconds()
                return Appendzero(y) + '-' + Appendzero(m) + '-' + Appendzero(d) + ' ' + Appendzero(h) + ':' + Appendzero(minutes);
            }
        })
    </script>
</head>
<body style="background: #e3e5e4;">
    <div class="container">
        <div style="margin: 28px;position: relative;background-color: #e3e5e4;">
            <div style="min-height: 380px;border-width: 0 0 0 0px;background-color: #f8f8f8;border-radius: 0 0 17px 0;padding: 15px;">
                <div style="padding-bottom: 5px;border-bottom: 1px solid #e3e5e4;font-size: 25px;font-weight: bold;">
                    <a class="text-left" href="http://192.168.200.88/main.html" target="_blank">折光仪</a>
                    <a class="pull-right" style="font-weight: 500;font-size: 18px;" href="javascript:;">折光仪历史数据</a>
                </div>
                <div style="margin: 70px 20px 70px 0;font-weight: bold;height: 113px;text-align: right;">
                    <div style="min-width: 30px;float: right;height: 113px;font-size: 12px;margin-left: 10px;">
                        <div style="font-size: 30px;position: relative;top: 70px;right: 0px;">
                            Brix
                        </div>
                    </div>
                    <div id="conc" style="margin-right: 10px;font-size: 100px;float: right;">
                        0.000
                    </div>
                </div>
                <div class="clearfix" style="border-top:1px solid #e3e5e4;padding-top: 10px;">
                    <div style="width: 50%;float: right;color: #7C7D7D;">
                        <div style="font-size: 30px;vertical-align: text-top;font-weight: normal;float: right;">
                            °C
                        </div>
                        <div id="temp" style="text-align: right;font-weight: bold;font-size: 55px;margin-right: 20px;float: right;">
                            0
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="border-top:1px solid #e3e5e4;padding-top: 10px;">
                    <div title="折光仪实时数据" id="chartBox"></div>
                    <div class="col-sm-12" style="margin-top: 20px;">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for=""><span style="color: #f56589">上限</span></label>
                                <input type="number" class="form-control" id="tagTop" value="10"/>
                            </div>
                            <div class="form-group">
                                <label for=""><span style="color: #ffc107">下限</span></label>
                                <input type="number" class="form-control" id="tagBottom" value="5"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
