<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折光仪实时数据</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
    <script>
        $(function(){
            {#function getNewData(){#}
            {#    $.ajax({#}
            {#        url:'/refractometerRedis',#}
            {#        type:'get',#}
            {#        data:{#}
            {#            ZGY_Temp: 'ZGY_Temp',#}
            {#            ZGY_ZGL: 'ZGY_ZGL'#}
            {#        },#}
            {#        async: true,#}
            {#        success:function(data){#}
            {#            data = JSON.parse(data)#}
            {#            $("#conc").html(data.ZGY_ZGL)#}
            {#            $("#temp").html(data.ZGY_Temp)#}
            {#        },#}
            {#        error:function(result){#}
            {#            console.log(result)#}
            {#        }#}
            {#    })#}
            {# }#}
            {#getNewData();#}
            {#setInterval(function(){#}
            {#    getNewData();#}
            {#    getNewChart();#}
            {# }, 2000);#}


            $(".pull-right").on('click',function(){
                addTab("折光仪历史数据","/refractometerHistoryData")
            })
            var myDiv = document.getElementById("main")
            var myChartContainer = function () {
                var width = $("#chartBox").width()
                myDiv.style.width = width +'px';
            };
            myChartContainer();
            var myChart = echarts.init(myDiv)
            $.ajax({
                url: '/refractometerDataHistory',
                type: 'get',
                data: {
                    begin:myformatter(new Date(new Date().getTime() - 5*60*1000)),
                    end:myformatter(new Date())
                },
                success: function (data) {
                    data = JSON.parse(data)
                    myChart.setOption(option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ["折光率","温度"]
                        },
                        toolbox: {
                            feature: {
                                mark : {show: true},
                                dataView: {show: true, readOnly: false},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        grid: {
                            y2: 80
                        },
                        xAxis: {
                            type : 'time',
                            splitNumber:10
                        },
                        yAxis: [
                            {
                                type : 'value',
                                name: '折光率',
                                axisLabel: {
                                    formatter: '{value} Brix'
                                }
                            }, {
                                type: 'value',
                                name: '温度',
                                axisLabel: {
                                    formatter: '{value} °C'
                                }
                            }
                        ],
                        series: [{
                            name: "折光率",
                            type: 'line',
                            yAxisIndex:0,
                            symbol: 'none', //拐点
                            showAllSymbol: true,
                            smooth:true, //曲线
                            data: data.ZGL,
                            markLine : {
                                itemStyle: {
                                    normal: {
                                        borderWidth: 1,
                                        lineStyle: {
                                            type: 'solid',
                                            width: 2,
                                            color:"#ffd85c"
                                        },
                                        label: {
                                            formatter: '',
                                            textStyle: {
                                                fontSize: 16,
                                                fontWeight: "bolder",
                                            },
                                        }
                                    },
                                },
                                data : [
                                    {name : '折光率上限',yAxis:3},
                                    {name : '折光率下限',yAxis:0.03}
                                ]
                            }
                        },{
                            name: "温度",
                            type: 'line',
                            yAxisIndex:1,
                            symbol: 'none', //拐点
                            showAllSymbol: true,
                            smooth:true,
                            data: data.Temp,
                            markLine : {
                                itemStyle: {
                                    normal: {
                                        borderWidth: 1,
                                        lineStyle: {
                                            type: 'solid',
                                            width: 2,
                                            color:"#37A2DA"
                                        },
                                        label: {
                                            formatter: '',
                                            textStyle: {
                                                fontSize: 16,
                                                fontWeight: "bolder",
                                            },
                                        }
                                    },
                                },
                                data : [
                                    {name : '温度上限',yAxis:90},
                                    {name : '温度下限',yAxis:10}
                                ]
                            }
                        }]
                    });
                    myChart.setOption(option);
                }
            })
            $("#chartBox").resize(function(){
                myChartContainer();
                myChart.resize();
            })
            $(".markLineFlg").on('blur',function(){
                var zglTop = $("#zglTop").val()
                var zglBottom = $("#zglBottom").val()
                var wdTop = $("#wdTop").val()
                var wdBottom = $("#wdBottom").val()
                option.series[0].markLine.data[0].yAxis = zglTop
                option.series[0].markLine.data[1].yAxis = zglBottom
                option.series[1].markLine.data[0].yAxis = wdTop
                option.series[1].markLine.data[1].yAxis = wdBottom

                myChart.setOption(option);
            })
            function getNewChart(){
                $.ajax({
                    url: '/refractometerDataHistory',
                    type: 'get',
                    data: {
                        begin:myformatter(new Date(new Date().getTime() - 5*60*1000)),
                        end:myformatter(new Date())
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        option.series[0].data = data.ZGL
                        option.series[1].data = data.Temp
                        myChart.setOption(option);
                    }
                })
            }
            //按钮点击后添加选项卡
            function addTab(title, url) {
                if (parent.parent.$('.easyui-tabs1').tabs('exists', title)) {
                    parent.parent.$('.easyui-tabs1').tabs('select', title);
                }
                else {
                    var content = '<iframe class="page-iframe" src="' + url + '" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>';
                    parent.parent.$('.easyui-tabs1').tabs('add', {
                        title: title,
                        content: content,
                        closable: true
                    });
                }
            }
            //时间格式转换
            function Appendzero(obj){
                if(obj < 10){
                    return "0" + obj
                }else{
                    return obj
                }
            }
            function myformatter(date){
                var y = date.getFullYear();
                var m = date.getMonth()+1;
                var d = date.getDate();
                var h = date.getHours()
                var minutes = date.getMinutes()
                var s = date.getSeconds()
                return Appendzero(y) + '-' + Appendzero(m) + '-' + Appendzero(d) + ' ' + Appendzero(h) + ':' + Appendzero(minutes);
            }
        })
    </script>
</head>
<body style="background: #e3e5e4;">
    <div class="container">
        <div style="margin: 28px auto;position: relative;background-color: #e3e5e4;">
            <div style="min-height: 380px;border-width: 0 0 0 0px;background-color: #f8f8f8;border-radius: 0 0 17px 0;padding: 15px;">
                <div style="padding-bottom: 5px;border-bottom: 1px solid #e3e5e4;font-size: 25px;font-weight: bold;">
                    <a class="text-left" href="http://192.168.200.88/main.html" target="_blank">折光仪</a>
                    <a class="pull-right" style="font-weight: 500;font-size: 18px;" href="javascript:;">折光仪历史数据</a>
                </div>
                <div style="margin: 70px 20px 70px 0;font-weight: bold;height: 113px;text-align: right;">
                    <div style="min-width: 30px;float: right;height: 113px;font-size: 12px;margin-left: 10px;">
                        <div style="font-size: 30px;position: relative;top: 70px;right: 0px;">
                            Brix
                        </div>
                    </div>
                    <div id="conc" style="margin-right: 10px;font-size: 100px;float: right;">
                        0.000
                    </div>
                </div>
                <div class="clearfix" style="border-top:1px solid #e3e5e4;padding-top: 10px;">
                    <div style="width: 50%;float: right;color: #7C7D7D;">
                        <div style="font-size: 30px;vertical-align: text-top;font-weight: normal;float: right;">
                            °C
                        </div>
                        <div id="temp" style="text-align: right;font-weight: bold;font-size: 55px;margin-right: 20px;float: right;">
                            0
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="border-top:1px solid #e3e5e4;padding-top: 10px;">
                    <div title="折光仪实时数据" id="chartBox">
                        <div id="main" style="width: 1000px; height: 400px; margin: 10px auto;"></div>
                    </div>
                    <form class="col-sm-6">
                      <div class="form-group">
                        <label for="">
                            折光率上限
                            <span style="display: inline-block;margin-bottom:3px;width: 50px;height: 3px;background: #ffd85c;"></span>
                        </label>
                        <input type="number" class="form-control markLineFlg" id="zglTop" value="3"/>
                      </div>
                      <div class="form-group">
                        <label for="">
                            折光率下限
                            <span style="display: inline-block;margin-bottom:3px;width: 50px;height: 3px;background: #ffd85c;"></span>
                        </label>
                        <input type="number" class="form-control markLineFlg" id="zglBottom" value="0.03"/>
                      </div>
                    </form>
                    <form class="col-sm-6">
                      <div class="form-group">
                        <label for="">
                            温度上限
                            <span style="display: inline-block;margin-bottom:3px;width: 50px;height: 3px;background: #37A2DA;"></span>
                        </label>
                        <input type="number" class="form-control markLineFlg" id="wdTop" value="90"/>
                      </div>
                      <div class="form-group">
                        <label for="">
                            温度下限
                            <span style="display: inline-block;margin-bottom:3px;width: 50px;height: 3px;background: #37A2DA;"></span>
                        </label>
                        <input type="number" class="form-control markLineFlg" id="wdBottom" value="10"/>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            if ("WebSocket" in window){
                var ws = new WebSocket("ws://127.0.0.1:9200");
                ws.onopen = function(){
                    ws.send();
                    console.log("数据发送中...");
                };
                ws.onmessage = function (evt){
                    var received_msg = evt.data;
                    console.log(evt)
                };
                ws.onclose = function(){
                    console.log("连接已关闭...");
                };
            }else{
               bootbox.alert("您的浏览器不支持 WebSocket！无法查看实时数据。");
            }
        })
    </script>
</body>
</html>