<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>权限分配</title>
	<link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
</head>

<body>
	<div style="padding:10px 0px 5px 10px;">
	    <a href="#" class="easyui-linkbutton" id="SaveBtn" data-options="iconCls:'icon-save'">保存</a>
	</div>
    <div style="width:100%;">
        <div style="display:inline-block;border:1px solid #ccc;padding:10px;vertical-align: top;white-space:nowrap;width: 15%;">
            <div style="width:100%;margin:0px;padding-bottom:5px;border-bottom:1px solid green;font-weight:bold;"><h3>职位列表</h3></div>
            <div style="margin:10px;"></div>
                <ul class="easyui-tree" id="tree"></ul>
        </div>
        <div style="display:inline-block;border:1px solid #ccc;padding:10px;vertical-align: top;width: 60%;white-space:nowrap;">
            <div style="width:100%;margin:0px;padding-bottom:5px;border-bottom:1px solid green;font-weight:bold;"><h3>用户列表</h3></div>
            <div style="margin:10px;"></div>
            <table class="easyui-datagrid" id="tab" title="" style="width:100%" data-options="
                queryParams: {
                    ID: ''
                },
                rownumbers:true,
                singleSelect:true,
                url:'/permission/userlist',
                method:'get',
                rownumbers:true,
                singleSelect:true,
                autoRowHeight:false,
                pagination:true,
                fitColumns:true,
                striped:true,
                checkOnSelect:true,
                selectOnCheck:true,
                collapsible:true,
                toolbar:'#tb',
                pageSize:10">
                <thead>
                    <tr>
                        <th data-options="field:'Name',width:140,align:'center'">用户名</th>
                        <th data-options="field:'WorkNumber',width:100,align:'center'">登录账号</th>
                        <th data-options="field:'Status',width:80,align:'center'">状态</th>
                        <th data-options="field:'OrganizationName',width:100,align:'center'">所属部门</th>
                        <th data-options="field:'Creater',width:120,align:'center'">创建用户</th>
                        <th data-options="field:'CreateTime',width:160,align:'center'">创建时间</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="display:inline-block;border:1px solid #ccc;padding:10px;vertical-align: top;white-space:nowrap;width: 15%;">
            <div style="width:100%;margin:0px;padding-bottom:5px;border-bottom:1px solid green;font-weight:bold;"><h3>功能模块列表</h3></div>
            <div style="margin:10px;"></div>
            <ul id="tt" class="easyui-tree"></ul>
        </div>
    </div>
    <script type="text/javascript">
        function createKeyIDObj(keyID){
            return {
                menu_id:keyID
            }
        }
        $(function(){
            $("#tt").tree({
                url:'/permission/menulist',
                method: 'get',
                animate:true,
                checkbox:true,
                onlyLeafCheck:true,//去掉父节点复选框
                loadFilter:function(data){
                    return data;
                },
                onBeforeLoad:function(node, param){
                    param.id = ""
                }
            })
            var treeId = ""
            $("#tree").tree({
                url:'/Permission/SelectRoles',
                method: 'get',
                checkbox:true,
                animate:true,
                cascadeCheck:false, //取消菜单联级
                loadFilter:function(data){
                    return data;
                },
                onClick :function(node){
                    $('#tab').datagrid('load',{
                        ID: node.id
                    });
                    $("#tt").tree({
                        url:'/permission/menulist',
                        method: 'get',
                        animate:true,
                        checkbox:true,
                        onlyLeafCheck:true,//去掉父节点复选框
                        loadFilter:function(data){
                            return data;
                        },
                        onBeforeLoad:function(node, param){
                            param.id = node.id
                        }
                    })
                    treeId = node.id
                },
                onSelect:function(node){
                    var ckNodes = $('#tree').tree("getChecked");
                    for (var i = 0; i < ckNodes.length; i++) {
                        if (ckNodes[i].id != node.id) {
                            $('#tree').tree("uncheck", ckNodes[i].target);
                        }
                    }
                    $('#tree').tree('check', node.target);
                    $('#tab').datagrid('load',{
                        ID: node.id
                    });
                    $("#tt").tree({
                        url:'/permission/menulist',
                        method: 'get',
                        animate:true,
                        checkbox:true,
                        onlyLeafCheck:true,//去掉父节点复选框
                        loadFilter:function(data){
                            return data;
                        },
                        onBeforeLoad:function(node, param){
                            param.id = node.id
                        }
                    })
                    treeId = node.id
                },
                onLoadSuccess: function (node, data) {
                    $(this).find('span.tree-checkbox').unbind().click(function () {
                        $('#tree').tree('select', $(this).parent());
                        return false;
                    });
                }
            })

            $("#SaveBtn").on("click",function () {
                var nodes = $("#tt").tree('getChecked')
                var jsonarray = []
                var menu_id = ""
                for (var i = 0; i < nodes.length; i++) {
                    var obj=createKeyIDObj(parseInt(nodes[i].id));
                        jsonarray.push(obj);
                }
                menu_id = JSON.stringify(jsonarray);
                console.log(treeId)
                console.log(menu_id)
                $.get("/permission/MenuToRole",{role_id:treeId,menu_id:menu_id},function(res){
                    $.messager.alert('提示','保存成功！账户重新登录后即可正常使用。');
                })
            })
        })
    </script>
</body>
</html>
