<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原料采购订单</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <style>
        .panel{margin-bottom: 0;}
        .panel-body{padding: 0;border:none;}
    </style>
</head>
<body>
    <div class="col-md-12" style="margin-top: 15px;">
        <div class="panel panel-info">
            <div class="panel-heading">ERP原料采购订单列表</div>
            <div class="panel-body">
                <div id="WMSClassDialog" class="easyui-dialog" style="width:400px;height:200px;padding:10px;"
                     data-options="closed:'true',buttons:'#WMSClassDialogButtons',modal:true">
                    <form id="WMSClassForm" method="post" class="dialog-form">
                        <table class="kv-table">
                            <tbody>
                                <tr>
                                    <td class="kv-label">id</td>
                                    <td class="kv-content">
                                        <input name="id" id="id" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">单据号</td>
                                    <td class="kv-content">
                                        <input name="BillNo" id="BillNo" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">批次号</td>
                                    <td class="kv-content">
                                        <input name="BatchNo" id="BatchNo" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">总数量</td>
                                    <td class="kv-content">
                                        <input name="Num" id="Num" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">物料编码</td>
                                    <td class="kv-content">
                                        <input name="mid" id="mid" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">单据类型</td>
                                    <td class="kv-content">
                                        <input name="btype" id="btype" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">库房号</td>
                                    <td class="kv-content">
                                        <input name="StoreDef_id" id="StoreDef_id" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="WMSClassDialogButtons" >
                            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="toolbar.save()">保存</a>
                            <a href="#" class="easyui-linkbutton" onclick="$('#WMSClassDialog').dialog('close')">关闭</a>
                        </div>
                    </form>
                </div>
                <div class="" id="Toolbar" style="padding: 0 15px;">
                     单据号:
                    <input type="text" id="SearchVal" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                    placeholder="">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="toolbar.Search();">查询</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="toolbar.Add()">添加</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="toolbar.Updata()">编辑</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="toolbar.Delete()">删除</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="toolbar.Reload()">刷新</a>
                </div>
                <table class="easyui-datagrid" id="infoTable" title="" style="width:100%" data-options="
                    loadMsg:false,
                    rownumbers:true,
                    singleSelect:true,
                    autoRowHeight:false,
                    pagination:true,
                    pageSize:10,
                    toolbar:'#Toolbar',
                    url:'/PurchasingOrderSelect',
                    method:'get'">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'BillNo',width:200,align:'center'">单据号</th>
                            <th data-options="field:'BatchNo',width:150,align:'center'">批次号</th>
                            <th data-options="field:'Num',width:150,align:'center'">总数量</th>
                            <th data-options="field:'mid',width:150,align:'center'">物料编码</th>
                            <th data-options="field:'btype',width:150,align:'center'">单据类型</th>
                            <th data-options="field:'StoreDef_id',width:150,align:'center'">库房号</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
        <div class="panel panel-warning">
            <div class="panel-heading">原料采购入库列表</div>
            <div class="panel-body">
                <div class="datagrid-toolbar" style="padding:0 10px;">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="toolbar.relevent()">关联</a>
                </div>
                <table class="easyui-datagrid" id="warningTable" title="" style="width:100%" data-options="
                    queryParams: {
                        BillNo: '',
                        IsRelevance:'0'
                    },
                    loadMsg:false,
                    rownumbers:true,
                    singleSelect:false,
                    autoRowHeight:false,
                    pagination:true,
                    pageSize:10,
                    url:'/erp_model/StapleProductsSearch',
                    method:'get'">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'BillNo',width:200,align:'center'">单据号</th>
                            <th data-options="field:'product_code',width:150,align:'center'">关联SAP的采购订单号</th>
                            <th data-options="field:'btype',width:150,align:'center'">单据类型</th>
                            <th data-options="field:'mid',width:150,align:'center'">物料编码</th>
                            <th data-options="field:'Num',width:150,align:'center'">数量</th>
                            <th data-options="field:'StoreDef_ID',width:150,align:'center'">库房编码</th>
                            <th data-options="field:'CheckedPeople',width:150,align:'center'">复核人</th>
                            <th data-options="field:'CheckedStatus',width:150,align:'center'">复核状态</th>
                            <th data-options="field:'Reviewer',width:150,align:'center'">审核人</th>
                            <th data-options="field:'ReviewStatus',width:150,align:'center'">审核状态</th>
                            <th data-options="field:'QAConfirm',width:150,align:'center'">QA确认</th>
                            <th data-options="field:'QAConfirmStatus',width:150,align:'center'">QA确认状态</th>
                            <th data-options="field:'OperationDate',width:200,align:'center'">修改日期</th>
                            <th data-options="field:'IsRelevance',width:200,align:'center'">是否关联</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
        <div class="panel panel-success">
            <div class="panel-heading">已入库列表</div>
            <div class="panel-body">
                <div class="datagrid-toolbar" style="padding:0 10px;">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="toolbar.unrelevent()">取消关联</a>
                </div>
                <table class="easyui-datagrid" id="successTable" title="" style="width:100%" data-options="
                    queryParams: {
                        BillNo: '',
                        IsRelevance:'1'
                    },
                    loadMsg:false,
                    rownumbers:true,
                    singleSelect:false,
                    autoRowHeight:false,
                    pagination:true,
                    pageSize:10,
                    url:'/erp_model/StapleProductsSearch',
                    method:'get'">
                    <thead>
                        <tr>
                            <th data-options="field:'BillNo',width:200,align:'center'">单据号</th>
                            <th data-options="field:'product_code',width:150,align:'center'">关联SAP的采购订单号</th>
                            <th data-options="field:'btype',width:150,align:'center'">单据类型</th>
                            <th data-options="field:'mid',width:150,align:'center'">物料编码</th>
                            <th data-options="field:'Num',width:150,align:'center'">数量</th>
                            <th data-options="field:'StoreDef_ID',width:150,align:'center'">库房编码</th>
                            <th data-options="field:'CheckedPeople',width:150,align:'center'">复核人</th>
                            <th data-options="field:'CheckedStatus',width:150,align:'center'">复核状态</th>
                            <th data-options="field:'Reviewer',width:150,align:'center'">审核人</th>
                            <th data-options="field:'ReviewStatus',width:150,align:'center'">审核状态</th>
                            <th data-options="field:'QAConfirm',width:150,align:'center'">QA确认</th>
                            <th data-options="field:'QAConfirmStatus',width:150,align:'center'">QA确认状态</th>
                            <th data-options="field:'OperationDate',width:200,align:'center'">修改日期</th>
                            <th data-options="field:'IsRelevance',width:200,align:'center'">是否关联</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#infoTable").datagrid({
                onSelect:function (rowIndex, rowData) {
                    console.log(rowData)
                    $("#successTable").datagrid("load",{

                    })
                }
            })
            toolbar = {
                Search:function(){
                    $('#infoTable').datagrid('load',{
                        infoTable: $('#SearchVal').val()
                    });
                },
                Add:function(){
                    $("#WMSClassDialog").dialog('open').dialog('setTitle','添加订单');
                    $('input[name="BillNo"]').val();
                    $('input[name="BatchNo"]').val();
                    $('input[name="Num"]').val();
                    $('input[name="mid"]').val();
                    $('input[name="btype"]').val();
                    $('input[name="StoreDef_id"]').val();
                },
                Updata:function(){
                    var rows = $("#infoTable").datagrid('getSelections');
                    if (rows.length > 1) {
                        $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
                    }else if(rows.length == 1){
                        var row = $("#infoTable").datagrid('getSelected');
                        if(row){
                            $("#WMSClassDialog").dialog('open').dialog('setTitle','修改信息');
                            $('input[name="BillNo"]').val(row.BillNo);
                            $('input[name="BatchNo"]').val(row.BatchNo);
                            $('input[name="Num"]').val(row.Num);
                            $('input[name="mid"]').val(row.mid);
                            $('input[name="btype"]').val(row.btype);
                            $('input[name="StoreDef_id"]').val(row.StoreDef_id);
                        }
                    } else if (rows.length == 0) {
                        $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
                    }
                },
                save:function(){
                    var strID = $('#ID').val();
                    var urlAddr = ''
                    var hintinfo = ''
                    if(Bee.StringUtils.isEmpty($('#BillNo').val())) {
                        $.messager.alert('提示', '单据号不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#BatchNo').val())){
                        $.messager.alert('提示', '批次号不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#Num').val())){
                        $.messager.alert('提示', '总数量不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#mid').val())){
                        $.messager.alert('提示', '物料编码不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#btype').val())){
                        $.messager.alert('提示', '单据类型不能为空！', 'info');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#StoreDef_id').val())){
                        $.messager.alert('提示', '库房号不能为空！', 'info');
                        return false;
                    }
                    if (strID.length >= 1){
                        urlAddr = '/PurchasingOrderUpdate'
                        hintinfo = "修改"
                    }
                    else {
                        urlAddr = '/PurchasingOrderCreate'
                        hintinfo = "新增"
                    }
                    $.ajax({
                        url:urlAddr,
                        type:"post",
                        data:{
                            ID:$('#ID').val(),
                            BillNo:$('#BillNo').val(),
                            BatchNo:$('#BatchNo').val(),
                            Num:$('#Num').val(),
                            mid:$('#mid').val(),
                            btype:$('#btype').val(),
                            StoreDef_id:$('#StoreDef_id').val()
                        },
                        success:function(data){
                            $.messager.progress('close');
                            if(data == "OK"){
                                $.messager.show({
                                    title: '提示',
                                    msg: hintinfo  + '成功',
                                    timeout:1000,
                                    style: {
                                        right: '',
                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                        bottom: ''
                                    }
                                });
                                $("#WMSClassDialog").dialog('close');
                                $('#infoTable').datagrid('reload');
                            } else {
                                $.messager.alert('提醒：', data, 'warning');
                            }
                        },
                        error: function(data){
                           console.log(data.responseText)
                           alert(hintinfo+ "异常，请刷新后重试...");
                        },
                    })
                },
                Delete:function(){
                    var rows = $("#infoTable").datagrid('getSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                            if (flag) {
                                for (var i = 0; i < rows.length; i++) {
                                    var obj=createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                var a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/PurchasingOrderDetele',
                                    method: 'POST',
                                    traditional: true,
                                    data: a,
                                    success: function (data) {
                                        if(data == "OK"){
                                            $.messager.progress('close');
                                            $.messager.show({
                                                title: '提示',
                                                msg: '删除成功',
                                                timeout:1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#infoTable").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('提示', '请选择要删除的记录！', 'info');
                    }
                },
                Reload:function(){
                    $('#infoTable').datagrid("reload")
                },
                relevent:function(){
                    var rows = $("#infoTable").datagrid('getSelections');
                    if(rows.length == 1){
                        var infoRows = $("#warningTable").datagrid('getSelections');
                        if(infoRows.length > 0){
                            var jsonarray=[];
                            $.messager.confirm('确定操作', '您确认要关联吗？', function (flag) {
                                if (flag) {
                                    for (var i = 0; i < infoRows.length; i++) {
                                        var obj = createKeyIDObj(parseInt(infoRows[i].ID));
                                        jsonarray.push(obj);
                                    }
                                    var a = JSON.stringify(jsonarray);
                                    $.ajax({
                                        url: '/StapleProductsUpdate',
                                        method: 'POST',
                                        traditional: true,
                                        data: {
                                            BillNo:rows[0].BillNo,
                                            ids:a
                                        },
                                        success: function (data) {
                                            if(data == "OK"){
                                                $.messager.progress('close');
                                                $.messager.show({
                                                    title: '提示',
                                                    msg: '关联成功',
                                                    timeout:1000,
                                                    style: {
                                                        right: '',
                                                        top: document.body.scrollTop + document.documentElement.scrollTop,
                                                        bottom: ''
                                                    }
                                                });
                                                $("#successTable").datagrid('reload');
                                            }
                                        }
                                    });
                                }
                            })
                        }else{
                            $.messager.alert('提示', '请选择要关联的数据！', 'info');
                        }
                    }else{
                        $.messager.alert('提示', '请选择单条订单数据！', 'info');
                    }
                },
                unrelevent:function(){
                    var rows = $("#successTable").datagrid('getSelections');
                    if(rows.length > 0){
                        var jsonarray=[];
                        $.messager.confirm('确定操作', '您确认要取消关联吗？', function (flag) {
                            if (flag) {
                                for (var i = 0; i < rows.length; i++) {
                                    var obj = createKeyIDObj(parseInt(rows[i].ID));
                                    jsonarray.push(obj);
                                }
                                var a = JSON.stringify(jsonarray);
                                $.ajax({
                                    url: '/cancelStapleProductsUpdate',
                                    method: 'POST',
                                    traditional: true,
                                    data: a,
                                    success: function (data) {
                                        if(data == "OK"){
                                            $.messager.progress('close');
                                            $.messager.show({
                                                title: '提示',
                                                msg: '已取消关联',
                                                timeout:1000,
                                                style: {
                                                    right: '',
                                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                                    bottom: ''
                                                }
                                            });
                                            $("#successTable").datagrid('reload');
                                        }
                                    }
                                });
                            }
                        })
                    }else{
                        $.messager.alert('提示', '请选择数据进行取消！', 'info');
                    }
                }
            }
        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
    </script>
</body>
</html>
