<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原料采购订单</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
</head>
<body>
    <div class="col-md-12" style="margin-top: 15px;">
        <div class="panel panel-info">
            <div class="panel-heading">ERP原料采购订单列表</div>
            <div class="panel-body">
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    订单表单信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" action="">
                                    <div class="form-group">
                                        <label for="id" class="col-sm-2 control-label">id</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="id" placeholder="" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="BillNo" class="col-sm-2 control-label">单据号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="BillNo" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="BatchNo" class="col-sm-2 control-label">批次号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="BatchNo" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Num" class="col-sm-2 control-label">总数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Num" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mid" class="col-sm-2 control-label">物料编码</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="mid" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="btype" class="col-sm-2 control-label">单据类型</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="btype" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="StoreDef_id" class="col-sm-2 control-label">库房号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="StoreDef_id" placeholder="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- dialog buttons -->
                            <div class="modal-footer"><button type="button" class="btn btn-primary" id="save">保存</button></div>
                        </div>
                    </div>
                </div>
                <div id="Toolbar">
                    <form class="form-inline" style="margin-bottom: 15px;">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon">单据号</label>
                                <input type="text" class="form-control" id="SearchVal">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="toolbar.Search()">查询</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="toolbar.Add()">添加</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="toolbar.Updata()">编辑</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" onclick="toolbar.Delete()">删除</button>
                        </div>
                    </form>
                </div>
                <table class="table table-bordered" id="infoTable"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
        <div class="panel panel-warning">
            <div class="panel-heading">原料采购入库列表</div>
            <div class="panel-body">
                <div id="toolbar1" style="margin-top: 15px;">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="toolbar.relevent()">关联</button>
                    </div>
                </div>
                <table class="table table-bordered" id="warningTable"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
        <div class="panel panel-success">
            <div class="panel-heading">已入库列表</div>
            <div class="panel-body">
                <div id="toolbar2" style="margin-top: 15px;">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="toolbar.unrelevent()">取消关联</button>
                    </div>
                </div>
                <table class="table table-bordered" id="successTable"></table>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#infoTable").bootstrapTable({
                url: '/PurchasingOrderSelect',
                method: 'get',
                queryParams:function(params){
                    return {
                        BillNo: '',
                        limit : params.limit,
                        offset : parseInt(params.offset/params.limit)
                    };
                },
	            pagination: true,
                toolbar:"#Toolbar",
                pageNumber:1,
	            pageSize: 10,
	            pageList: [10, 20, 30, 40, 50],
                sidePagination: "server",
                paginationLoop:false,
                paginationPreText:'上一页',
                paginationNextText:'下一页',
                singleSelect:true,
                clickToSelect:true,
	            locale: "zh-CN",
	            striped: true,
                columns: [{
                    checkbox: true
                },{
                    field: 'BillNo',
                    title: '单据号'
                },{
                    field: 'BatchNo',
                    title: '批次号'
                },{
                    field: 'Num',
                    title: '总数量'
                },{
                    field: 'mid',
                    title: '物料编码'
                },{
                    field: 'btype',
                    title: '单据类型'
                },{
                    field: 'StoreDef_id',
                    title: '库房号'
                }],
                onCheck:function (row,$element) {
                    $("#successTable").bootstrapTable('load',function(){
                        BillNo: row.BillNo
                    })
                }
            })
            $("#warningTable").bootstrapTable({
                url: '/erp_model/StapleProductsSearch',
                method: 'get',
                queryParams:function(params){
                    return {
                        BillNo: '',
                        IsRelevance:'0',
                        limit : params.limit,
                        offset : parseInt(params.offset/params.limit)
                    };
                },
                toolbar:"#toolbar1",
                queryParamsType:'',
                search: true,
                pagination: true,
                pageNumber:1,
	            pageSize: 10,
	            pageList: [10, 20, 30, 40, 50],
                sidePagination: "server",
                paginationLoop:false,
                paginationPreText:'上一页',
                paginationNextText:'下一页',
                singleSelect:true,
                clickToSelect:true,
	            locale: "zh-CN",
	            striped: true,
                columns: [{
                    checkbox: true
                },{
                    field: 'BillNo',
                    title: '单据号'
                },{
                    field: 'product_code',
                    title: '关联SAP的采购订单号'
                },{
                    field: 'btype',
                    title: '单据类型'
                },{
                    field: 'mid',
                    title: '物料编码'
                },{
                    field: 'Num',
                    title: '数量'
                },{
                    field: 'StoreDef_ID',
                    title: '库房编码'
                },{
                    field: 'Confirmer',
                    title: '合格确认人'
                },{
                    field: 'ConfirmStatus',
                    title: '合格状态'
                },{
                    field: 'CheckedPeople',
                    title: '复核人'
                },{
                    field: 'CheckedStatus',
                    title: '复核状态'
                },{
                    field: 'Reviewer',
                    title: '审核人'
                },{
                    field: 'ReviewStatus',
                    title: '审核状态'
                },{
                    field: 'QAConfirm',
                    title: 'QA确认人'
                },{
                    field: 'QAConfirmStatus',
                    title: 'QA确认状态'
                },{
                    field: 'OperationDate',
                    title: '修改日期'
                },{
                    field: 'IsRelevance',
                    title: '是否关联'
                }]
            })
            $("#successTable").bootstrapTable({
                url: '/erp_model/StapleProductsSearch',
                method: 'get',
                queryParams:function(params){
                    return {
                        BillNo: '',
                        IsRelevance:'1',
                        limit : params.limit,
                        offset : parseInt(params.offset/params.limit)
                    };
                },
	            pagination: true,
                toolbar:"#toolbar2",
                search: true,
                pageNumber:1,
	            pageSize: 10,
	            pageList: [10, 20, 30, 40, 50],
                sidePagination: "server",
                paginationLoop:false,
                paginationPreText:'上一页',
                paginationNextText:'下一页',
                singleSelect:false,
                clickToSelect:true,
	            locale: "zh-CN",
	            striped: true,
                columns: [{
                    checkbox: true
                },{
                    field: 'BillNo',
                    title: '单据号'
                },{
                    field: 'product_code',
                    title: '关联SAP的采购订单号'
                },{
                    field: 'btype',
                    title: '单据类型'
                },{
                    field: 'mid',
                    title: '物料编码'
                },{
                    field: 'Num',
                    title: '数量'
                },{
                    field: 'StoreDef_ID',
                    title: '库房编码'
                },{
                    field: 'Confirmer',
                    title: '合格确认人'
                },{
                    field: 'ConfirmStatus',
                    title: '合格状态'
                },{
                    field: 'CheckedPeople',
                    title: '复核人'
                },{
                    field: 'CheckedStatus',
                    title: '复核状态'
                },{
                    field: 'Reviewer',
                    title: '审核人'
                },{
                    field: 'ReviewStatus',
                    title: '审核状态'
                },{
                    field: 'QAConfirm',
                    title: 'QA确认人'
                },{
                    field: 'QAConfirmStatus',
                    title: 'QA确认状态'
                },{
                    field: 'OperationDate',
                    title: '修改日期'
                },{
                    field: 'IsRelevance',
                    title: '是否关联'
                }]
            })
            toolbar = {
                Search:function(){
                    $('#infoTable').bootstrapTable('load',{
                        BillNo: $('#SearchVal').val()
                    });
                },
                Add:function(){
                    $("#myModal").modal('show')
                    $('#BillNo').val();
                    $('#BatchNo').val();
                    $('#Num').val();
                    $('#mid').val();
                    $('#btype').val();
                    $('#StoreDef_id').val();
                },
                Updata:function(){
                    var rows = $("#infoTable").bootstrapTable('getAllSelections');
                    if(rows.length == 1){
                        var row = $("#infoTable").bootstrapTable('getSelections');
                        if(row){
                            $("#myModal").modal('show')
                            $('BillNo').val(row.BillNo);
                            $('BatchNo').val(row.BatchNo);
                            $('Num').val(row.Num);
                            $('mid').val(row.mid);
                            $('btype').val(row.btype);
                            $('StoreDef_id').val(row.StoreDef_id);
                        }
                    } else {
                        bootbox.alert('请单选一条数据进行编辑！');
                    }
                },
                save:function(){
                    var strID = $('#ID').val();
                    var urlAddr = ''
                    var hintinfo = ''
                    if(Bee.StringUtils.isEmpty($('#BillNo').val())) {
                        bootbox.alert('单据号不能为空！');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#BatchNo').val())){
                        bootbox.alert('批次号不能为空！');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#Num').val())){
                        bootbox.alert('总数量不能为空！');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#mid').val())){
                        bootbox.alert('物料编码不能为空！');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#btype').val())){
                        bootbox.alert('单据类型不能为空！');
                        return false;
                    }else if(Bee.StringUtils.isEmpty($('#StoreDef_id').val())){
                        bootbox.alert('库房号不能为空！');
                        return false;
                    }
                    if (strID.length >= 1){
                        urlAddr = '/PurchasingOrderUpdate'
                        hintinfo = "修改"
                    }
                    else {
                        urlAddr = '/PurchasingOrderCreate'
                        hintinfo = "新增"
                    }
                    $.ajax({
                        url:urlAddr,
                        type:"post",
                        data:{
                            ID:$('#ID').val(),
                            BillNo:$('#BillNo').val(),
                            BatchNo:$('#BatchNo').val(),
                            Num:$('#Num').val(),
                            mid:$('#mid').val(),
                            btype:$('#btype').val(),
                            StoreDef_id:$('#StoreDef_id').val()
                        },
                        success:function(data){
                            if(data == "OK"){
                                bootbox.alert('操作成功')
                                $('#infoTable').bootstrapTable('refresh');
                            } else {
                                bootbox.alert(data)
                            }
                        },
                        error: function(data){
                           console.log(data.responseText)
                           bootbox.alert('请求失败')
                        },
                    })
                },
                Delete:function(){
                    var rows = $("#infoTable").bootstrapTable('getAllSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        bootbox.confirm({
                            message: "您确认要删除所选的记录吗？",
                            buttons: {
                                confirm: {
                                    label: '删除',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: '返回',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if(result){
                                    for (var i = 0; i < rows.length; i++) {
                                        var obj=createKeyIDObj(parseInt(rows[i].ID));
                                        jsonarray.push(obj);
                                    }
                                    var a = JSON.stringify(jsonarray);
                                    $.ajax({
                                        url: '/PurchasingOrderDetele',
                                        method: 'POST',
                                        traditional: true,
                                        data: a,
                                        success: function (data) {
                                            if(data == "OK"){
                                                bootbox.alert('成功删除')
                                                $("#infoTable").bootstrapTable('refresh');
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    } else {
                        bootbox.alert('请选择要删除的记录')
                    }
                },
                relevent:function(){
                    var rows = $("#infoTable").bootstrapTable('getSelections');
                    if(rows.length == 1){
                        var infoRows = $("#warningTable").bootstrapTable('getAllSelections');
                        if(infoRows.length > 0){
                            var jsonarray=[];
                            bootbox.confirm({
                                message: "您确认要关联吗？",
                                buttons: {
                                    confirm: {
                                        label: '确认关联',
                                        className: 'btn-success'
                                    },
                                    cancel: {
                                        label: '返回',
                                        className: 'btn-danger'
                                    }
                                },
                                callback: function (result) {
                                    if(result){
                                        for (var i = 0; i < infoRows.length; i++) {
                                            var obj = createKeyIDObj(parseInt(infoRows[i].ID));
                                            jsonarray.push(obj);
                                        }
                                        var a = JSON.stringify(jsonarray);
                                        $.ajax({
                                            url: '/StapleProductsUpdate',
                                            method: 'POST',
                                            traditional: true,
                                            data: {
                                                BillNo:rows[0].BillNo,
                                                ids:a
                                            },
                                            success: function (data) {
                                                if(data == "OK"){
                                                    bootbox.alert('成功关联')
                                                    $("#successTable").bootstrapTable('refresh');
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        }else{
                            bootbox.alert('请选择要关联的数据')
                        }
                    }else{
                        bootbox.alert('请选择单条订单数据')
                    }
                },
                unrelevent:function(){
                    var rows = $("#successTable").bootstrapTable('getAllSelections');
                    if(rows.length > 0){
                        var jsonarray=[];
                        bootbox.confirm({
                            message: "您确认要取消关联吗？",
                            buttons: {
                                confirm: {
                                    label: '取消关联',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: '返回',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if(result){
                                    for (var i = 0; i < rows.length; i++) {
                                        var obj = createKeyIDObj(parseInt(rows[i].ID));
                                        jsonarray.push(obj);
                                    }
                                    var a = JSON.stringify(jsonarray);
                                    $.ajax({
                                        url: '/cancelStapleProductsUpdate',
                                        method: 'POST',
                                        traditional: true,
                                        data: a,
                                        success: function (data) {
                                            if(data == "OK"){
                                                bootbox.alert('已取消关联')
                                                $("#successTable").bootstrapTable('refresh');
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    }else{
                        bootbox.alert('请选择需要取消关联的数据')
                    }
                }
            }
        })
        function createKeyIDObj(keyID){
            return {
                id:keyID
            }
        }
    </script>
</body>
</html>
