<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工厂管理</title>

    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <link href="../static/css/process.css" rel="stylesheet">
    <link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <textFactory id="wote"></textFactory>
        <table id="FactoryClassTable"></table>

        <div id="FactoryClassToolbar" style="padding:0 10px;">
            名称:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="FactoryClassToolbar.search();">查询</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="FactoryClassToolbar.create();">添加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="FactoryClassToolbar.update();">修改</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="FactoryClassToolbar.delete();">删除</a>
            <a href="#" class="easyui-linkbutton" id="reload" data-options="iconCls:'icon-reload'" onclick="FactoryClassToolbar.refresh();">刷新</a>
        </div>
    </div>

    <div id="FactoryClassDialog" class="easyui-dialog" style="width:520px;height:450px;padding:10px;"
     data-options="closed:'true',buttons:'#FactoryClassDialogButtons',modal:true">
    <!-- <div id="FactoryClassFormTitle" class="field-title">Title</div> -->
    <form id="FactoryClassForm" method="post" class="dialog-form">
        <table class="kv-table">
            <tbody>
                <tr>
                    <td class="kv-label">ID</td>
                    <td class="kv-content">
                        <input  name="iID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="">
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">工厂编码</td>
                    <td class="kv-content">
                        <input  name="iFactoryCode" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">工厂名称</td>
                    <td class="kv-content">
                        <input  name="iFactoryName" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">工厂代码</td>
                    <td class="kv-content">
                        <input  name="iFactoryNo" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">顺序</td>
                    <td class="kv-content">
                        <input  name="iSeq" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">父节点</td>
                    <td class="kv-content">
                        <select class="easyui-combotree" id="iParentEnterprise" name="iParentEnterprise" style="width:156px;"/>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">说明</td>
                    <td class="kv-content">
                        <input  name="iDesc" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">类型</td>
                    <td class="kv-content">
                        <input  name="iType" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="FactoryClassDialogButtons" >
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'"  onclick="FactoryClassToolbar.save()" value="submit" >保存</a>
            <a href="#" class="easyui-linkbutton" onclick="$('#FactoryClassDialog').dialog('close')">关闭</a>
        </div>
    </form>
</div>
<!-- 右键菜单 -->
    <div id="contextmenu" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-reload'" onclick="FactoryClassToolbar.refresh();">刷新</div>
        <div data-options="iconCls:'icon-add'" onclick="FactoryClassToolbar.create();">新建</div>
        <div class="menu-sep"></div>

        <div data-options="iconCls:'icon-edit'" onclick="FactoryClassToolbar.update();">编辑</div>
        <div data-options="iconCls:'icon-remove'" onclick="FactoryClassToolbar.delete();">删除</div>

        <div>
    		<span>其他</span>
    		<div style="width:150px;">
    			<div data-options="" onclick="">启用</div>
    			<div data-options="" onclick="">禁用</div>
    		</div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/system/FactoryClass.js" charset="utf-8"></script>
<script type="text/javascript">
        $(function () {
            $('#FactoryName').attr("disabled", true);
            $("#iParentEnterprise").combotree({
                url:'/Enterprize/parentNode',
                method:'get',
                required: true
            })
        });
    </script>
