<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>产品定义</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <link href="../static/css/process.css" rel="stylesheet">
    <link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/system/ProductRuleClass.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $('#ProductRuleName').attr("disabled", true);
        });
    </script>
</head>

<body>
    <div class="container">
        <textProductRule id="wote"></textProductRule>
        <table id="ProductRuleClassTable"></table>

        <div id="ProductRuleClassToolbar" style="padding:0 10px;">
            名称:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="ProductRuleClassToolbar.search();">查询</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="ProductRuleClassToolbar.create();">添加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="ProductRuleClassToolbar.update();">修改</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="ProductRuleClassToolbar.delete();">删除</a>
            <a href="#" class="easyui-linkbutton" id="reload" data-options="iconCls:'icon-reload'" onclick="ProductRuleClassToolbar.refresh();">刷新</a>
        </div>
    </div>

    <div id="ProductRuleClassDialog" class="easyui-dialog" style="width:520px;height:450px;padding:10px;"
     data-options="closed:'true',buttons:'#ProductRuleClassDialogButtons',modal:true">
    <!-- <div id="ProductRuleClassFormTitle" class="field-title">Title</div> -->
    <form id="ProductRuleClassForm" method="post" class="dialog-form">
        <table class="kv-table">
            <tbody>
                <tr>
                    <td class="kv-label">ID</td>
                    <td class="kv-content">
                        <input  name="iID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="">
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">产品定义编码</td>
                    <td class="kv-content">
                        <input  name="iPRCode" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">产品定义名称</td>
                    <td class="kv-content">
                        <input  name="iPRName" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">说明</td>
                    <td class="kv-content">
                        <input  name="iDesc" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">版本</td>
                    <td class="kv-content">
                        <input  name="iVersion" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">发行日期</td>
                    <td class="kv-content">
                        <input  name="iPublish_date" id="iPublish_date" type="text" class="easyui-datebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">使用日期</td>
                    <td class="kv-content">
                        <input  name="iAppy_date" id="iAppy_date" type="text" class="easyui-datebox" autocomplete="off" placeholder=""  >
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">是否使用</td>
                    <td class="kv-content">
                        <select name="iIsUsed" id="iIsUsed" type="text" style="width:157px;" autocomplete="off">
                            <option value="0" checked>否</option>
                            <option value="1">是</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="ProductRuleClassDialogButtons" >
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'"  onclick="ProductRuleClassToolbar.save()" value="submit" >保存</a>
            <a href="#" class="easyui-linkbutton" onclick="$('#ProductRuleClassDialog').dialog('close')">关闭</a>
        </div>
    </form>
</div>
<!-- 右键菜单 -->
    <div id="contextmenu" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-reload'" onclick="ProductRuleClassToolbar.refresh();">刷新</div>
        <div data-options="iconCls:'icon-add'" onclick="ProductRuleClassToolbar.create();">新建</div>
        <div class="menu-sep"></div>

        <div data-options="iconCls:'icon-edit'" onclick="ProductRuleClassToolbar.update();">编辑</div>
        <div data-options="iconCls:'icon-remove'" onclick="ProductRuleClassToolbar.delete();">删除</div>
    </div>

</body>

</html>
