<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>单位信息</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <link href="../static/css/process.css" rel="stylesheet">
    <link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/system/UnitClass.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $('#UnitName').attr("disabled", true);
        });
    </script>
</head>

<body>
    <div class="container">
        <textUnit id="wote"></textUnit>
        <table id="UnitClassTable"></table>

        <div id="UnitClassToolbar" style="padding:0 10px;">
            名称:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="UnitClassToolbar.search();">查询</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="UnitClassToolbar.create();">添加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="UnitClassToolbar.update();">修改</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="UnitClassToolbar.delete();">删除</a>
            <a href="#" class="easyui-linkbutton" id="reload" data-options="iconCls:'icon-reload'" onclick="UnitClassToolbar.refresh();">刷新</a>
        </div>
    </div>

    <div id="UnitClassDialog" class="easyui-dialog" style="width:520px;height:275px;padding:10px;"
     data-options="closed:'true',buttons:'#UnitClassDialogButtons',modal:true">
    <!-- <div id="UnitClassFormTitle" class="field-title">Title</div> -->
    <form id="UnitClassForm" method="post" class="dialog-form">
        <table class="kv-table">
            <tbody>
                <tr>
                    <td class="kv-label">ID</td>
                    <td class="kv-content">
                        <input  name="iID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">单位编码</td>
                    <td class="kv-content">
                        <input  name="iUnitCode" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">单位名称</td>
                    <td class="kv-content">
                        <input  name="iUnitName" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">说明</td>
                    <td class="kv-content">
                        <input  name="iDesc" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="UnitClassDialogButtons" >
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'"  onclick="UnitClassToolbar.save()" value="submit" >保存</a>
            <a href="#" class="easyui-linkbutton" onclick="$('#UnitClassDialog').dialog('close')">关闭</a>
        </div>
    </form>
</div>
<!-- 右键菜单 -->
    <div id="contextmenu" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-reload'" onclick="UnitClassToolbar.refresh();">刷新</div>
        <div data-options="iconCls:'icon-add'" onclick="UnitClassToolbar.create();">新建</div>
        <div class="menu-sep"></div>

        <div data-options="iconCls:'icon-edit'" onclick="UnitClassToolbar.update();">编辑</div>
        <div data-options="iconCls:'icon-remove'" onclick="UnitClassToolbar.delete();">删除</div>

        <div>
    		<span>其他</span>
    		<div style="width:150px;">
    			<div data-options="" onclick="">启用</div>
    			<div data-options="" onclick="">禁用</div>
    		</div>
        </div>
    </div>

</body>
</html>

