<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>任务信息</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
    <link rel="stylesheet" href="../static/css/providers.css">
    <link href="../static/css/process.css" rel="stylesheet">
    <link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/system/ZYTaskClass.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $('#ZYTaskName').attr("disabled", true);
        });
    </script>
</head>

<body>
    <div class="container">
        <textZYTask id="wote"></textZYTask>
        <table id="ZYTaskClassTable"></table>

        <div id="ZYTaskClassToolbar" style="padding:0 10px;">
            名称:
            <input type="text" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="ZYTaskClassToolbar.search();">查询</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="ZYTaskClassToolbar.create();">添加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="ZYTaskClassToolbar.update();">修改</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="ZYTaskClassToolbar.delete();">删除</a>
            <a href="#" class="easyui-linkbutton" id="reload" data-options="iconCls:'icon-reload'" onclick="ZYTaskClassToolbar.refresh();">刷新</a>
        </div>
    </div>

    <div id="ZYTaskClassDialog" class="easyui-dialog" style="width:600px;height:530px;padding:10px;"
     data-options="closed:'true',buttons:'#ZYTaskClassDialogButtons',modal:true">
    <!-- <div id="ZYTaskClassFormTitle" class="field-title">Title</div> -->
    <form id="ZYTaskClassForm" method="post" class="dialog-form">
        <table class="kv-table">
            <tbody>
                <tr>
                    <td class="kv-label">ID</td>
                    <td class="kv-content">
                        <input  name="iID" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">生产日期</td>
                    <td class="kv-content">
                        <input  name="iPlanDate" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">任务ID</td>
                    <td class="kv-content">
                        <input  name="iTaskID" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">批次号</td>
                    <td class="kv-content">
                        <input  name="iBatchID" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">顺序号</td>
                    <td class="kv-content">
                        <input  name="iPlanSeq" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">工艺段编号</td>
                    <td class="kv-content">
                        <input  name="iPUID" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">计划类型</td>
                    <td class="kv-content">
                        <input  name="iPlanType" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">品牌ID</td>
                    <td class="kv-content">
                        <input  name="iBrandID" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">品牌名称</td>
                    <td class="kv-content">
                        <input  name="iBrandName" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">计划重量</td>
                    <td class="kv-content">
                        <input  name="iPlanQuantity" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">实际重量</td>
                    <td class="kv-content">
                        <input  name="iActQuantity" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">单位</td>
                    <td class="kv-content">
                        <input  name="iUnit" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">录入时间</td>
                    <td class="kv-content">
                        <input  name="iEnterTime" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">实际开始时间</td>
                    <td class="kv-content">
                        <input  name="iActBeginTime" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">实际结束时间</td>
                    <td class="kv-content">
                        <input  name="iActEndTime" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">设定重复次数</td>
                    <td class="kv-content">
                        <input  name="iSetRepeatCount" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">当前重复次数</td>
                    <td class="kv-content">
                        <input  name="iCurretnRepeatCount" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">实际罐号</td>
                    <td class="kv-content">
                        <input  name="iActTank" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
                <tr>
                    <td class="kv-label">任务状态</td>
                    <td class="kv-content">
                        <input  name="iTaskStatus" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                    <td class="kv-label">锁定状态</td>
                    <td class="kv-content">
                        <input  name="iLockStatus" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="ZYTaskClassDialogButtons" >
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'"  onclick="ZYTaskClassToolbar.save()" value="submit" >保存</a>
            <a href="#" class="easyui-linkbutton" onclick="$('#ZYTaskClassDialog').dialog('close')">关闭</a>
        </div>
    </form>
</div>
<!-- 右键菜单 -->
    <div id="contextmenu" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-reload'" onclick="ZYTaskClassToolbar.refresh();">刷新</div>
        <div data-options="iconCls:'icon-add'" onclick="ZYTaskClassToolbar.create();">新建</div>
        <div class="menu-sep"></div>

        <div data-options="iconCls:'icon-edit'" onclick="ZYTaskClassToolbar.update();">编辑</div>
        <div data-options="iconCls:'icon-remove'" onclick="ZYTaskClassToolbar.delete();">删除</div>

        <div>
    		<span>其他</span>
    		<div style="width:150px;">
    			<div data-options="" onclick="">启用</div>
    			<div data-options="" onclick="">禁用</div>
    		</div>
        </div>
    </div>

</body>
</html>

