<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务确认</title>
    <link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagridpanel_customer.css" rel="stylesheet">
    <link href="../static/css/dialogpanel.css" type="text/css" rel="stylesheet">
    <link href="../static/css/datagrid_customer.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
</head>
<body>
    <div class="" style="margin: 1%;">
		<div class="content" style="width:100%;float:left;vertical-align: top;">
            <div id="Toolbar" style="padding:0 10px;">
                <a href="#" class="easyui-linkbutton" id="reload" data-options="iconCls:'icon-redo'" onclick="CollectToolbar.selectEq();">任务一键分配</a>
            </div>
            <table class="easyui-datagrid" id="tabTask" title="任务查询列表" style="width:100%;" data-options="
                loadMsg:false,
                rownumbers:true,
                singleSelect:true,
                autoRowHeight:false,
                pagination:true,
                pageSize:10,
                toolbar:'#Toolbar',
                url:'/processMonitorLine/taskConfirmSearch',
                method:'get'">
                <thead>
                    <tr>
                        <th data-options="field:'BrandName',width:120,align:'center'">品名</th>
                        <th data-options="field:'BatchID',width:120,align:'center'">批次号</th>
                        <th data-options="field:'TaskStatus',width:100,align:'center'" formatter="formatterStatus" styler="styleStatus">任务状态</th>
                        <th data-options="field:'EquipmentID',width:120,align:'center'">设备编码</th>
                        <th data-options="field:'PlanDate',width:100,align:'center'">计划日期</th>
                        <th data-options="field:'TaskID',width:80,align:'center'">制药任务单号</th>
                        <th data-options="field:'PDUnitRouteName',width:100,align:'center'">工艺路线名称</th>
                        <th data-options="field:'PlanType',width:100,align:'center'">计划类型</th>
                        <th data-options="field:'BrandID',width:100,align:'center'">品名编码</th>
                        <th data-options="field:'PlanQuantity',width:100,align:'center'">计划重量</th>
                        <th data-options="field:'ActQuantity',width:100,align:'center'">实际重量</th>
                        <th data-options="field:'Unit',width:100,align:'center'">单位</th>
                        <th data-options="field:'EnterTime',width:150,align:'center'">录入时间</th>
                        <th data-options="field:'ActBeginTime',width:150,align:'center'">实际开始时间</th>
                        <th data-options="field:'ActEndTime',width:150,align:'center'">实际完成时间</th>
                        <th data-options="field:'SetRepeatCount',width:100,align:'center'">设定重复次数</th>
                        <th data-options="field:'CurretnRepeatCount',width:100,align:'center'">当前重复次数</th>
                        <th data-options="field:'ActTank',width:100,align:'center'">实际罐号</th>
                        <th data-options="field:'LockStatus',width:100,align:'center'" formatter="formatterLockStatus">任务锁定状态</th>
                    </tr>
                </thead>
            </table>
            <div id="updataPlanDialog" class="easyui-dialog" style="width:760px;height:560px;padding:10px;"
                 data-options="closed:'true',buttons:'#updataClassDialogButtons',modal:true">
                <form id="ZYPlanClassForm" method="post" class="dialog-form">
                    <table class="kv-table">
                        <tbody>
                            <tr>
                                <td class="kv-label">ID</td>
                                <td class="kv-content">
                                    <input id="ID" name="ID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">选择设备</td>
                                <td class="kv-content">
                                    <input id="EquipmentID" name="EquipmentID" class="easyui-combobox"
                                        data-options="editable:false" style="width:157px;">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">计划日期</td>
                                <td class="kv-content">
                                    <input id="PlanDate" name="PlanDate" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">制药任务单号</td>
                                <td class="kv-content">
                                    <input id="TaskID" name="TaskID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">批次号</td>
                                <td class="kv-content">
                                    <input id="BatchID" name="BatchID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">顺序号</td>
                                <td class="kv-content">
                                    <input id="PlanSeq" name="PlanSeq" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">工艺段</td>
                                <td class="kv-content">
                                    <input id="PUID" name="PUID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">工艺路线名称</td>
                                <td class="kv-content">
                                    <input id="PDUnitRouteName" name="PDUnitRouteName" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">计划类型</td>
                                <td class="kv-content">
                                    <input id="PlanType" name="PlanType" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">牌号编码</td>
                                <td class="kv-content">
                                    <input id="BrandID" name="BrandID" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">牌号名称</td>
                                <td class="kv-content">
                                    <input id="BrandName" name="BrandName" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                               <td class="kv-label">计划重量</td>
                                <td class="kv-content">
                                    <input id="PlanQuantity" name="PlanQuantity" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">实际重量</td>
                                <td class="kv-content">
                                    <input id="ActQuantity" name="ActQuantity" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">单位</td>
                                <td class="kv-content">
                                    <input id="Unit" name="Unit" id="Unit" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">录入时间</td>
                                <td class="kv-content">
                                    <input id="EnterTime" name="EnterTime" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">实际开始时间</td>
                                <td class="kv-content">
                                    <input id="ActBeginTime" name="ActBeginTime" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">实际完成时间</td>
                                <td class="kv-content">
                                    <input id="ActEndTime" name="ActEndTime" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">设定重复次数</td>
                                <td class="kv-content">
                                    <input id="CurretnRepeatCount" name="CurretnRepeatCount" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">实际罐号</td>
                                <td class="kv-content">
                                    <input id="ActTank" name="ActTank" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                                <td class="kv-label">任务状态</td>
                                <td class="kv-content">
                                    <input id="TaskStatus" name="TaskStatus" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">任务锁定状态</td>
                                <td class="kv-content">
                                    <input id="LockStatus" name="LockStatus" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="updataClassDialogButtons" >
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="EquipmentIDSave()" value="submit" >保存</a>
                        <a href="#" class="easyui-linkbutton" onclick="$('#updataPlanDialog').dialog('close')">关闭</a>
                    </div>
                </form>
            </div>
            <div id="oneKeyDialog" class="easyui-dialog" style="width:360px;height:500px;padding:10px;"
                 data-options="closed:'true',buttons:'#oneKeyDialogButtons',modal:true">
                <form id="oneKeyClassForm" method="post" class="dialog-form">
                    <table class="easyui-datagrid" id="tabEQP" title="" style="width:100%;" data-options="
                        queryParams: {
                            PName: '',
                            BrandID:''
                        },
                        loadMsg:false,
                        rownumbers:true,
                        singleSelect:false,
                        autoRowHeight:false,
                        pagination:false,
                        url:'/processMonitorLine/searchPnameEquipment',
                        method:'get'">
                        <thead>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'EQPCode',width:100,align:'center'">设备编号</th>
                            <th data-options="field:'EQPName',width:100,align:'center'">设备名称</th>
                        </thead>
                    </table>
                    <div id="oneKeyDialogButtons" >
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="CollectToolbar.oneKeySave()" value="submit" >确认分配</a>
                        <a href="#" class="easyui-linkbutton" onclick="$('#oneKeyDialog').dialog('close')">关闭</a>
                    </div>
                </form>
            </div>
        </div>
	</div>
    <script type="text/javascript">
         $('#ID').attr("disabled", true);
         $('#EquipmentID').attr("disabled", false);
         $('#PlanDate').attr("disabled", true);
         $('#TaskID').attr("disabled", true);
         $('#BatchID').attr("disabled", true);
         $('#PlanSeq').attr("disabled", true);
         $('#PUID').attr("disabled", true);
         $('#PDUnitRouteName').attr("disabled", true);
         $('#PlanType').attr("disabled", true);
         $('#BrandID').attr("disabled", true);
         $('#BrandName').attr("disabled", true);
         $('#PlanQuantity').attr("disabled", true);
         $('#ActQuantity').attr("disabled", true);
         $('#Unit').attr("disabled", true);
         $('#EnterTime').attr("disabled", true);
         $('#ActBeginTime').attr("disabled", true);
         $('#ActEndTime').attr("disabled", true);
         $('#SetRepeatCount').attr("disabled", true);
         $('#CurretnRepeatCount').attr("disabled", true);
         $('#ActTank').attr("disabled", true);
         $('#TaskStatus').attr("disabled", true);
         $('#LockStatus').attr("disabled", true);

         CollectToolbar = {
            selectEq:function(){
                $('#oneKeyDialog').dialog("open").dialog('setTitle', '选择设备，自动分配');
                //获取工艺段的设备
                $("#tabEQP").datagrid({
                    queryParams: {
                        PName: getUrlParam('name') + "段",
                        BrandID: getUrlParam('BrandID')
                    },
                    onLoadSuccess:function(){
                        var dataLenth = $("#tabEQP").datagrid("getData")
                        for (var i=0;i<dataLenth.total;i++){
                            $('#tabEQP').datagrid('selectRow',i);
                        }
                    }
                })
            },
             oneKeySave:function(){
                var rows = $("#tabEQP").datagrid('getSelections'); //选择的设备
                var jsonarray = []
                for (var i = 0; i < rows.length; i++) {
                    jsonarray.push(rows[i].ID);
                }
                jsonarray = JSON.stringify(jsonarray)
                jsonarray = jsonarray.replace(/\[|]/g,'')
                $.ajax({
                    url: '/processMonitorLine/saveEQPCode',
                    method: 'GET',
                    data: {
                        ID:"",
                        UNEQPCode:jsonarray,
                        confirm:"1",
                        PName: getUrlParam('name') + "段",
                        BatchID: getUrlParam('BatchID'),
                        BrandID: getUrlParam('BrandID')
                    },
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.show({
                                title: '提示',
                                timeout: 1000,
                                msg: '分配成功！',
                                style: {
                                    right: '',
                                    top: document.body.scrollTop + document.documentElement.scrollTop,
                                    bottom: ''
                                }
                            });
                            $("#oneKeyDialog").dialog('close');
                            $("#tabTask").datagrid('load')
                        }else{
                            $.messager.alert('提示', data, 'info');
                        }
                    },
                    error: function () {
                        alert("请求失败，请稍后重试！")
                    }
                 });
             }
        }
        $('#tabTask').datagrid({
            queryParams: {
                name:getUrlParam('name') + "段",
                BatchID: getUrlParam('BatchID'),
                BrandID: getUrlParam('BrandID')
            },
            onClickRow:function(rowIndex,rowData){
                if(rowData.LockStatus != 10){
                    $('#updataPlanDialog').dialog("open").dialog('setTitle', '修改设备编码');
                    $('#updataPlanDialog').window('center');
                    $('#ID').val(rowData.ID);
                    $('#EquipmentID').val(rowData.EquipmentID);
                    $('#PlanDate').val(rowData.PlanDate);
                    $('#TaskID').val(rowData.TaskID);
                    $('#BatchID').val(rowData.BatchID);
                    $('#PlanSeq').val(rowData.PlanSeq);
                    $('#PUID').val(rowData.PUID);
                    $('#PDUnitRouteName').val(rowData.PDUnitRouteName);
                    $('#PlanType').val(rowData.PlanType);
                    $('#BrandID').val(rowData.BrandID);
                    $('#BrandName').val(rowData.BrandName);
                    $('#PlanQuantity').val(rowData.PlanQuantity);
                    $('#ActQuantity').val(rowData.ActQuantity);
                    $('#Unit').val(rowData.Unit);
                    $('#EnterTime').val(rowData.EnterTime);
                    $('#ActBeginTime').val(rowData.ActBeginTime);
                    $('#ActEndTime').val(rowData.ActEndTime);
                    $('#SetRepeatCount').val(rowData.SetRepeatCount);
                    $('#CurretnRepeatCount').val(rowData.CurretnRepeatCount);
                    $('#ActTank').val(rowData.ActTank);
                    $('#TaskStatus').val(rowData.TaskStatus);
                    $('#LockStatus').val(rowData.LockStatus);

                    $("#EquipmentID").combobox("clear")
                    $.getJSON("/processMonitorLine/searchAllEquipments",{PUID: rowData.PUID},function(result){
                     $("#EquipmentID").combobox({
                         data: result,
                         valueField:'id',
                         textField:'text'
                     })
                    })
                }else{
                    $.messager.alert('提示', "任务已锁定，请解锁后操作", 'info');
                }

            }
        });
        //获取页面传参
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = decodeURI(window.location.search).substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        //保存选择的设备
        function EquipmentIDSave(){
            var EquipmentIDVal = $("#EquipmentID").combobox('getValue')
            var stmp = EquipmentIDVal;
            if(Bee.StringUtils.isEmpty(stmp)) {
               alert('Warning：设备编号不能为空！');
               return false;
            }
            $.ajax({
                url:"/processMonitorLine/saveEQPCode",
                data:{
                    EQPCode:EquipmentIDVal,
                    ID:$("#ID").val(),
                    confirm:""
                },
                type:"get",
                success:function(res){
                    if(res == "OK"){
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            style: {
                                right: '',
                                top: document.body.scrollTop + document.documentElement.scrollTop,
                                bottom: ''
                            }
                        });
                        $("#updataPlanDialog").dialog('close');
                        $("#tabTask").datagrid('load');
                    }else{
                        $.messager.alert('提示', "未知错误", 'info');
                    }
                },
                error:function(){
                    alert("请求错误，请刷新后重试！")
                }
            })
        }
        function formatterStatus(value, row, index){
            if (value == 10){
                return '新增计划'
            }else if(value == 11){
                return '审核计划'
            }else if(value == 20){
                return '下发计划'
            }else if(value == 30){
                return '中控确认生产前的准备'
            }else if(value == 31){
                return '中控复核生产前的准备'
            }else if(value == 40){
                return '任务确认'
            }else if(value == 32){
                return 'QA复核生产前的准备'
            }else if(value == 50){
                return '执行生产'
            }else if(value == 60){
                return '生产完成'
            }else if(value == 61){
                return '中控确认生产结束清场'
            }else if(value == 62){
                return '中控复核生产结束清场'
            }else if(value == 63){
                return 'QA复核清场'
            }else if(value == 70){
                return 'QA入库'
            }
        }
        function formatterLockStatus(value, row, index){
            if (value == 10){
                return '锁定'
            }else if(value == 0){
                return '解锁'
            }
        }
        function styleStatus(value,row,index) {
            if (value == 10){
                return 'background-color:#007bff;'
            }else if(value == 20){
                return 'background-color:#17a2b8;'
            }else if(value == 30){
                return 'background-color:#009688;'
            }else if(value == 40){
                return 'background-color:#01aaed;'
            }else if(value == 50){
                return 'background-color:#2F4056;'
            }else if(value == 60){
                return 'background-color:#28a745;'
            }else if(value == 70){
                return 'background-color:#e6e2eb;'
            }else if(value == 80){
                return 'background-color:#ffc107;'
            }else if(value == 85){
                return 'background-color:#dc3545;'
            }else if(value == 90){
                return 'background-color:#6c757d;'
            }
        }
    </script>
</body>
</html>