<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户管理</title>
	<link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/custom/uimaker/easyui.css">
	<link href="../static/css/basic_info.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom/uimaker/icon.css">
	<link href="../static/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="left-tree" >
            <ul class="easyui-tree" id="tree"></ul>
		</div>
		<div class="content">
			<div class="column"><span class="current">用户列表</span></div>
			<div id="userClassDialog" class="easyui-dialog" style="width:520px;height:440px;padding:10px;"
                 data-options="closed:'true',buttons:'#userClassDialogButtons',modal:true">
                <form id="userClassForm" method="post" class="dialog-form">
                    <table class="kv-table">
                        <tbody>
                            <tr>
                                <td class="kv-label">ID</td>
                                <td class="kv-content">
                                    <input name="ID" type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" placeholder="" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">用户名</td>
                                <td class="kv-content">
                                    <input name="Name" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">密码</td>
                                <td class="kv-content">
                                    <input name="Password" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">登录名</td>
                                <td class="kv-content">
                                    <input name="LoginName" required="true" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder=""  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">创建用户</td>
                                <td class="kv-content">
                                    <input name="Creater" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder="" disabled="disabled"  >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">创建时间</td>
                                <td class="kv-content">
                                    <input name="CreateTime" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder="" disabled="disabled" >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">上次登录时间</td>
                                <td class="kv-content">
                                    <input name="LastLoginTime" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder="" disabled="disabled" >
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">所属部门</td>
                                <td class="kv-content">
                                    <input name="OrganizationName" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder="">
                                </td>
                            </tr>
{#                            <tr>#}
{#                                <td class="kv-label">是否锁定</td>#}
{#                                <td class="kv-content">#}
{#                                    <input name="IsLock" type="checkbox" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" autocomplete="off" placeholder="">#}
{#                                </td>#}
{#                            </tr>#}
                        </tbody>
                    </table>
                    <div id="userClassDialogButtons" >
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveAdd" onclick="UserClassToolbar.saveAdd()" >保存</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="saveUpdata" onclick="UserClassToolbar.saveUpdata()" >保存</a>
                        <a href="#" class="easyui-linkbutton" onclick="$('#userClassDialog').dialog('close')">关闭</a>
                    </div>
                </form>
            </div>
			<table class="easyui-datagrid" id="tab" title="" style="width:99%" data-options="
                queryParams: {
                    id: '',
                    Name:''
                },
			    rownumbers:true,
                singleSelect:true,
                autoRowHeight:false,
				pagination:true,
				pageSize:10,
				singleSelect:false,
                url:'/MyUser/Select',
                method:'get',
                toolbar:'#toolbar'">
				<thead>
					<tr>
                        <th field="ck" checkbox="true"></th>
						<th data-options="field:'Name',width:120,align:'center'">用户名</th>
						<th data-options="field:'Password',width:120,align:'center'">密码</th>
						<th data-options="field:'LoginName',width:100,align:'center'">登录名</th>
						<th data-options="field:'Status',width:80,align:'center'">登录状态</th>
						<th data-options="field:'Creater',width:120,align:'center'">创建用户</th>
						<th data-options="field:'CreateTime',width:150,align:'center'">创建时间</th>
						<th data-options="field:'LastLoginTime',width:120,align:'center'">上次登录时间</th>
						<th data-options="field:'OrganizationName',width:100,align:'center'">所属部门</th>
{#						<th data-options="field:'IsLock',width:80,align:'center',#}
{#						    formatter : function(value,row,index){#}
{#                                if(value == true){#}
{#                                    return '是'#}
{#                                }else{#}
{#                                    return '否'#}
{#                                }#}
{#                        }">是否锁定</th>#}
					</tr>
				</thead>
			</table>
            <div id="toolbar" style="padding:0 10px;">
                用户名:
                <input type="text" id="NameSearchVal" class="textbox-text validatebox-text textbox-prompt" name="search" style="height:28px;" autocomplete="off"
                placeholder="">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="doSearch();">查询</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="doAdd()">添加</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="doUpdata()">编辑</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="doDelete()">删除</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="doReload()">刷新</a>
            </div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../static/js/Bee.js" charset="utf-8"></script>
<script type="text/javascript">
{#    树形菜单点击事件#}
    var code = ""
    $("#tree").tree({
        url:'/MyOp',
        method: 'get',
        animate:true,
        loadFilter:function(data){
            return data
        },
        onClick :function(node){
            code = node.id
            $('#tab').datagrid('load',{
                id: code
            });
        }
    })
    function doSearch(){
        $('#tab').datagrid('load',{
            id:code,
            Name: $('#NameSearchVal').val()
        });
    }
    function doAdd() {
        $("#saveAdd").show()
        $("#saveUpdata").hide()
        $("#userClassDialog").dialog('open').dialog('setTitle','添加用户');
        $('input[name="ID"]').val(); //ID
        $('input[name="Name"]').val("");//用户名
        $('input[name="Password"]').val("");//密码
        $('input[name="LoginName"]').val("");//登录名
        $('input[name="Creater"]').val($(window.parent.document).find(".pf-user-name").html());//创建用户
        $('input[name="CreateTime"]').val(Bee.DateUtils.getCurrentTime());//创建时间
        $('input[name="LastLoginTime"]').val("");//上次登录时间
        $('input[name="OrganizationName"]').val("");//所属部门
    }
    function doUpdata(){
        $("#saveAdd").hide()
        $("#saveUpdata").show()
        var rows = $("#tab").datagrid('getSelections');
        if (rows.length > 1) {
            $.messager.alert('警告操作！', '编辑记录只能选定一条数据！', 'warning');
        }else if(rows.length == 1){
            var row = $("#tab").datagrid('getSelected');
            if(row){
                $("#userClassDialog").dialog('open').dialog('setTitle','修改信息');
                $('input[name="ID"]').val(row.ID); //ID
                $('input[name="Name"]').val(row.Name);//用户名
                $('input[name="Password"]').val(row.Password);//密码
                $('input[name="LoginName"]').val(row.LoginName);//登录名
                $('input[name="Creater"]').val(row.Creater);//创建用户
                $('input[name="CreateTime"]').val(row.CreateTime);//创建时间
                $('input[name="LastLoginTime"]').val(row.LastLoginTime);//上次登录时间
                $('input[name="OrganizationName"]').val(row.OrganizationName);//所属部门
            }
        } else if (rows.length == 0) {
            $.messager.alert('警告操作！', '请至少选定一条数据进行编辑！', 'warning');
        }
    }
    function doDelete(){
        var rows = $("#tab").datagrid('getSelections');
        if (rows.length > 0) {
            var jsonarray=[];
            $.messager.confirm('确定操作', '您正在删除所选的记录吗？', function (flag) {
                if (flag) {
                    var PrimaryKey = "ID";
                    var a = "";
                    for (var i = 0; i < rows.length; i++) {
                        // ids.push(parseInt((rows[i].id)));
                        var obj=createKeyIDObj(parseInt(rows[i].ID));
                        jsonarray.push(obj);
                    }
                    a = JSON.stringify(jsonarray);
                    $.ajax({
                        url: '/allroles/Delete',
                        method: 'POST',
                        traditional: true,
                        data: a,
                        dataType: 'json',
{#                        beforeSend: function () {#}
{#                            $.messager.progress({#}
{#                                text: '正在删除中...'#}
{#                            });#}
{#                        },#}
                        success: function (data) {

                        }
                    });
                }
            });
        } else {
            $.messager.alert('提示', '请选择要删除的记录！', 'info');
        }
    }
    function doReload(){
        $('#tab').datagrid('reload');
    }
    UserClassToolbar = {
        saveAdd : function () {
             if(Bee.StringUtils.isEmpty($('input[name="Name"]').val())) {
                 $.messager.alert('提示', '用户名不能为空！', 'info');
                 return false;
             }else if(Bee.StringUtils.isEmpty($('input[name="Password"]').val())){
                 $.messager.alert('提示', '密码不能为空！', 'info');
                 return false;
             }else if(Bee.StringUtils.isEmpty($('input[name="LoginName"]').val())){
                 $.messager.alert('提示', '登录名不能为空！', 'info');
                 return false;
             }else if(Bee.StringUtils.isEmpty($('input[name="OrganizationName"]').val())){
                 $.messager.alert('提示', '所属部门不能为空！', 'info');
                 return false;
             }
             $.ajax({
                url: "/user/addUser",
                method: 'POST',
                traditional: true,
                data: {
                    Name :$('input[name="Name"]').val(),
                    Password :$('input[name="Password"]').val(),
                    LoginName :$('input[name="LoginName"]').val(),
                    Creater : $('input[name="Creater"]').val(),
                    OrganizationName :$('input[name="OrganizationName"]').val()
                },
                dataType: 'json',
                cache: false,
                success: function (data,response,status) {
                    $.messager.progress('close');
                },
                 error: function(data){
                       alert("异常，请刷新后重试...");
                 },
             })
        },
        saveUpdata :function () {
            if(Bee.StringUtils.isEmpty($('input[name="Name"]').val())) {
                 $.messager.alert('提示', '用户名不能为空！', 'info');
                 return false;
             }else if(Bee.StringUtils.isEmpty($('input[name="Password"]').val())){
                 $.messager.alert('提示', '密码不能为空！', 'info');
                 return false;
             }else if(Bee.StringUtils.isEmpty($('input[name="LoginName"]').val())){
                 $.messager.alert('提示', '登录名不能为空！', 'info');
                 return false;
             }else if(Bee.StringUtils.isEmpty($('input[name="OrganizationName"]').val())){
                 $.messager.alert('提示', '所属部门不能为空！', 'info');
                 return false;
             }
             $.ajax({
                url: "/user/updateUser",
                method: 'POST',
                traditional: true,
                data: {
                    Name :$('input[name="Name"]').val(),
                    Password :$('input[name="Password"]').val(),
                    LoginName :$('input[name="LoginName"]').val(),
                    Creater : $('input[name="Creater"]').val(),
                    OrganizationName :$('input[name="OrganizationName"]').val()
                },
                dataType: 'json',
                cache: false,
                success: function (data,response,status) {
                    $.messager.progress('close');
                },
                 error: function(data){
                       alert("异常，请刷新后重试...");
                 },
             })
        }
    }
</script>