<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工作台</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <style>
        .content{
            background: #f5f5f5;
            padding:20px;
        }
        .AgencyArea{
            position: relative;
            background: #fff;
            color: #76747a;
            font-size: 14px;
            border-radius: 3px;
            padding: 12px 0;
            margin-bottom:10px;
            text-align: center;
        }
        .AgencyArea .col-md-2:hover{
            cursor: pointer;
        }
        .AgencyArea h3{
            font-size: 28px;
            font-weight: bold;
        }
        .AgencyArea .AgencyArea-item:nth-child(4n+1) h3{
            color: #46b8da;
        }
        .AgencyArea .AgencyArea-item:nth-child(4n+2) h3{
            color: #f0ad4e;
        }
        .AgencyArea .AgencyArea-item:nth-child(4n+3) h3{
            color: #5cb85c;
        }
        .AgencyArea .AgencyArea-item:nth-child(4n) h3{
            color: #337ab7;
        }
    </style>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
</head>
<body>
    <div class="content clearfix">
        <div class="col-md-12">
            <div class="row AgencyArea">
                <div class="col-md-2 AgencyArea-item" skip-src="/ZYPlanGuid/checkplanmanager" title="审核计划">
                    <h3>1</h3>
                    <span><i class="glyphicon glyphicon-check"></i> 计划待审核</span>
                </div>
                <div class="col-md-2 AgencyArea-item" skip-src="/ZYPlanGuid/planmanager" title="下发计划">
                    <h3>2</h3>
                    <span><i class="glyphicon glyphicon-send"></i> 计划待下发</span>
                </div>
                <div class="col-md-2 AgencyArea-item" skip-src="/QAauthPass" title="QA放行">
                    <h3>1</h3>
                    <span><i class="glyphicon glyphicon-log-out"></i> 计划待放行</span>
                </div>
                <div class="col-md-2 AgencyArea-item" skip-src="/BatchMaterielBalanceStatistic" title="批物料平衡统计">
                    <h3>5</h3>
                    <span><i class="glyphicon glyphicon-pencil"></i> 物料平衡待确认</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7" style="height:400px;background: #fff;border-radius: 3px;">
                    <iframe class="page-iframe" src="../static/Highcharts-4.0.3/examples/column-drilldown/index_height.htm" frameborder="no" border="no"
                        height="100%" width="100%" scrolling="auto"></iframe>
                </div>
                <div class="col-md-5" style="height: 400px;border-radius: 3px;padding-right: 0">
                    <div class="panel panel-widget" style="height: 100%;">
                      <div class="panel-heading">制药计划待处理列表<a href="javascript:;" id="toZYPlanManage" style="float: right">点击进行管理</a></div>
                      <div class="panel-body">
                        <table class="table" id="planTable"></table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="col-md-12">#}
{#            <div class="row">#}
{#                <div class="col-md-5" style="height:300px;border-radius: 3px;padding-left: 0">#}
{#                    <div class="panel panel-widget">#}
{#                      <div class="panel-heading">设备信息<a href="javascript:;" id="toZYPlanManage" style="float: right">点击进行管理</a></div>#}
{#                      <div class="panel-body">#}
{#                        <table class="table table-striped" id="planTable">#}
{#                        </table>#}
{#                      </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-7" style="height: 300px;border-radius: 3px;background: #fff;">#}
{#                    <iframe class="page-iframe" src="../static/Highcharts-4.0.3/examples/dynamic-update/index.htm" frameborder="no" border="no" height="100%"#}
{#                        width="100%" scrolling="auto"></iframe>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    <script type="text/javascript">
        //chart0
        $(document).ready(function () {
            $("#planTable").bootstrapTable({
                url:'/maindaiban',
                method: 'get',
                height:400,
                //dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
                //pageSize: 5,//单页记录数s
                //pageList: [5, 10, 20, 50],//分页步进值
                //sidePagination: "server",//服务端分页
                dataType: "json",
                cache: true,
                //queryParamsType : "undefined",
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {};
                    return param;
                },
                columns: [{
                    field: 'BrandName',
                    title: '品名'
                }, {
                    field: 'BatchID',
                    title: '批次号'
                }, {
                    field: 'PlanStatus',
                    title: '计划状态',
                    formatter:function(value,row,index){
                        if (value == 10){
                            return '新增计划'
                        }else if(value == 11){
                            return '审核计划'
                        }else if(value == 20){
                            return '下发计划'
                        }else if(value == 40){
                            return '撤回计划'
                        }else if(value == 50){
                            return '执行计划'
                        }else if(value == 60){
                            return '完成计划'
                        }else if(value == 70){
                            return 'QA放行'
                        }
                    }
                }],
                onLoadSuccess:function(data){
                    console.log(data)
                }
            })

            //有此权限时增加tabs跳转到操作页面 审核-下发-放行-物料平衡
            $(".AgencyArea-item").on('click',function(){
                var text = $(this).attr("title")
                var src = $(this).attr("skip-src")
                $.ajax({
                    url: '/ZYPlanGuid/menuRedirect',
                    method: 'POST',
                    data: {
                        menuName: text
                    },
                    success: function (data) {
                        if (data == "OK") {
                            addTab(text,src)
                        }else{
                            $.messager.alert('提示', data, 'info');
                        }
                    },
                    error: function () {
                        alert("请求失败，请稍后重试！")
                    }
                });
            })

            //增加tabs跳转到制药计划管理
            $("#toZYPlanManage").on('click',function(){
                addTab("制药计划管理","/ZYPlanManage")
            })
        });
        //按钮点击后添加选项卡
        function addTab(title, url) {
            if (parent.$('.easyui-tabs1').tabs('exists', title)) {
                parent.$('.easyui-tabs1').tabs('select', title);
            }
            else {
                var content = '<iframe class="page-iframe" src="' + url + '" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>';
                parent.$('.easyui-tabs1').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }
    </script>
</body>
</html>