<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工作台</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <style>
        .content{
            background: #f5f5f5;
            padding:20px;
        }
        .AgencyArea{
            position: relative;
            background: #fff;
            color: #76747a;
            font-size: 14px;
            border-radius: 3px;
            padding: 12px 0;
            margin-bottom:10px;
            text-align: center;
        }
        .AgencyArea h3{
            font-size: 28px;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
</head>
<body>
    <div class="content">
        <div class="col-md-12">
            <div class="row AgencyArea">
                <div class="col-md-2">
                    <span>计划待审核</span>
                    <h3>1</h3>
                </div>
                <div class="col-md-2">
                    <span>计划待下发</span>
                    <h3>2</h3>
                </div>
                <div class="col-md-2">
                    <span>计划待放行</span>
                    <h3>1</h3>
                </div>
                <div class="col-md-2">
                    <span>物料平衡待确认</span>
                    <h3>5</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7" style="height:300px;background: #fff;border-radius: 3px;">
                    <iframe class="page-iframe" src="../static/Highcharts-4.0.3/examples/column-drilldown/index_height.htm" frameborder="no" border="no"
                        height="280px" width="100%" scrolling="auto"></iframe>
                </div>
                <div class="col-md-5" style="height: 300px;border-radius: 3px;padding-right: 0">
                    <div class="panel panel-widget">
                      <div class="panel-heading">制药计划待处理列表<a href="javascript:;" id="toZYPlanManage" style="float: right">点击进行管理</a></div>
                      <div class="panel-body">
                        <table class="table table-striped" id="planTable">
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-items chart1">
            <div class="chart1-inner">
                <div class="item-hd">产量数据</div>
                <div style="height:280px;width:100%">
                    <iframe class="page-iframe" src="../static/Highcharts-4.0.3/examples/dynamic-update/index.htm" frameborder="no" border="no" height="100%"
                        width="100%" scrolling="auto"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //chart0
        $(document).ready(function () {
            $("#planTable").bootstrapTable({
                url:'/maindaiban',
                dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
                pagination: true,//是否分页
                pageSize: 10,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                sidePagination: "server",//服务端分页
                sortable: true,
                columns: [{
                    field: 'BrandName',
                    title: '品名'
                }, {
                    field: 'BatchID',
                    title: '批次号'
                }, {
                    field: 'PlanStatus',
                    title: '计划状态'
                }, ]
            })

            //增加tabs跳转到制药计划管理
            $("#toZYPlanManage").on('click',function(){
                addTab("制药计划管理","/ZYPlanManage")
            })
        });
        //按钮点击后添加选项卡
        function addTab(title, url) {
            if (parent.$('.easyui-tabs1').tabs('exists', title)) {
                parent.$('.easyui-tabs1').tabs('select', title);
            }
            else {
                var content = '<iframe class="page-iframe" src="' + url + '" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>';
                parent.$('.easyui-tabs1').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }
    </script>
</body>
</html>